
// MIXT COLORS STYLESHEET


// GLOBAL

// Theme Colors
$theme-accent: #539DDD;

// Text Colors
$text-light-color: #fff;
$text-light-color-fade: #aaa;
$text-dark-color: #333;
$text-dark-color-fade: #888;


// NAVBAR

// Navbar Light
$nav-bg: #fff;
$nav-bg-alpha: rgba(255,255,255,0.95);
$nav-border: #e4e4e4;
$nav-border-alpha: rgba(0,0,0,0.2);

$nav-hover-bg: rgba(0,0,0,0.04);

$nav-menu-bg: #fcfcfc;
$nav-menu-hover-bg: darken($nav-menu-bg, 3);

$nav-menu-color: $text-dark-color;
$nav-menu-color-fade: $text-dark-color-fade;
$nav-menu-hover-color: $text-dark-color;

// Navbar Inverse
$nav-bg-dark: #444;
$nav-bg-dark-alpha: rgba(50,50,50,0.95);
$nav-border-dark: #333;
$nav-border-dark-alpha: rgba(0,0,0,0.6);

$nav-hover-bg-dark: rgba(255,255,255,0.04);

$nav-menu-bg-dark: #4a4a4a;
$nav-menu-hover-bg-dark: $nav-hover-bg-dark;

$nav-menu-color-dark: #eee;
$nav-menu-color-dark-fade: #bbb;
$nav-menu-hover-color-dark: $text-light-color;


// SUBNAV & BREADCRUMBS

// Subnav
$subnav-bg: #F4F4F4;
$subnav-border: #CCC;
$subnav-border-alpha: rgba(0,0,0,0.15);


// INPUTS & BUTTONS

// Global
$input-bd: #ccc;
$input-bg: #fdfdfd;

// Input States
$input-focus-bd: #bbb; 
$input-focus-bs: rgba(0,0,0,0.1);

