
// - MIXT COLORS STYLESHEET - //


// GLOBAL

$white: #fff;
$off-white: #f0f0f0;
$red: #D81616;

// Text Colors
$text-light-color: #FFF;
$text-light-color-fade: #AAA;

$text-dark-color: #333;
$text-dark-color-fade: #999;

// Border Colors
$border-color: #E0E0E0;
$border-color-alpha: rgba(0,0,0,0.15);

$border-color-dark: #333;
$border-color-dark-alpha: rgba(0,0,0,0.6);


// Location Bar
$loc-bar-bg: #F5F5F5;
$loc-bar-text: $text-dark-color;
$loc-bar-bd: $border-color;


// INPUTS & BUTTONS

// Global
$input-bd: #CCC;
$input-bg: #FDFDFD;

// Dark Theme
$input-bd-dark: $border-color-dark;
$input-bg-dark: #5F5F5F;

$btn-bg-dark: #555;

// Input States
$input-focus-bd: #BBB; 
$input-focus-bs: rgba(0,0,0,0.1);


// MIXINS

@mixin bg-color-alpha($color, $opacity: 0.9) {
    background-color: $color;
    background-color: rgba($color, $opacity);
}

@mixin bd-color-alpha($color, $opacity: 0.9) {
    border-color: $color;
    border-color: rgba($color, $opacity);
}


// THEMES


// Aqua Theme (Blue Accent)

$aqua-accent: #539DDD;
$aqua-bg-dark-accent: $aqua-accent;

$aqua-bg: #FFF;
$aqua-bg-hover: darken($aqua-bg, 5);

$aqua-border: #ddd;
$aqua-border-alpha: rgba(0,0,0,0.15);

$aqua-bg-dark-border: #333;
$aqua-bg-dark-border-alpha: rgba(0,0,0,0.8);

$aqua-color: #333;
$aqua-color-fade: lighten($aqua-color, 30);

$aqua-bg-dark-color: #fff;
$aqua-bg-dark-color-fade: darken($aqua-bg-dark-color, 4);

$aqua-menu-color: #333;
$aqua-menu-color-fade: lighten($aqua-menu-color, 4);

$aqua-menu-bg: #fbfbfb;
$aqua-menu-bg-hover: darken($aqua-menu-bg, 4);

$aqua-menu-border: #e2e2e2;
$aqua-menu-border-alpha: rgba(0,0,0,0.15);

$aqua-menu-expand: rgba(0,0,0,0.05);