
// - MIXT COLORS STYLESHEET - //


// GLOBAL

// Theme Colors
$theme-accent: #539DDD;

// Text Colors
$text-light-color: #fff;
$text-light-color-fade: #aaa;

$text-dark-color: #333;
$text-dark-color-fade: #999;

// Border Colors
$border-color: #e4e4e4;
$border-color-alpha: rgba(0,0,0,0.15);

$border-color-dark: #333;
$border-color-dark-alpha: rgba(0,0,0,0.6);


// NAVBAR

// Navbar Light
$nav-bg: #fff;
$nav-bg-alpha: rgba(255,255,255,0.95);
$nav-border: $border-color;
$nav-border-alpha: $border-color-alpha;

$nav-hover-bg: rgba(0,0,0,0.04);

$nav-menu-bg: #fcfcfc;
$nav-menu-hover-bg: darken($nav-menu-bg, 3);

$nav-menu-color: $text-dark-color;
$nav-menu-color-fade: $text-dark-color-fade;
$nav-menu-hover-color: $text-dark-color;

// Navbar Inverse
$nav-bg-dark: #444;
$nav-bg-dark-alpha: rgba(50,50,50,0.95);
$nav-border-dark: $border-color-dark;
$nav-border-dark-alpha: $border-color-dark-alpha;

$nav-hover-bg-dark: rgba(255,255,255,0.04);

$nav-menu-bg-dark: #4a4a4a;
$nav-menu-hover-bg-dark: $nav-hover-bg-dark;

$nav-menu-color-dark: #eee;
$nav-menu-color-dark-fade: #bbb;
$nav-menu-hover-color-dark: $text-light-color;


// SUBNAV & BREADCRUMBS

// Subnav
$subnav-bg: #f8f8f8;
$subnav-border: $border-color;
$subnav-border-alpha: $border-color-alpha;


// INPUTS & BUTTONS

// Global
$input-bd: #ccc;
$input-bg: #fdfdfd;

// Input States
$input-focus-bd: #bbb; 
$input-focus-bs: rgba(0,0,0,0.1);

