
// MIXT CONTENT STYLESHEET

#main-wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -50px;
	padding-bottom: 50px;
}

.admin-bar #main-wrap { padding-top: 32px; }

#content-wrap > .container { padding-bottom: 0; }

.fullwidth {

	#content-wrap {
		> .container {
			width: 100%;
			padding-left: 0; padding-right: 0;
			margin-left: 0; margin-right: 0;

			> .row {
				margin-left: 0; margin-right: 0;

				#content {
					width: 100%;
					padding-left: 0; padding-right: 0;
				}
			}
		}
	}

}

#content-wrap {
	color: $text-dark-color;
	border-color: $border-color;
	border-color: $border-color-alpha;

	* { border-color: inherit; }
}

.portfolio-sorter {
	width: 100%;
	padding: 20px;
	background-color: #fff;

	button {
		width: 25%;
	}
}

.grid-container {
	width: 100%;

	article {
		min-width: 200px;
		min-height: 100px;
		width: 25%; float: left;
		padding: 0; margin: 0;
		position: relative;
		overflow: hidden;
		background-color: #f6f6f6;

		&.sticky { width: 50%; }

		&:hover .post-content { bottom: 0; }

		.main-anchor {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
		}

		.post-image img {
			min-width: 100%;
			max-width: 100%;
			min-height: 100%;
		}

		.post-content {
			position: absolute;
			left: 0; right: 0; bottom: -100%;
			padding: 15px 15px 0;
			background-color: rgba(0,0,0,0.7);
			transition: bottom 0.4s ease 0.3s;
		}

		.post-title {
			font-size: 16px;
			margin: 0 0 15px;
		}

		.post-date {
			font-size: 14px;
			color: #999;
			margin: 0 0 15px;
		}
	}
}

@media screen and (max-width: 782px) {
    .admin-bar #main-wrap { padding-top: 46px; }
}

// POST CONTENT

.page-header {
	margin-top: 0;
	
	.page-title { font-size: 26px; }

	.entry-meta {
		display: table;

		> span {
			display: table-cell;
			vertical-align: middle;
		}

		.posted-on {
			border: 1px solid;
			border-color: inherit;
			border-radius: 3px;
			box-shadow: 0 1px 0 rgba(0,0,0,0.1);

			time > span {
				display: block;
				padding: 0 10px;
				text-align: center;
				font-weight: bold;
				line-height: 20px;
			}
		}
	}
}

footer.entry-meta { clear: both; }