
/* - MIXT CONTENT STYLESHEET - */

#main-wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -50px;
	padding-bottom: 50px;
}

.admin-bar #main-wrap { padding-top: 32px; }

#content-wrap > .container { padding-bottom: 0; }

.fullwidth {

	#content-wrap {
		> .container {
			width: 100%;
			padding-left: 0; padding-right: 0;
			margin-left: 0; margin-right: 0;

			> .row {
				margin-left: 0; margin-right: 0;

				#content {
					width: 100%;
					padding-left: 0; padding-right: 0;
				}
			}
		}
	}

}

#content-wrap {
	color: $text-dark-color;
	border-color: $border-color;
	border-color: $border-color-alpha;
	background-color: #fff;
	@extend %bring-to-front;
}

.portfolio-sorter {
	width: 100%;
	padding: 20px;
	background-color: #fff;

	button {
		width: 25%;
	}
}

.gallery-caption,
.bypostauthor {
	display: inherit;
}

.grid-container {
	width: 100%;

	article {
		min-width: 200px;
		min-height: 100px;
		width: 25%; float: left;
		padding: 0; margin: 0;
		position: relative;
		overflow: hidden;
		background-color: #f6f6f6;

		&.sticky { width: 50%; }

		&:hover .post-content { bottom: 0; }

		.main-anchor {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
		}

		.post-image img {
			min-width: 100%;
			max-width: 100%;
			min-height: 100%;
		}

		.post-content {
			position: absolute;
			left: 0; right: 0; bottom: -100%;
			padding: 15px 15px 0;
			background-color: rgba(0,0,0,0.7);
			transition: bottom 0.4s ease 0.3s;
		}

		.post-title {
			font-size: 16px;
			margin: 0 0 15px;
		}

		.post-date {
			font-size: 14px;
			color: #999;
			margin: 0 0 15px;
		}
	}
}

@media screen and (max-width: 782px) {
    .admin-bar #main-wrap { padding-top: 46px; }
}

footer.entry-meta { clear: both; }