
/* - CONTENT STYLESHEET - */

#main-wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
}

.admin-bar #main-wrap { padding-top: 32px; }
.admin-bar.admin-bar-slim #main-wrap { padding-top: 28px !important; }
@media screen and (max-width: 782px) {
	.admin-bar #main-wrap { padding-top: 46px; }
}

#content-wrap {
	color: $text-dark-color;
	border-color: $border-color;
	
	> .row { border-color: inherit; }
}

#content,
.sidebar {
	padding-left: $gutter;
	padding-right: $gutter;
	border-width: 0;
	border-style: solid;
}

#content,
.sidebar,
.posts-container,
.page-nav { border-color: inherit; }

@include media('screen', 'mars') {
	#content-wrap {
		&.has-sidebar {
			#content {
				float: left;
				width: 70%;
				padding-left: $gutter;
				padding-right: $gutter-l;
				border-right-width: 1px;
			}
			.sidebar {
				width: 30%;
				margin-left: -1px;
				padding-right: $gutter;
				padding-left: $gutter-l;
				border-left-width: 1px;
			}
		}

		&.sidebar-left {
			#content {
				float: right;
				padding-left: $gutter-l;
				padding-right: $gutter;
				border-left-width: 1px;
				border-right-width: 0;
			}
			.sidebar {
				margin-left: 0;
				padding-left: $gutter;
				padding-right: $gutter-l;
				border-left-width: 0;
				box-shadow: 1px 0 0 $border-color;

			}
		}
	}

	.fullwidth #content-wrap {
		#content,
		.sidebar {
			padding-left: $gutter-l;
			padding-right: $gutter-l;
		}
	}
}

// Fullwidth Layout

.fullwidth {
	#content-wrap,
	#content-wrap .container { width: 100%; }

	.blog-grid {
		padding: 0 !important;

		.paging-navigation { padding: 0 $gutter; }
	}
}


// Boxed Layout

.boxed {
	
}


// Tags

.tag-list a,
.tagcloud a {
	float: left;
	padding: 4px 8px;
	margin: 0 5px 5px 0;
	color: #fff !important;
	font-size: $font-size-s !important;
	border-radius: $bd-radius;
	background-color: #555;
	transition: color 0.2s, background 0.2s;

	&:hover {
		background-color: $theme-accent;
	}
}

.tagcloud {
	width: 100%;
	overflow: auto;
}

.tag-list {
	display: inline;
	font-size: 0;

	a { float: none; }
}


// Portfolio

.portfolio-sorter {
	width: 100%;
	padding: 20px;
	background-color: #fff;

	button {
		width: 25%;
	}
}

.gallery-caption,
.bypostauthor {
	display: inherit;
}

.grid-container {
	width: 100%;

	article {
		min-width: 200px;
		min-height: 100px;
		width: 25%; float: left;
		padding: 0; margin: 0;
		position: relative;
		overflow: hidden;
		background-color: #f6f6f6;

		&.sticky { width: 50%; }

		&:hover .post-content { bottom: 0; }

		.main-anchor {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
		}

		.post-image img {
			min-width: 100%;
			max-width: 100%;
			min-height: 100%;
		}

		.post-content {
			position: absolute;
			left: 0; right: 0; bottom: -100%;
			padding: 15px 15px 0;
			background-color: rgba(0,0,0,0.7);
			transition: bottom 0.4s ease 0.3s;
		}

		.post-title {
			font-size: 16px;
			margin: 0 0 15px;
		}

		.post-date {
			font-size: 14px;
			color: #999;
			margin: 0 0 15px;
		}
	}
}

footer.entry-meta { clear: both; }

// Blockquotes
blockquote {
	font-size: $font-size;
	padding: $padding-s;
	border-color: $theme-accent;
	background-color: rgba(0,0,0,0.03);

	cite {
		display: block;
		margin-top: 6px;
		opacity: 0.8;
		font-size: $font-size-s;
	}
}