
/* - MIXT HELPERS - */

// 1. Borders
.border-base {
	border-width: 0;
	border-style: solid;
}

.border-top,
.border-top-btm {
	border-top-width: 1px;
	border-top-style: solid;
}
.border-btm,
.border-top-btm {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}


%clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after { clear: both; }
}

// ?. 
%bring-to-front {
	position: relative;
	z-index: 1;
}