
// MIXT NAVBAR STYLESHEET

#top-nav-wrap {
    min-height: 90px;
    z-index: 9999;
    transition: min-height, 0.3s;
}

#navbar-check { width: 0; height: 0; display: none; }


.navbar-mixt {
    width: 100%;
    margin-bottom: 0;
    opacity: 1;
    padding: 20px 0;
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: $nav-border;
    border-color: $nav-border-alpha;
    background-color: $nav-bg;
    background-color: $nav-bg-alpha;
    background-image: none;
    z-index: 9999;
    transition: padding 0.3s, box-shadow 0.2s, background 0.4s;

    .container { padding: 0 15px; }
    .navbar-inner { padding: 0; }

    .navbar-header,
    .navbar-nav { margin: 0; }

    .navbar-header { height: 50px; line-height: 50px; text-align: center; }

    #nav-logo {
        float: none;
        display: inline-block;
        width: 65px; height: 23px;
        padding: 0 !important; margin: 0;
        vertical-align: middle;
        background-size: 100% auto;
        background-repeat: no-repeat;
        transition: width 0.3s, height 0.3s, background-image 0.4s;
    }

    .nav {

        > li > a {
            height: 50px;
            padding: 0 15px;
            line-height: 50px;
            transition: background 0.3s, color 0.3s;
        }

        > li:hover > a,
        .menu-item:hover > a,
        .menu-item:hover > a:hover {
            color: $theme-accent;
            text-decoration: none;
        }

        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: $theme-accent;
                position: relative;
                border-color: transparent;
                background-color: transparent;
            }
        }
        > .active > a:before,
        > .current-menu-parent > a:before {
            width: 100%; height: 2px;
            position: absolute;
            left: 0; bottom: 0;
            content: '';
            background-color: $theme-accent;
            box-shadow: 0 1px 0 $theme-accent;
        }

        > .disabled {
            > a {
                background-color: transparent !important;
            }
            .submenu { display: none !important; }
        }

    }

    .menu-icon {
        font-size: 16px;
        vertical-align: middle;
        margin-right: 5px;

        &:after:empty { display: none; }
    }

    .navbar-toggle {
        height: 50px;
        margin: 0;
        padding: 10px 15px;
        border-width: 0;
        border-left-width: 1px;
        border-radius: 0;
        background-color: transparent;
        transition: background-color 0.3s;
    }

    // Dropdown Menus
    .nav > li > a,
    .submenu > li > a {
        font-weight: 500;
    }

    .nav > li > .submenu {
        margin-top: 10px;
    }

    .submenu {
        display: block;
        padding: 0;
        border-radius: 0;
        border-color: $nav-border;
        border-color: $nav-border-alpha;
        background-color: $nav-menu-bg;
        background-clip: content-box;
        visibility: hidden; opacity: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        transition: visibility 0.2s, opacity 0.2s, margin 0.2s;
        transition-delay: 0.15s;

        li > a {
            text-overflow: ellipsis;
            overflow: hidden;
            transition: background 0.3s, color 0.3s;

            &:focus { background-color: transparent; }
        }

        li > a,
        li .menu-item > a,
        .mega-menu-column li > a {
            clear: both;
            padding: 10px;
            color: $nav-menu-color;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            border-bottom: 1px solid;
            border-color: $nav-border;
            border-color: $nav-border-alpha;
        }

        li:hover,
        li.active:hover {
            > a,
            > a:hover,
            > a:focus {
                color: $theme-accent;
                background-color: $nav-menu-hover-bg;
            }
        }

        li.active {
            > a,
            > a:hover,
            > a:focus {
                color: $theme-accent;
                border-color: $theme-accent;
                background-color: transparent;
            }
        }

        li.disabled {
            opacity: 0.8;

            > a { color: $nav-menu-color-fade !important; }
            .submenu { display: none !important; }
        }

        li:last-child > a,
        .mega-menu-column li:last-child > a {
            border-bottom-width: 0;
        }
    }

    .mega-menu {
        > .submenu {
            > li > a,
            > li:hover > a,
            > li:hover > a:hover {
                height: 44px;
                padding-top: 13px;
                color: $nav-menu-color-fade;
                font-size: 14px;
            }
        }
        .mega-menu-column:last-child > a {
            border-bottom-width: 1px;
        }

        &:hover .mega-menu-column > .submenu {
            visibility: visible;
            opacity: 1;
        }
    }

    .dropdown > .submenu.drop-left,
    .dropdown:last-child > .submenu {
        left: auto; right: 0;
    }

    .drop-arrow {
        font-size: 10px;
        margin-left: 5px;
        vertical-align: middle;
    }

    .drop-submenu.arrow-right {
        > a { padding-right: 30px !important; }
    }
    .drop-submenu.arrow-left {
        > a { padding-left: 30px !important; }

        .drop-arrow {
            right: auto; left: 10px;
        }
        .drop-arrow:before { content: '\f489'; }
    }

    .drop-submenu .drop-arrow {
        position: absolute;
        top: 50%; right: 10px;
        margin: -8px 0 0;
    }

    .drop-menu .submenu,
    .mega-menu-column .submenu {
        .drop-submenu {

            .submenu { background-color: darken($nav-menu-bg, 4); }

            > .submenu {
                transition: visibility 0.3s, opacity 0.3s, left 0.1s ease 0.3s, right 0.1s ease 0.3s, top 0.1s ease 0.3s;
            }

            &:hover > .submenu {
                transition: visibility 0.2s, opacity 0.2s, left 0.2s, right 0.2s, top 0.2s;
                transition-delay: 0.15s;
            }
        }
    }
}

.no-visibility .navbar-mixt .submenu {
    display: none;
}


// Navbar Sticky (fixed) State
.fixed-nav {

    .navbar-mixt {
        padding: 0;
        z-index: 9999;
    }

    .navbar-mixt.navbar-default {
        .nav {
            > li:hover {
                > a,
                > a:hover,
                > a:focus {
                    background-color: $nav-hover-bg;
                }
            }
        }
    }

    .navbar-mixt.navbar-inverse {
        .nav {
            > li:hover {
                > a,
                > a:hover,
                > a:focus {
                    background-color: $nav-hover-bg-dark;
                }
            }
        }
    }

}


// NAVBAR THEMES

// Dark Navbar Text & Logo
.navbar-mixt.navbar-default,
.navbar-mixt.text-dark.position-top {

    #nav-logo {
        background-image: url('../assets/img/logo.png');
    }

    .nav {
        > li > a {
            color: $nav-menu-color;
            text-shadow: 0 1px 0 rgba(255,255,255,0.25);
        }

        > .disabled {
            > a,
            > a:hover,
            > a:focus {
                color: $nav-menu-color-fade !important;
            }
        }
    }

    .navbar-toggle {
        border-color: $nav-border;
        border-color: $nav-border-alpha;
        &:hover,
        &:focus {
            background-color: $nav-hover-bg;
        }

        .icon-bar {
            background-color: $nav-menu-color;
            box-shadow: 0 1px 0 rgba(255,255,255,0.25);
        }
    }
}

// Light Navbar Text & Logo
.navbar-mixt.navbar-inverse,
.navbar-mixt.text-light.position-top {

    #nav-logo {
        background-image: url('../assets/img/logo-inv.png');
    }

    .nav {
        > li > a {
            color: $nav-menu-color-dark;
            text-shadow: 0 1px 1px rgba(0,0,0,0.4);
        }

        > .disabled {
            > a,
            > a:hover,
            > a:focus {
                color: $nav-menu-color-dark-fade !important;
            }
        }
    }

    .navbar-toggle {
        border-color: $nav-border-dark;
        border-color: $nav-border-dark-alpha;

        &:hover,
        &:focus {
            background-color: $nav-hover-bg-dark;
        }

        .icon-bar {
            background-color: $nav-menu-color-dark;
            box-shadow: 0 1px 1px rgba(0,0,0,0.4);
        }
    }
}

// Dark Theme
.navbar-mixt.navbar-inverse {
    border-color: $nav-border-dark;
    border-color: $nav-border-dark-alpha;
    background-color: $nav-bg-dark;
    background-color: $nav-bg-dark-alpha;
}

// Dark Submenu Theme
.navbar-mixt.submenu-inverse {
    .submenu {
        border-color: $nav-border-dark;
        border-color: $nav-border-dark-alpha;
        background-color: $nav-menu-bg-dark;

        li > a {
            color: $nav-menu-color-dark;
            border-color: $nav-border-dark;
            text-shadow: 0 1px 1px darken($nav-bg-dark, 10);
        }
        li:hover,
        li.active:hover {
            > a,
            > a:hover,
            > a:focus {
                background-color: $nav-menu-hover-bg-dark;
            }
        }
        li.active {
            > a,
            > a:hover,
            > a:focus {
                color: $theme-accent;
                border-color: $theme-accent;
            }
        }
    }
    .mega-menu {
        > .submenu > li > a {
            color: $nav-menu-color-dark-fade;
        }
    }

    .drop-menu .submenu,
    .mega-menu-column .submenu {
        .drop-submenu {
            .submenu { background-color: darken($nav-menu-bg-dark, 3); }
        }
    }
}

// Transparent Navbar
.nav-transparent .navbar-mixt.position-top {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    border-color: transparent;
    background: transparent;
    box-shadow: none;

    .navbar-toggle {
        border-color: transparent;
    }
}

.nav-transparent.has-head-media #top-nav-wrap,
.fixed-nav .nav-transparent.has-head-media #top-nav-wrap {
    height: 0;
    min-height: 0;
}

.shine .navbar-mixt {
    background-color: rgba(255,255,255,0.8);
}

// MEDIA QUERIES

// DESKTOP NAV BREAKPOINT

@media (min-width: 768px) {

    .fixed-nav #nav-logo { width: 54px; height: 20px; }

    .logo-left .navbar-mixt {
        .navbar-header {
            float: left;
            margin-right: 15px;
        }
        .nav {
            float: right;
        }
    }

    .logo-right .navbar-mixt {
        .navbar-header {
            float: right;
            margin-left: 15px;
        }
    }

    .logo-center .navbar-mixt {
        .navbar-header {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        .navbar-inner {
            text-align: center;
        }
        .navbar-nav {
            float: none;
            display: table;
            margin: 0 auto !important;
        }
    }

    #top-nav-wrap.logo-center {
        min-height: 121px;
    }
    .fixed-nav #top-nav-wrap.logo-center {
        min-height: 101px;
    }
    
    .navbar-mixt {

        .submenu a {
            max-width: 300px;
        }

        // Standard Menu
        .drop-menu .submenu,
        .mega-menu-column .submenu {
            .drop-submenu {
                position: relative;
                z-index: 1;

                .submenu {
                    position: absolute;
                    top: -1px; left: 0;
                    min-width: 120px;
                    border-width: 1px;
                    border-style: solid;
                    visibility: hidden;
                    opacity: 0;
                    z-index: -1;

                    &.drop-left {
                        left: auto; right: 0;
                    }
                }
            }
            .drop-submenu:hover {
                z-index: 2;

                > .submenu {
                    left: 100%;
                    visibility: visible;
                    opacity: 1;

                    &.drop-left {
                        left: auto; right: 100%;
                    }
                }
            }
        }

        // Mega Menu
        .mega-menu {
            > .submenu {
                display: table;
                width: auto;

                > li {
                    min-width: 160px;
                    display: table-cell;
                    vertical-align: top;
                    border-right: 1px solid;
                    border-color: $nav-border;
                    border-color: $nav-border-alpha;

                    &:last-child {
                        border-width: 0;
                    }
                }
            }
        }

        // Show submenus on hover
        .dropdown:hover > .submenu {
            margin-top: 0;
            visibility: visible;
            opacity: 1;
            transition-delay: 0.3s;
        }
        .mega-menu:hover > .submenu {
            display: table !important;
        }
    }

    .no-visibility .navbar-mixt {
        .dropdown:hover > .submenu,
        .mega-menu:hover > .submenu {
            display: block;
        }
    }
}

// MOBILE NAV BREAKPOINT

@media (max-width: 767px) {

    #top-nav-wrap { min-height: 51px; }

    .navbar-mixt {
        padding: 0;

        .container { padding: 0; }

        .navbar-inner {
            padding: 0 !important;
            margin: 0 !important;
            border-color: $nav-border;
            border-color: $nav-border-alpha;
            background-color: $nav-bg;
        }

        .nav > li > a {
            border-width: 0;
            border-style: solid;
            border-color: $nav-border;
            border-color: $nav-border-alpha;
            border-bottom-width: 1px;
        }

        .drop-arrow {
            position: absolute;
            top: 0; right: 0; bottom: 0;
            width: 50px;
            font-size: 14px;
            text-align: center;
            margin-left: 0;
        }
        .drop-submenu .drop-arrow {
            top: 0; right: 0;
            margin: 0; padding: 10px 0;
        }
        .mega-menu-column > a .drop-arrow {
            line-height: 44px;
        }

        .dropdown-menu,
        .submenu {
            position: static;
            float: none;
            width: auto;
            border: 0;
            display: none;
            visibility: visible;
            opacity: 1;
            margin: 0 !important;
            background-color: transparent !important;
            box-shadow: inset 0 1px 6px rgba(0,0,0,0.1) !important;
            -webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.1) !important;

            a {
                max-width: none;
                position: relative;
            }

            li:last-child > a,
            .mega-menu-column li:last-child > a {
                border-bottom-width: 1px;
            }
        }

        li {
            transition: background-color 0.2s;

            a .drop-arrow:before {
                content: '\f48b';
            }

            &.expand {
                background-color: rgba(0,0,0,0.06);
                > a .drop-arrow:before {
                    content: '\f48a';
                }

                > .submenu {
                    display: block;
                }
            }
        }

        &.navbar-inverse {
            .navbar-inner {
                border-color: $nav-border-dark;
                border-color: $nav-border-dark-alpha;
                background-color: $nav-bg-dark;
            }

            .nav > li > a {
                border-color: $nav-border-dark;
                border-color: $nav-border-dark-alpha;
            }

            li.expand {
                background-color: rgba(255,255,255,0.06);
            }
        }
    }

    .no-visiblity #top-nav .dropdown-menu {
        display: block;
    }

    #navbar-check { display: inline; }
}

@media (max-width: 601px) {
    #navbar-check { display: block; }
}

@media (min-width: 601px) {

    .navbar-mixt {
        .nav > li > a { height: 51px; }
    }

    .fixed-nav #top-nav-wrap {
        min-height: 50px;

        .nav-transparent.has-head-media #top-nav-wrap {
            height: 0;
            min-height: 0;
        }
    }
    .fixed-nav .navbar-mixt {
        position: fixed;
        top: 0; left: 0; right: 0;
        padding: 0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }

    .no-rgba .fixed-nav .navbar-mixt { opacity: 0.97; }
    .fixed-nav.admin-bar #top-nav { top: 32px; }
}

@media (min-width: 601px) and (max-width: 782px) {
    .fixed-nav.admin-bar #top-nav { top: 46px; }
}