
/* - MIXT NAVBAR STYLESHEET - */

$nav-primary-height: 91px;
$nav-primary-pad: 20px;
$nav-primary-item-height: 50px;

$sec-nav-item-height: 32px;

// NAVBAR BORDERED MENU ITEMS

.navbar.bordered {
	.nav {
		> li {
			@extend .border-base;
			margin-left: -1px;
			border-left-width: 1px;
			border-right-width: 1px;

			transition: border-color 0.2s;
		}

		> .menu-social-icons {
			margin-left: 0;
			border-left-width: 0;
			border-right-width: 0;
		}

		> .divider { opacity: 1; background-color: transparent !important; }
	}

	.dropdown > .sub-menu {
		left: -1px;
	}
	.dropdown > .sub-menu.drop-left,
	.dropdown:last-child > .sub-menu {
		left: auto; right: -1px;
	}
}

// SECONDARY NAVIGATION

.second-nav {
	min-height: $sec-nav-item-height;
	z-index: 10000;

	.left, .right {
		border-color: inherit;
	}

	// Left Side
	.left {
		float: left;

		.dropdown:last-child > .sub-menu {
			left: 0; right: auto;
		}
	}

	// Right Side
	.right {
		float: right;
		text-align: right;

		.nav {
			float: right;
		}
	}

	// Navigation
	.nav {
		> li {
			float: left;

			> a {
				padding: 0 10px;
				line-height: $sec-nav-item-height - 1px;
			}
		}

		li > a { font-size: 12px; }

		.menu-icon { font-size: 14px; }

		.drop-arrow { font-size: 8px; }

		.sub-menu li > a { padding: 8px; }

		.divider,
		.btn-cont {
			height: ($sec-nav-item-height - 6px);
			margin-top: 3px;
			margin-bottom: 3px;
		}
		.btn-cont {
			margin-left: 3px;
			margin-right: 3px;

			.btn { padding: 0 10px; }
		}

		.mega-menu > .sub-menu > li > a {
			height: 38px;
			max-height: 38px;
			padding-top: 10px !important;
		}
	}

	.no-menu-msg {
		line-height: $sec-nav-item-height;
	}

	&.bordered .left .dropdown:last-child > .sub-menu {
		left: -1px; right: auto;
	}

	// Custom Code / Text
	.content-code { display: table; }
	.code-inner {
		font-size: 13px;
		display: table-cell;
		vertical-align: middle;

		a, i, strong, em { vertical-align: baseline; }

		.icon { margin: auto 5px; }
	}

	.nav > li > a,
	.content-code {
		height: $sec-nav-item-height;
	}

	// Handle left and right side "overlap"
	&.items-overlap {

		.container { padding: 0; }

		.left, .right {
			width: 100%;
			font-size: 0;
			text-align: center;

			> .content-code,
			> .navbar-inner,
			> .link-list {
				float: none;
				display: inline-block;
			}

			.nav > li {
				float: none;
				display: inline-block;
				vertical-align: top;
			}

			.divider { display: none !important; }
		}

		.right { border-top: 1px solid #000; border-color: inherit; }
	}
}

// PRIMARY NAVIGATION

#top-nav-wrap {
	min-height: 90px;
	position: relative;
	z-index: 9999;
	transition: min-height, 0.3s;
}

.navbar-mixt {
	opacity: 1;
	padding: $nav-primary-pad 0;
	z-index: 9999;
	background-image: none;
	transform: translate3d(0,0,0);
	transition: padding 0.3s, box-shadow 0.2s, background 0.4s;

	// Navbar Header & Logo

	.navbar-header {
		height: $nav-primary-item-height;
		text-align: center;
	}

	#nav-logo {
		float: none;
		margin: 0;
		display: inline-block;
		padding: 0 !important;
		vertical-align: middle;

		// Text Logo
		strong {
			white-space: nowrap;
			transition: color 0.3s, font-size 0.2s, visiblity 0.3s, opacity 0.3s;
		}

		// Image Logo
		img {
			max-height: 100%;
			display: inline-block;
			transition: width 0.3s, height 0.2s, visiblity 0.2s ease-out 0.1s, opacity 0.2s ease-out 0.1s;
		}

		// Logo Tagline
		small {
			margin-left: 15px;
			display: inline-block;
		}

		strong, img {
			max-width: 240px;
			vertical-align: middle;
		}
	}

	#nav-logo,
	.nav > li > a,
	.no-menu-msg {
		height: $nav-primary-item-height;
		line-height: $nav-primary-item-height - 2px;
	}

	// Nav Menu

	.nav {
		> li > a {
			padding: 0 15px;
		}
		.divider,
		.btn-cont {
			height: $nav-primary-item-height - 14px;
			margin-top: 7px;
			margin-bottom: 7px;
		}
		.btn-cont { margin-left: 7px; margin-right: 7px; }
	}

	// Mobile Expand/Collapse Handle

	.navbar-toggle {
		height: $nav-primary-item-height;
		margin: 0;
		padding: 10px 15px;
		border-width: 0;
		border-left-width: 1px;
		border-radius: 0;
		background-color: transparent;
		transition: background-color 0.3s;
	}

	// Light & Dark Bg

	#nav-logo {
		.logo-light {
			position: static;
			@include vis-visible;
		}
		.logo-dark {
			position: absolute;
			@include vis-hidden;
		}
	}

	&.bg-dark {
		#nav-logo {
			.logo-light {
				position: absolute;
				@include vis-hidden;
				// display: none;
			}
			.logo-dark {
				position: static;
				@include vis-visible;
				// display: inline-block;
			}
		}
	}
}

// Primary Navbar Below Header Position
.nav-below-header {
	&.nav-transparent .navbar-mixt.position-top {
		margin-top: ($nav-primary-height * -1);
	}
}

// Primary Navbar Fixed State
.fixed-nav {
	.navbar-mixt {
		padding: 0;
		margin-top: 0 !important;
		z-index: 9999;
	}
}

// Transparent Navbar
.nav-transparent {
	.navbar-mixt.position-top {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		border-color: transparent;
		background-color: transparent;
		background-image: none;
		box-shadow: none;

		.navbar-toggle {
			border-color: transparent;

			&:hover { background-color: transparent; }
		}
	}
}

.nav-transparent #top-nav-wrap,
.fixed-nav .nav-transparent #top-nav-wrap {
	height: 0 !important;
	min-height: 0 !important;
}

// MEDIA QUERIES

// DESKTOP NAV BREAKPOINT

@include media('screen', 'mars') {

	.navbar-mixt {
		&.position-top {
			.nav > li:hover,
			.nav > li.hover {
				> a,
				> a:hover {
					background-color: transparent !important;
				}
			}

			&.bordered .nav > li {
				border-color: transparent;
			}
		}
		.sub-menu a {
			max-width: 300px;
		}
	}

	// Primary Navbar Fixed State
	.fixed-nav {
		#top-nav-wrap.logo-center {
			min-height: 101px;

			.navbar-header, #nav-logo {
				height: ($nav-primary-item-height - 10px);
			}

			#nav-logo {
				line-height: ($nav-primary-item-height - 12px);
			}
		}
	}

	// Logo Positions
	.logo-left .navbar-mixt {
		.navbar-header {
			float: left;
			margin-right: 15px;
		}
		.nav { float: right; }
	}
	.logo-right .navbar-mixt {
		.navbar-header {
			float: right;
			margin-left: 15px;
		}
		.no-menu-msg { float: left; }
	}
	.logo-center .navbar-mixt {
		.navbar-header {
			float: none;
			margin-left: auto;
			margin-right: auto;
			transition: height 0.2s;
		}
		.navbar-inner {
			text-align: center;
		}
		.navbar-nav {
			float: none;
			display: table;
			margin: 0 auto !important;
		}
		&.bordered .nav > li {
			border-top-width: 1px;
		}
		.no-menu-msg { float: none; }
	}
	#top-nav-wrap.logo-center {
		min-height: 121px;
	}
}

// MOBILE NAV BREAKPOINT

@include media('screen', '<mars') {

	#top-nav-wrap { min-height: 51px; }

	.navbar-mixt {
		padding: 0 !important;

		.container { padding: 0; }

		.navbar-header {
			position: relative;
			padding-right: 53px;
			overflow: hidden;
		}

		.navbar-toggle {
			position: absolute;
			top: 0; right: 0;
		}

		.navbar-inner {
			padding: 0 !important;
			margin: 0 !important;
			border-style: solid;
			border-left-width: 0;
			border-right-width: 0;
			border-bottom-width: 1px;
			box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
		}

		.nav > li > a {
			border-width: 0;
			border-style: solid;
			border-bottom-width: 1px;

			&.dropdown-toggle { padding-right: $nav-primary-item-height; }
		}

		&.bordered {
			.nav > li {
				margin-left: 0;
				border-width: 0;
			}

			.dropdown {
				> .sub-menu.drop-left,
				&:last-child>.sub-menu {
					right: 0;
				}
			}
		}

		.nav > li:last-child > a {
			height: $nav-primary-item-height;
			border-bottom-width: 0;
		}

		.nav .divider { display: none !important; }

		// Dropdown Menus

		.drop-submenu,
		.drop-submenu.arrow-left,
		.drop-submenu.arrow-right,
		.mega-menu-column {
			> a {
				font-size: 13px;
				padding-right: 50px !important;
			}

			.drop-arrow {
				top: 0; left: auto; right: 0;
				margin: 0;
				padding: 10px 0;
				line-height: 22px;
			}
		}

		.sub-menu {
			.menu-item {
				&:hover > .sub-menu {
					opacity: 0;
					visibility: hidden;
				}
				&.expand > .sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.sub-menu,
		.sub-menu .drop-submenu .sub-menu {
			position: static;
			float: none;
			width: auto;
			border: 0;
			display: none;
			visibility: visible;
			opacity: 1;
			margin: 0 !important;
			background-color: transparent !important;
			box-shadow: inset 0 1px 6px rgba(0,0,0,0.1) !important;
			-webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.1) !important;

			li > a,
			li .menu-item > a,
			.mega-menu-column li > a {
				height: 42px;
				max-height: 42px;
				max-width: none;
				position: relative;
				line-height: 21px;
			}

			li:last-child > a,
			.mega-menu-column li:last-child > a {
				border-bottom-width: 1px;
			}
		}

		.menu-item {
			transition: background-color 0.2s;

			a .drop-arrow:before { content: '\f48b'; }

			&.expand {
				> a .drop-arrow:before { content: '\f48a'; }
				> .sub-menu { display: block !important; }
			}
		}

		.menu-item.expand,
		.mega-menu-column {
			> a:not(:hover) {
				background-color: transparent !important;
			}
		}

		.mega-menu > .sub-menu,
		.mega-menu:hover > .sub-menu,
		.mega-menu:hover > .sub-menu.multi-row {
			width: auto !important;
			display: none !important;

			> li {
				display: block;
				border-right-width: 0 !important;
			}
		}

		.mega-menu.expand > .sub-menu,
		.mega-menu.expand > .sub-menu.multi-row {
			display: block !important;
		}

		// Submenu Drop Arrows

		.drop-arrow {
			position: absolute;
			top: 0; right: 0; bottom: 0;
			width: $nav-primary-item-height;
			font-size: 14px;
			text-align: center;
			margin-left: 0;
		}

		// Nav Search Form

		.nav-search {
			.sub-menu {
				position: absolute;
				top: 0; left: 0;
				display: block;
				width: 100%;
				box-shadow: none !important;
				-webkit-box-shadow: none !important;
			}

			input { padding-left: 40px; }
			button { padding-left: 30px; padding-right: 30px; }

			input, button {
				height: $nav-primary-item-height - 1px;
			}
		}

		.no-menu-msg { float: none; text-align: center; }
	}

	.fixed-nav .navbar-mixt {
		box-shadow: none;
	}

	.nav-below-header.nav-transparent .navbar-mixt.position-top {
		margin-top: (($nav-primary-height - $nav-primary-pad * 2) * -1);
	}

	// Logo Positions

	.logo-left .navbar-mixt {
		.navbar-header { text-align: left; }

		#nav-logo { margin-left: 15px; }
	}

	.logo-right .navbar-mixt {
		.navbar-header { text-align: right; }

		#nav-logo { margin-right: 15px; }
	}

	// Tell jQuery the mobile media query is active
	#navbar-check { display: inline; }
}

@media (min-width: 601px) {

	// Navbar Fixed State

	.fixed-nav {
		#top-nav-wrap {
			min-height: $nav-primary-item-height;
		}
		.nav-transparent #top-nav-wrap {
			height: 0;
			min-height: 0;
		}

		.navbar-mixt {
			position: fixed;
			top: 0; left: 0; right: 0;
			padding: 0;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		}

		&.admin-bar .navbar-mixt { top: 32px; }
		&.admin-bar.admin-bar-slim .navbar-mixt { top: 28px; }
	}
}

@media (min-width: 601px) and (max-width: 782px) {
	.fixed-nav.admin-bar .navbar-mixt { top: 46px; }
	.fixed-nav.admin-bar.admin-bar-slim .navbar-mixt { top: 28px; }
}

@media (max-width: 601px) {
	// Tell jQuery the smallest mobile media query is active
	#navbar-check { display: block; }
}