
/* - MIXT NAVBAR STYLESHEET - */

$nav-primary-height: 91px;
$nav-primary-pad: 20px;
$nav-primary-item-height: 50px;

$nav-sec-item-height: 32px;

// PRESET NAVBARS

// Basic
.navbar {
	@extend %navbar;
}
.navbar.navbar-default {
	@extend %navbar-light;
}
.navbar.navbar-inverse {
	@extend %navbar-dark;
}

// Light (Default) Subs
.navbar.light-subs,
.navbar-mixt.light-subs {
	@extend %navbar-light-subs;
}

// Dark Subs
.navbar.dark-subs,
.navbar-mixt.dark-subs {
	@extend %navbar-dark-subs;
}

// Bordered Menu Items
.navbar.bordered {
	.nav {
		> li {
			@extend .border-base;
			margin-left: -1px;
			border-left-width: 1px;
			border-right-width: 1px;
		}

		> .menu-social-icons {
			margin-left: 0;
			border-left-width: 0;
			border-right-width: 0;
		}

		> .divider { background-color: transparent; }
	}

	.dropdown > .sub-menu {
		left: -1px;
	}
	.dropdown > .sub-menu.drop-left,
	.dropdown:last-child > .sub-menu {
		left: auto; right: -1px;
	}
}

// SECONDARY NAVIGATION

.second-nav {
	min-height: $nav-sec-item-height;
	z-index: 10000;

	.container {
		padding: 0 15px;
	}

	// Left Side
	.left {
		float: left;

		.dropdown:last-child > .sub-menu {
			left: 0; right: auto;
		}
	}

	// Right Side
	.right {
		float: right;
		text-align: right;

		.nav {
			float: right;
		}
	}

	// Navigation
	.nav {
		> li {
			float: left;

			> a {
				padding: 0 10px;
				line-height: $nav-sec-item-height;
			}
		}

		li > a { font-size: 12px; }

		> .active > a:before,
		> .current-menu-parent > a:before {
			display: none;
		}

		.menu-icon { font-size: 14px; }

		.drop-arrow { font-size: 8px; }

		.sub-menu li > a { padding: 8px; }

		.divider {
			height: ($nav-sec-item-height - 6px);
			margin-top: 3px;
			margin-bottom: 3px;
		}

		.mega-menu > .sub-menu > li > a {
			height: 38px;
			max-height: 38px;
			padding-top: 10px !important;
		}
	}

	.no-menu-msg {
		line-height: $nav-sec-item-height;
	}

	&.bordered .left .dropdown:last-child > .sub-menu {
		left: -1px; right: auto;
	}

	// Custom Code / Text
	.content-code {
		display: table;

		.code-inner {
			font-size: 13px;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.nav > li > a,
	.content-code {
		color: $nav-menu-dark-color;
		height: $nav-sec-item-height;
	}

	&.navbar-default {
		background-color: darken($nav-bg, 3);
		background-color: darken($nav-bg-alpha, 3);
	}

	&.navbar-inverse {
		background-color: lighten($nav-bg-dark, 3);
		background-color: lighten($nav-bg-dark-alpha, 3);
	}
}

// PRIMARY NAVIGATION

#top-nav-wrap {
	min-height: 90px;
	position: relative;
	z-index: 9999;
	transition: min-height, 0.3s;
}

.navbar-mixt {
	@extend %navbar;

	opacity: 1;
	padding: $nav-primary-pad 0;
	z-index: 9999;
	background-image: none;
	transition: padding 0.3s, box-shadow 0.2s, background 0.4s;

	// Navbar Header & Logo

	.navbar-header {
		height: $nav-primary-item-height;
		text-align: center;
	}

	#nav-logo {
		float: none;
		margin: 0;
		display: inline-block;
		padding: 0 !important;
		vertical-align: middle;

		// Text Logo
		strong {
			transition: color 0.3s, font-size 0.2s, visiblity 0.3s, opacity 0.3s;
		}

		// Image Logo
		img {
			max-height: 100%;
			display: inline-block;
			transition: width 0.3s, height 0.2s, visiblity 0.2s ease-out 0.1s, opacity 0.2s ease-out 0.1s;
		}

		// Logo Tagline
		small {
			margin-left: 15px;
			transition: color 0.3s;
		}

		strong, img {
			max-width: 240px;
			vertical-align: middle;
		}
	}

	#nav-logo,
	.nav > li > a,
	.no-menu-msg {
		height: $nav-primary-item-height;
		line-height: $nav-primary-item-height - 2px;
	}

	// No Menu Assigned Message

	.no-menu-msg {
		line-height: 50px;
	}

	// Nav Menu

	.nav {
		> li > a {
			padding: 0 15px;
		}
		.divider {
			height: $nav-primary-item-height - 14px;
			margin-top: 7px;
			margin-bottom: 7px;
		}
	}

	// Mobile Expand/Collapse Handle

	.navbar-toggle {
		height: $nav-primary-item-height;
		margin: 0;
		padding: 10px 15px;
		border-width: 0;
		border-left-width: 1px;
		border-radius: 0;
		background-color: transparent;
		transition: background-color 0.3s;
	}
}

// Primary Navbar Starting (Top) State

.navbar-mixt.position-top {
	.nav > li:hover {
		> a,
		> a:hover,
		> a:focus {
			background-color: transparent !important;
		}
	}
}

// Primary Navbar Below Header Position
.nav-below-header {
	.navbar-mixt.position-top {
		border-top-width: 1px;
		border-bottom-width: 0;
	}

	&.nav-transparent .navbar-mixt.position-top {
		margin-top: ($nav-primary-height * -1);
	}
}

// Primary Navbar Fixed State

.fixed-nav {
	.navbar-mixt {
		padding: 0;
		margin-top: 0 !important;
		z-index: 9999;
	}
}

// Primary Navbar Themes

.navbar-mixt.navbar-default,
.navbar-mixt.text-dark.position-top {

	@extend %navbar-light;

	#nav-logo {
		.logo-light {
			position: static;
			@include vis-visible;
			// display: inline-block;
		}
		.logo-dark {
			position: absolute;
			@include vis-hidden;
			// display: none;
		}
	}

	.navbar-toggle {
		border-color: $nav-border;
		border-color: $nav-border-alpha;
		&:hover,
		&:focus {
			background-color: $nav-hover-bg;
		}

		.icon-bar {
			background-color: $nav-menu-dark-color;
			box-shadow: 0 1px 0 rgba(255,255,255,0.25);
		}
	}
}

.navbar-mixt.navbar-inverse,
.navbar-mixt.text-light.position-top {

	@extend %navbar-dark;

	#nav-logo {
		.logo-light {
			position: absolute;
			@include vis-hidden;
			// display: none;
		}
		.logo-dark {
			position: static;
			@include vis-visible;
			// display: inline-block;
		}
	}

	.navbar-toggle {
		border-color: $nav-border-dark;
		border-color: $nav-border-dark-alpha;

		&:hover,
		&:focus {
			background-color: $nav-hover-bg-dark;
		}

		.icon-bar {
			background-color: $nav-menu-light-color;
			box-shadow: 0 1px 1px rgba(0,0,0,0.4);
		}
	}
}

// Transparent Navbar
.nav-transparent {
	.navbar-mixt.position-top {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		border-color: transparent;
		background: transparent;
		box-shadow: none;

		.navbar-toggle {
			border-color: transparent;
		}
		.no-menu-msg a { color: inherit; }
	}
}

.nav-transparent.has-head-media #top-nav-wrap,
.fixed-nav .nav-transparent.has-head-media #top-nav-wrap {
	height: 0;
	min-height: 0;
}

.shine .navbar-mixt {
	background-color: rgba(255,255,255,0.8);
}

// MEDIA QUERIES

// DESKTOP NAV BREAKPOINT

@media (min-width: 768px) {
	
	.navbar-mixt {
		.sub-menu a {
			max-width: 300px;
		}
	}

	// Primary Navbar Fixed State
	.fixed-nav {
		#top-nav-wrap.logo-center {
			min-height: 101px;

			.navbar-header {
				height: 40px;
			}
		}
		
		#nav-logo {
			
		}
	}

	// Logo Positions
	.logo-left .navbar-mixt {
		.navbar-header {
			float: left;
			margin-right: 15px;
		}
		.nav { float: right; }
	}
	.logo-right .navbar-mixt {
		.navbar-header {
			float: right;
			margin-left: 15px;
		}
		.no-menu-msg { float: left; }
	}
	.logo-center .navbar-mixt {
		.navbar-header {
			float: none;
			margin-left: auto;
			margin-right: auto;
			transition: height 0.2s;
		}
		.navbar-inner {
			text-align: center;
		}
		.navbar-nav {
			float: none;
			display: table;
			margin: 0 auto !important;
		}
		.no-menu-msg { float: none; }
	}
	#top-nav-wrap.logo-center {
		min-height: 121px;
	}
}

// MOBILE NAV BREAKPOINT

@media (max-width: 767px) {

	#top-nav-wrap { min-height: 51px; }

	.navbar-mixt {
		padding: 0;

		.container { padding: 0; }

		.navbar-inner {
			padding: 0 !important;
			margin: 0 !important;
			border-style: solid;
			border-left-width: 0;
			border-right-width: 0;
			border-bottom-width: 1px;
			box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
		}

		.nav > li > a {
			border-width: 0;
			border-style: solid;
			border-color: $nav-border;
			border-color: $nav-border-alpha;
			border-bottom-width: 1px;

			&.dropdown-toggle { padding-right: $nav-primary-item-height; }
		}

		.nav > li:last-child > a { border-bottom-width: 0; }

		.nav .divider { display: none !important; }

		// Dropdown Menus

		.drop-submenu,
		.drop-submenu.arrow-left,
		.drop-submenu.arrow-right,
		.mega-menu-column {
			> a {
				font-size: 13px;
				padding-right: 50px !important;
			}

			.drop-arrow {
				top: 0; left: auto; right: 0;
				margin: 0;
				padding: 10px 0;
				line-height: 22px;
			}
		}

		.sub-menu {
			.menu-item {
				&:hover > .sub-menu {
					opacity: 0;
					visibility: hidden;
				}
				&.expand > .sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.sub-menu,
		.sub-menu .drop-submenu .sub-menu {
			position: static;
			float: none;
			width: auto;
			border: 0;
			display: none;
			visibility: visible;
			opacity: 1;
			margin: 0 !important;
			background-color: transparent !important;
			box-shadow: inset 0 1px 6px rgba(0,0,0,0.1) !important;
			-webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.1) !important;

			li > a,
			li .menu-item > a,
			.mega-menu-column li > a {
				height: 42px;
				max-height: 42px;
				max-width: none;
				position: relative;
				line-height: 21px;
			}

			li:last-child > a,
			.mega-menu-column li:last-child > a {
				border-bottom-width: 1px;
			}
		}

		.menu-item {
			transition: background-color 0.2s;

			a .drop-arrow:before { content: '\f48b'; }

			&.expand {
				> a {
					background-color: transparent !important;

					.drop-arrow:before { content: '\f48a'; }
				}

				> .sub-menu { display: block !important; }
			}
		}

		.mega-menu > .sub-menu,
		.mega-menu:hover > .sub-menu,
		.mega-menu:hover > .sub-menu.multi-row {
			width: auto !important;
			display: none !important;

			> li {
				display: block;
				border-right-width: 0 !important;
			}
		}

		.mega-menu.expand > .sub-menu,
		.mega-menu.expand > .sub-menu.multi-row {
			display: block !important;
		}

		// Submenu Drop Arrows

		.drop-arrow {
			position: absolute;
			top: 0; right: 0; bottom: 0;
			width: $nav-primary-item-height;
			font-size: 14px;
			text-align: center;
			margin-left: 0;
		}

		// Nav Search Form

		.nav-search {
			.sub-menu {
				position: absolute;
				top: 0; left: 0;
				display: block;
				width: 100%;
				box-shadow: none !important;
				-webkit-box-shadow: none !important;
			}

			input { padding-left: 40px; }
			button { padding-left: 30px; padding-right: 30px; }

			input, button {
				height: 50px;
				background-color: transparent !important;
			}
		}

		.no-menu-msg { float: none; text-align: center; }

		// Navbar Themes

		&.light-subs {
			.navbar-inner {
				border-color: $nav-border;
				border-color: $nav-border-alpha;
				background-color: $nav-bg;
			}

			.menu-item.expand {
				background-color: rgba(0,0,0,0.03);
			}
			.mega-menu > .sub-menu > li > a { color: $nav-menu-dark-color; }
		}

		&.dark-subs {
			.navbar-inner {
				border-color: $nav-border-dark;
				border-color: $nav-border-dark-alpha;
				background-color: $nav-bg-dark;
			}

			.nav > li > a {
				border-color: $nav-border-dark;
				border-color: $nav-border-dark-alpha;
			}

			.menu-item.expand {
				background-color: rgba(255,255,255,0.05);
			}
			.mega-menu > .sub-menu > li > a {
				color: $nav-menu-light-color;
			}
		}

		&.navbar-inverse.light-subs .nav > li > a,
		&.navbar-default.light-subs .nav > li > a,
		&.light-subs .no-menu-msg {
			@include navbar-dark-text;
		}
		&.navbar-inverse.dark-subs .nav > li > a,
		&.navbar-default.dark-subs .nav > li > a,
		&.dark-subs .no-menu-msg {
			@include navbar-light-text;
		}
	}

	.fixed-nav .navbar-mixt {
		box-shadow: none;
	}

	.nav-transparent .navbar-mixt:not(.position-top) .navbar-inner,
	#main-wrap:not(.nav-transparent) .navbar-mixt .navbar-inner {
		border-bottom-width: 0 !important;
	}

	.nav-below-header.nav-transparent .navbar-mixt.position-top {
		margin-top: (($nav-primary-height - $nav-primary-pad * 2) * -1);
	}

	// Logo Positions

	.logo-left .navbar-mixt {
		.navbar-header { text-align: left; }

		#nav-logo { margin-left: 15px; }
	}

	.logo-right .navbar-mixt {
		.navbar-header { text-align: right; }

		#nav-logo { margin-right: 15px; }
	}

	// Tell jQuery the mobile media query is active
	#navbar-check { display: inline; }
}

@media (min-width: 601px) {

	.navbar-mixt {
		.nav > li > a { height: 51px; }
	}

	// Navbar Fixed State

	.fixed-nav {
		#top-nav-wrap {
			min-height: 50px;
		}
		.nav-transparent.has-head-media #top-nav-wrap {
			height: 0;
			min-height: 0;
		}

		.navbar-mixt {
			position: fixed;
			top: 0; left: 0; right: 0;
			padding: 0;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		}

		&.admin-bar .navbar-mixt { top: 32px; }
	}
}

@media (min-width: 601px) and (max-width: 782px) {
	// Prevent overlay when the WP admin bar is shown
	.fixed-nav.admin-bar .navbar-mixt { top: 46px; }
}

@media (max-width: 601px) {
	// Tell jQuery the smallest mobile media query is active
	#navbar-check { display: block; }
}