
/* - POST STYLESHEET - */

.hentry,
.product {
	margin: 15px 0 0;
	padding: 0 0 15px;

	&,
	.page-header,
	.post-wrapper { border-color: inherit; }

	.page-title,
	.post-meta,
	.entry-body,
	footer.entry-meta { margin: $margin-m 0 0; }

	.page-title + .post-meta { margin-top: $margin-s; }

	.entry-body {
		&:first-child { margin-top: 0; }
	}

	@include media('screen', 'mars') {
		margin: $margin-l 0 0;
		padding: 0 0 $padding-l;
	}
}

.hentry {

	embed, iframe, object { width: 100%; }

	blockquote { overflow: hidden; }

	.post-info {
		width: 100%;
		display: table;
		border-radius: $bd-radius;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-color: inherit;

		> a {
			display: table-cell;
			text-align: center;
			padding: 10px 0;
			border-width: 0;
			border-style: solid;
			border-left-width: 1px;
			border-color: inherit;
			vertical-align: middle;
			font-size: $font-size-l;

			&:first-child { border-left-width: 0; }
		}

		.post-format {
			padding: 5px;

			i { font-size: 16px; }
		}

		.post-date {
			background-color: $off-white;

			strong {
				margin-right: 6px;
			}
		}
	}

	.read-more { border-width: 0; }
}

.page-header {
	padding: 0;
	margin: 0;
	border-bottom: 0;
}
	
.page-title {
	font-size: $font-size-xl;

	i { font-size: 80%; }
}


// FEATURED MEDIA STYLING

.post-feat {
	width: 100%;
	display: flex;
	flex-shrink: 1;
	align-items: center;
	text-align: center;

	> a {
		width: 100%;
		display: block;
	}

	// Featured Types

	img,
	.lSSlideOuter {
		min-width: 100%;
		max-width: 100%;
		max-height: 100%;
	}

	&.post-video {
		background: #000;
		border: 1px solid transparent;
	}

	&.post-video,
	&.post-audio {
		> div,
		> iframe {
			display: block;
			margin: 0 auto;
		}
	}

	&.post-aside,
	&.post-quote,
	&.post-link { text-align: initial; }

	&.post-quote blockquote {
		width: 100%;

		&:last-child { margin: 0; }
	}

	&.post-link a {
		padding: $padding-m;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

		.title {
			margin-top: 0;
			font-size: $font-size;
		}

		small { opacity: 0.8; }
	}

	&.feat-format {
		position: relative;
		display: block;
		text-align: center;
		border-style: dashed;
		border-width: 1px;
		border-color: inherit;
		background: rgba(0,0,0,0.03);

		i {
			position: absolute;
			top: 50%; left: 50%;
			line-height: 1;
			font-size: 32px;
			margin-top: -16px;
			margin-left: -16px;
		}
	}

	img,
	&.post-video,
	&.post-audio,
	&.post-gallery,
	&.post-quote blockquote,
	&.post-link a,
	&.feat-format {
		border-radius: $bd-radius;
	}

	&.post-gallery,
	&.post-video {
		overflow: hidden;
		-webkit-perspective: 1px; // Chrome border-radius bug fix
	}
}

.page-header,
.page-footer {
	.post-meta {
		a,
		> span { color: $theme-color-fade; }
	}
}


// POST META STYLING

.post-meta {
	padding: 0;
	display: table;
	table-layout: fixed;
	font-size: $font-size-s;

	a:hover { color: $theme-accent; }

	$meta-spacing: 14px;

	> span {
		float: left;
		min-height: 22px;
		cursor: default;
		display: table-cell;
		vertical-align: middle;
		transition: color 0.2s;
		margin-right: $meta-spacing;

		a { display: inline-block; }

		.icon {
			margin-right: $margin-xs;
			vertical-align: middle;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.meta-sep {
		height: 22px;
		opacity: 0.6;
		margin-left: -$meta-spacing / 2;
		margin-right: $meta-spacing / 2;

		&:last-child { display: none; }
	}

	.posted-on {
		time > span {
			margin-left: 5px;

			&:first-child { margin-left: 0; }
		}

		.updated {
			cursor: pointer;
			font-weight: bold;
			padding: 0 0 0 5px;
		}
	}

	.posted-on.calendar {
		border: 1px solid;
		border-color: inherit;
		border-radius: 3px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.1);

		time > span {
			display: block;
			padding: 0 10px;
			text-align: center;
			font-weight: bold;
			line-height: 20px;
		}
	}
}

.post-meta .cat a {
	margin-right: 5px;

	&:after {
		content: ',';
		margin-left: 1px;
	}

	&:last-child {
		margin-right: 0;
		&:after { content: ''; }
	}
}


// STANDARD BLOG

.blog-standard {
	.hentry,
	.product {
		border-bottom-width: 1px;
		border-bottom-style: solid;

		&:after {
			content: " ";
			display: table;
			clear: both;
		}

		&.has-info .post-feat { margin-top: $margin-m; }

		.post-feat {
			&.feat-blog-medium,
			&.feat-blog-small {
				float: left;
				margin-right: $margin-m;
				margin-bottom: $margin-s;
			}

			&.feat-format { display: inline-block; }

			// Featured Sizes

			$blog-medium-w: 320px;
			$blog-medium-h: 240px;
			$blog-small-w: 120px;
			$blog-small-h: 120px;

			&.feat-blog-medium {
				max-width: $blog-medium-w;
				max-height: $blog-medium-h;

				&.post-video > div,
				&.post-video > iframe {
					min-width: $blog-medium-w;
				}
			}

			&.feat-blog-small {
				max-width: $blog-small-w;
				max-height: $blog-small-h;

				&.feat-format {
					width: $blog-small-w;
					height: $blog-small-h;
					line-height: $blog-small-h - 4px;
				}
			}
		}
	}

	.ajax-page {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-color: inherit;
	}

	@include media('screen', 'mars') {
		.hentry.has-info {
			position: relative;
			padding-left: 100px;
			min-height: 143px;

			.post-feat { margin-top: 0; }
		}
		.post-info {
			position: absolute;
			top: 0; left: 0;
			width: 80px;
			display: block;
			overflow: hidden;

			> a {
				display: block;
				border-left-width: 0;
				border-top-width: 1px;
				font-size: $font-size;

				&:first-child { border-top-width: 0; }
			}

			.post-format i { font-size: 23px; }

			.post-date strong {
				display: block;
				line-height: 1;
				margin-right: 0;
				margin-bottom: 5px;
				font-size: $font-size-xxl;
			}
		}
	}
}


// GRID BLOG

.blog-grid {
	.posts-container {
		display: flex;
		flex-wrap: wrap;
		padding: 15px 0 0 0;

		@include media('screen', 'mars') {
			padding: $padding-l 0 0 0;
		}
	}

	.hentry {
		width: 100%;
		padding: 0;
		margin: -1px 0 0 -1px;
		border-width: 1px;
		border-style: solid;
		border-color: inherit;
	}

	.post-feat {
		position: relative;
		min-height: 140px;

		&.post-gallery .lSSlideOuter {
			position: absolute;
			top: 0; left: 0; bottom: 0;
			width: 100%; height: auto;
		}

		&.post-image img { min-height: 100%; }

		&.post-link a,
		&.post-quote blockquote {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&.post-audio { background-color: #000; }
	}

	&.blog-2-col .posts-container { margin-right: -3px; }
	&.blog-3-col .posts-container { margin-right: -4px; }
	&.blog-4-col .posts-container { margin-right: -5px; }
	&.blog-5-col .posts-container { margin-right: -6px; }
}
.fullwidth .blog-grid .posts-container { padding-top: 0; }


// MASONRY BLOG

.blog-masonry {
	$gutter-width: 10px;

	.posts-container {
		margin-left: -$gutter-width;
		margin-right: -$gutter-width;
		padding-top: $padding-l - $gutter-width;
	}

	.hentry {
		margin: 0;
		padding: $gutter-width;
		overflow: hidden;

		.post-wrapper {
			width: 100%;
			border: 1px solid;
			border-color: inherit;
			margin: -1px 0 0 -1px;
			background-color: rgba(0,0,0,0.015);
		}
	}
}

.blog-grid,
.blog-masonry {
	.hentry {
		float: left;

		.post-info {
			&,
			&.post-link a,
			&.post-quote blockquote {
				border-width: 0;
				border-radius: 0;
			}
			.post-date {
				border-bottom-width: 1px;
			}
		}

		.post-feat {
			width: auto;
			margin: -1px -1px 0 -1px;
			overflow: hidden;

			img,
			&.post-video,
			&.post-audio,
			&.post-gallery,
			&.post-quote blockquote,
			&.post-link a,
			&.feat-format {
				border-radius: 0;
				-webkit-perspective: none;
			}
		}

		$inner-padding: 15px;

		.post-aside { padding: $inner-padding; padding-bottom: 0; }

		.page-title,
		.page-header .entry-meta,
		.entry-body { padding-left: $inner-padding; padding-right: $inner-padding; }
	}
}

.blog-grid .hentry,
.blog-masonry .post-wrapper { padding-bottom: $padding-s; }

.blog-2-col .hentry { width: 50%; }
.blog-3-col .hentry { width: 33.33333%; }
.blog-4-col .hentry { width: 25%; }
.blog-5-col .hentry { width: 20%; }


// PAGINATION

.pager {
	margin: $margin-l 0;

	&, li, li a, li span { border-color: inherit; }
	li a, li span { height: 34px; background-color: transparent; }
	li a, li > span { font-size: 13px; border-radius: $bd-radius; }
	.icon { vertical-align: middle; margin-right: 10px; }
	.next .icon { margin-left: 10px; margin-right: 0; }
}

.numbered-paging {
	.pager { text-align: center; }
	li { display: inline-block; margin: 2px; }

	@include media('screen', 'mars') {
		li { margin: 0 0 0 -1px; }
		li a, li span { border-radius: 0; }
		li:first-child {
			a, span { border-radius: $bd-radius 0 0 $bd-radius; }
		}
		li:last-child {
			a, span { border-radius: 0 $bd-radius $bd-radius 0; }
		}
	}
}

.post-navigation {
	margin: 0 !important;
	border-top-width: 1px;
	border-top-style: solid;

	.pager { margin: $margin-m 0; }
}

.ajax-page {
	width: 100%;
	display: block;
	clear: both;

	a {
		display: inline-block;
		padding: $padding-s 0;
	}
}


// GALLERY STYLING

.gallery {
	padding: 0;
	list-style: none;
	margin-bottom: 1.5em;

	a img {
		border: none;
		height: auto;
		max-width: 90%;
	}

	dd { margin: 0; }

	.gallery-caption {}
}

// POST SLIDER GALLERY

.gallery-slider {
	margin: 0;

	a img { max-width: 100%; }

	li {
		position: relative;

		img { min-width: 100%; }

		.gallery-caption {
			position: absolute;
			left: 0; bottom: 0;
			width: 100%;
			margin: 0;
			padding: 10px;
			color: #fff;
			text-align: center;
			background: rgba(0,0,0,0.4);
		}
	}

	&:not(.lightSlider) li:not(:first-child) { display: none; }
}

.sticky {}
.bypostauthor {}


// POST EXTRA ELEMENTS

.post-extra {
	border-color: inherit;
	margin-bottom: $margin-l;
	@extend %clearfix;
}

.post-extra .title,
.comments-title {
	margin: 0 0 $margin-m;
	padding: $padding-s 0;
	font-size: $font-size-l;
	border-color: inherit;
	@extend .border-top-btm;
}

// ABOUT THE AUTHOR

.about-the-author {
	.author-avatar {
		float: left;
		margin: 0 $margin-m $margin-s 0;

		img { border-radius: $bd-radius; }
	}

	.author-bio p:last-child { margin-bottom: 0; }

	.author-links {
		a {
			margin-top: $margin-s;
		}
	}
}


// RELATED POSTS

.post-related {
	$max-height: 200px;

	.post {
		float: left;
		width: 32%;
		max-height: $max-height;
		margin-right: 2%;
		position: relative;
		overflow: hidden;
		border-color: inherit;

		&:last-child { margin-right: 0; }

		.related-title {
			position: absolute;
			left: 0; right: 0; bottom: 0;
			margin: 0;
			padding: $padding-s;
			color: $theme-bg-dark-color;
			font-weight: bold;
			font-size: $font-size-s;
			opacity: 1;
			visibility: visible;
			border-radius: 0 0 $bd-radius $bd-radius;
			background-color: rgba(0,0,0,0.5);
			vertical-align: middle;
			text-shadow: 0 1px 1px rgba(0,0,0,0.4);
			transition: bottom 0.4s ease-out 0.2s;
		}

		.related-content { margin: $margin-s 0 0; }

		&:hover {
			.related-title:not(:hover) {
				bottom: -100%;
				transition: bottom 0.4s ease-in 0.6s;
			}
		}
	}
	.post-feat {
		width: 100%;
		max-width: 100%;
		min-height: 140px;
		max-height: $max-height;
		float: none;
		margin: 0;

		&.post-video > div,
		&.post-video > iframe {
			min-width: 0;
		}

		&.feat-format + .related-title {
			color: $theme-color;
			text-shadow: none;
			background-color: transparent;
		}
	}
}


// COMMENT STYLING

.comments-area {

	&:focus,
	li:focus { outline: 0; }

	.comments-title { margin: 0; }

	.comment-list {
		padding: 0;
		list-style: none;
	}

	&,
	.children,
	.comment-list,
	.comment-list li,
	.comment-cont { border-color: inherit; }

	.no-comments { font-size: 15px; }
}

.comment {
	.children {
		padding-left: 0;
		margin-left: $margin-m;
		border-left-width: 1px;
		border-left-style: solid;

		li {
			article,
			#respond {
				padding-left: $padding-m;
			}

			#respond { overflow: auto; }
		}
	}

	&.depth-1 > .children { margin-left: 0; }

	.comment-reply-link { font-size: $font-size + 1px; }
}

.comment-cont {
	margin-top: -1px;
	padding: $padding-m 0;
	border-style: solid;
	border-width: 1px 0 1px 0;

	.edit-link { margin-left: 5px; }
}

.comment-header {
	.comment-avatar {
		float: left;
		margin-right: $margin-s;

		img { border-radius: $bd-radius; }
	}

	.comment-author {
		font-weight: bold;
		font-style: normal;
	}

	.comment-meta { font-size: $font-size-s; }
}

.comment-content {
	margin-top: $margin-s;
}

#respond {
	#reply-title {
		margin: $margin-m 0;
		font-size: $font-size-l;
	}
	#cancel-comment-reply-link {
		margin-left: 5px;
		font-size: $font-size-s;
	}
	.logged-in-as,
	.comment-notes,
	.form-allowed-tags { font-size: $font-size-s; }

	.required { color: $red; }

	.author-field.last { margin-bottom: $margin-m; }

	.form-submit {
		margin-top: $margin-m;
		margin-bottom: $margin-m;

		.submit { border-width: 0; }
	}

	@include media('screen', 'mercury') {
		.author-field {
			float: left;
			width: 32%;
			margin-right: 2%;
			margin-bottom: $margin-m;

			&.last { margin-right: 0; }
		}
	}
}