
.no-visibility .navbar .sub-menu {
    display: none;
}

// DESKTOP NAV BREAKPOINT

@media (min-width: 768px) {

    // Fix for browsers with no visibility support
    .no-visibility .navbar,
    .no-visibility .navbar-mixt {
        .dropdown:hover > .sub-menu,
        .mega-menu:hover > .sub-menu {
            display: block;
        }
    }
}

// MOBILE NAV BREAKPOINT

@media (max-width: 767px) {

    // Fix for browsers with no visibility support
    .no-visiblity .navbar-mixt .dropdown-menu {
        display: block;
    }
}

@media (min-width: 601px) {

    // Fix for browsers with no rgba() support
    .no-rgba .fixed-nav .navbar-mixt { opacity: 0.97; }
}