
/* - THEME COLORS - */

// Text Color
body,
a.no-color,
a:hover,
a:focus,
.theme-color { color: $theme-color; }

// Text Color Fade
.post-meta a,
.post-meta > span,
.theme-color-fade { color: $theme-color-fade; }

// Accent Text Color
a,
.accent-color,
.post-meta a:hover,
.head-media .media-inner a:hover { color: $theme-accent; }

// Accent Background Color
.accent-bg,
.accent-bg:hover,
.tag-list a:hover,
.tagcloud a:hover,
.hover-accent-bg:hover {
	color: set-color-for-bg($theme-accent);
	background-color: $theme-accent;
}

// Border Color
.theme-bd { border-color: $theme-border; }

// Accent Border Color
.theme-accent-bd { border-color: $theme-accent; }