
/* - MIXT UI ELEMENTS - */

// Search Widget

.search-form {
	.search-submit {
		margin-left: -1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

// Link Lists

.link-list {
	margin-bottom: 0;

	li {
		display: inline-block;
		text-align: center;
		@extend .nav-border;
		border-right-width: 1px;
		a {
			display: block;
			padding: 5px 10px;
			color: $text-dark-color-fade;
			transition: color 0.25s;

			&:hover,
			&:active {
				color: $theme-accent;
				text-decoration: none;
			}
		}

		&:first-child { border-left-width: 1px; }
	}
}

// Tooltips

.tooltip.fade { transition: opacity 0.2s ease; }
.tooltip.fade.in { transition: opacity 0.3s ease 0.4s; }
.tooltip-inner { padding: 6px 10px; }

// Social Links

.social-links {
	li a {
		padding: 5px 10px 3px;

		i { font-size: 16px; }
	}
}

// Bootstrap

.dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    
}
.dropdown-menu ul { list-style: none; padding: 0; }