
/* - GLOBAL VARIABLES - */

$bd-radius: 3px;

$img-path: '../assets/img';

// TYPOGRAPHY

$font-size-xs: 12px;
$font-size-s: 13px;
$font-size: 14px;
$font-size-l: 17px;
$font-size-xl: 20px;
$font-size-xxl: 26px;

$font-size-h1: 22px;

// SPACING, MARGINS & PADDINGS

$gutter: 15px;
$gutter-l: 30px;

$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 30px;

$padding-xs: 5px;
$padding-s: 10px;
$padding-m: 20px;
$padding-l: 30px;