
// Navbar Theme Colors

$main-nav-opacity: 0.95;

@mixin navbar-theme($name, $theme) {
	$bg: map-get($theme, 'bg');
	$accent: map-get($theme, 'accent');
	$color: map-get($theme, 'color');
	$color-inv: map-get($theme, 'color-inv');
	$border: map-get($theme, 'border');

	$menu-bg: map-get($theme, 'menu-bg');
	$menu-bg-hover: theme-color($theme, 'menu-bg-hover', rgba(0,0,0,0.02));
	$menu-bg-expand: theme-color($theme, 'menu-expand', rgba(0,0,0,0.04));
	$menu-color: map-get($theme, 'menu-color');
	$menu-color-fade: map-get($theme, 'menu-color-fade');
	$menu-border: map-get($theme, 'menu-border');
	$menu-border-alpha: theme-color($theme, 'menu-border-alpha', false);

	@if ( lumin($bg) > 0.5 ) {
		$bg-light: true;

		$bg-light-accent: $accent;
		$bg-light-color: $color;
		$bg-light-border: $border;


		$bg-dark-accent: theme-color($theme, 'accent-inv', $accent);
		$bg-dark-color: $color-inv;
		$bg-dark-border: theme-color($theme, 'border-inv');
	} @else {
		$bg-light: false;

		$bg-light-accent: theme-color($theme, 'accent-inv', $accent);
		$bg-light-color: $color-inv;
		$bg-light-border: theme-color($theme, 'border-inv');

		$bg-dark-accent: $accent;
		$bg-dark-color: $color;
		$bg-dark-border: $border;
	}

	.navbar.theme-#{$name} {
		border-color: $border;
		background-color: $bg;

		.nav {
			&,
			&.active-top {
				> .active > a:before { background-color: $accent; }
			}
		}

		// SUBMENUS
		
		.sub-menu {
			background-color: $menu-bg;

			li > a {
				&:hover,
				&:focus { background-color: $menu-bg-hover; }
			}

			li > a,
			input { color: $menu-color; }

			&,
			> li,
			> li > a {
				border-color: $menu-border;
				@if $menu-border-alpha { border-color: $menu-border-alpha; }
			}

			li > a:hover,
			.active > a,
			.active > a:hover {
				color: $accent;
			}
		}

		// OTHER ELEMENTS

		// Nav Search Form
		.nav-search .search-form {
			button {
				color: $menu-color;
				border-color: $menu-border;
				@if $menu-border-alpha { border-color: $menu-border-alpha; }
			}

			::placeholder { color: $menu-color-fade; }
		}

		// LIGHT BACKGROUND
		
		@if $bg-light {
			$bg-light-sel: '&';
		} @else {
			$bg-light-sel: '&.bg-light';
		}
		#{$bg-light-sel} {
			.nav > li > a,
			.text-cont,
			.text-cont a:hover,
			.text-cont a.no-color {
				color: $bg-light-color;
			}

			.nav > li:hover > a,
			.nav > li.hover > a,
			.nav > li > a:hover,
			.nav > .active > a,
			.text-cont a {
				color: $bg-light-accent;
			}

			.navbar-toggle .icon-bar {
				background-color: $bg-light-color;
			}

			.nav > li,
			.nav > li > a,
			.navbar-toggle { border-color: $bg-light-border; }

			.divider { background-color: $bg-light-border; }
		}

		// DARK BACKGROUND

		@if $bg-light {
			$bg-dark-sel: '&.bg-dark';
		} @else {
			$bg-dark-sel: '&';
		}
		#{$bg-dark-sel} {
			.nav > li > a,
			.text-cont,
			.text-cont a:hover,
			.text-cont a.no-color {
				color: $bg-dark-color;
			}

			.nav > li:hover > a,
			.nav > li.hover > a,
			.nav > li > a:hover,
			.nav > .active > a,
			.text-cont a {
				color: $bg-dark-accent;
			}

			.navbar-toggle .icon-bar {
				background-color: $bg-dark-color;
			}

			.nav > li,
			.nav > li > a,
			.navbar-toggle { border-color: $bg-dark-border; }

			.divider { background-color: $bg-dark-border; }
		}

		
		// MAIN NAVBAR STYLES
		
		&.navbar-mixt {
			&:not(.vertical) {
				background-color: rgba($bg, $main-nav-opacity);
			}

			.sub-menu { background-color: rgba($menu-bg, $main-nav-opacity); }

			@include media('screen', '<mars') {
				.navbar-inner {
					background-color: $menu-bg;
				}

				.navbar-inner .text-cont,
				.navbar-inner .text-cont a:hover,
				.navbar-inner .text-cont a.no-color,
				.nav > li > a {
					color: $menu-color;
				}

				// Hover State
				.nav > li > a:hover,
				.nav > li:hover > a,
				.nav > li.hover > a {
					background-color: $menu-bg-hover;
				}

				.nav > li:hover > a,
				.nav > li.hover > a,
				.nav > li > a:hover,
				.nav > li.active > a,
				.navbar-inner .text-cont a { color: $accent; }

				// Border Colors
				.navbar-inner,
				.nav > li,
				.nav > li > a {
					border-color: $menu-border;
					@if $menu-border-alpha { border-color: $menu-border-alpha; }
				}

				// Menu Expanded State
				.nav li.expand,
				.nav li.expand .sub-menu a:hover {
					background-color: $menu-bg-expand;
				}
			};
		}
	}
}

// Generate navbar themes
@each $name, $theme in $themes {
	@include navbar-theme($name, $theme);
}