
@mixin site-theme($name, $theme) {

	/* ## #{$name} Site Theme
	-------------------------- */

	$accent: map-get($theme, 'accent');

	$bg: map-get($theme, 'bg');

	$color: map-get($theme, 'color');
	$color-inv: map-get($theme, 'color-inv');

	$border: map-get($theme, 'border');

	$theme-dark: theme-color($theme, 'bg-dark', false);

	$color-fade: if( $theme-dark, theme-color($theme, 'color-fade', darken($color, 10)), theme-color($theme, 'color-fade', lighten($color, 10)) );
	$color-inv-fade: if( $theme-dark, theme-color($theme, 'color-inv-fade', lighten($color-inv, 10)), theme-color($theme, 'color-inv-fade', darken($color-inv, 10)) );

	$bg-light-color: if( $theme-dark, $color-inv, $color );
	$bg-light-color-fade: if( $theme-dark, $color-inv-fade, $color-fade );

	$bg-dark-color: if( $theme-dark, $color, $color-inv );
	$bg-dark-color-fade: if( $theme-dark, $color-fade, $color-inv-fade );

	$bg-alt: darken($bg, 2);
	$color-alt: $color;
	@if ( map-has-key($theme, 'bg-alt') ) {
		$bg-alt: map-get($theme, 'bg-alt');
		$color-alt: contrast-color($bg-alt, $color, $color-inv);
	}
	$color-alt: theme-color($theme, 'color-alt', $color-alt);
	$border-alt: theme-color($theme, 'border-alt', $border);

	$bg-inv: theme-color($theme, 'bg-inv', lighten(invert($bg), 10));
	$border-inv: theme-color($theme, 'border-inv', darken($bg-inv, 10));
		
	$input-bg: darken($bg, 2);
	$input-border: darken($bg, 10);

	.theme-#{$name} {
		background-color: $bg;

		// COLOR HELPER CLASSES
		
		.theme-bg { background-color: $bg; }

		.theme-color { color: $color; }
		.theme-color-fade { color: $color-fade; }
		.theme-color-inv { color: $color-inv; }
		.theme-color-inv-fade { color: $color-inv-fade; }

		.theme-bg-light-color { color: $bg-light-color; }
		.theme-bg-light-color-fade { color: $bg-light-color-fade; }
		.theme-bg-dark-color { color: $bg-dark-color; }
		.theme-bg-dark-color-fade { color: $bg-dark-color-fade; }

		.accent-color { color: $accent; }
		.accent-bg {
			color: set-color-for-bg($accent);
			background-color: $accent;
		}

		.theme-bd { border-color: $border; }
		.theme-accent-bd { border-color: $accent; }


		// THEME SECTION COLORS
		
		.theme-section-main {
			color: $color;
			background-color: $bg;
			border-color: $border;
		}

		.theme-section-alt {
			color: $color-alt;
			border-color: $border-alt;
			background-color: $bg-alt;
		}

		.theme-section-accent {
			color: set-color-for-bg($accent);
			border-color: darken($accent, 10);
			background-color: $accent;
		}

		.theme-section-inv {
			color: $color-inv;
			border-color: $border-inv;
			background-color: $bg-inv;
		}


		// TEXT COLORS
		
		&,
		#content-wrap { color: $color; }

		a,
		.post-meta a:hover,
		h2.page-title a:hover,
		#breadcrumbs a:hover,
		.pager a:hover,
		.pager li > span,
		.hover-accent-color:hover,
		.widget-area .nav li a:hover,
		.sidebar .child-page-nav li a:hover { color: $accent; }

		.post-meta a,
		.post-meta > span,
		.link-list li a { color: $color-fade; }

		.head-media {
			&.bg-light {
				.container,
				.media-inner > a,
				.header-scroll,
				#breadcrumbs > li + li:before { color: $bg-light-color; }
			}
			&.bg-dark {
				.container,
				.media-inner > a,
				.header-scroll,
				#breadcrumbs > li + li:before { color: $bg-dark-color; }
			}
		}

		.post-related.related-media .related-content { color: $bg-dark-color; }

		.link-list li {
			a:hover,
			a:active,
			&.active > a { color: $accent; }
		}


		// BORDER COLORS
		
		&,
		#content-wrap,
		.sidebar ul,
		.wp-caption,
		hr,
		legend { border-color: $border; }

		.article.sticky .page-title,
		.article.sticky-post .page-title { border-color: $accent; }

		.comment-list .bypostauthor > .comment-cont { border-left-color: $accent; }


		// BACKGROUND COLORS
		
		.accent-bg:hover,
		.hover-accent-bg:hover,
		.post-feat.post-link,
		.post-feat.feat-format,
		.post-feat.post-quote,
		.tag-list a:hover,
		.tagcloud a:hover {
			color: set-color-for-bg($accent) !important;
			background-color: $accent;
		}

		.post-feat.post-aside {
			color: $color-inv;
			background-color: fade-out($bg-inv, 0.2);
		}

		.post-feat.post-status {
			color: $color-alt;
			background-color: $bg-alt;
		}

		.article .post-info .post-date { background-color: darken($bg, 5); }


		// INPUTS

		%theme-input-color {
			color: $color;
			border-color: $input-border;
			background-color: $input-bg;

			&:focus {
				border-color: $input-border;
				background-color: lighten($bg, 2);
			}
		}

		input,
		.form-control { @include placeholder($color-fade); }

		@if $theme-dark {
			select { @extend %select-arrow-light; }
			@if $select2 { .mixt & .select2-container .select2-arrow b:after { @extend %select-arrow-light; } }
		}


		// OTHER COLORS

		.sidebar .child-page-nav .current_page_item {
			&,
			&:before { background-color: darken($bg, 3); }
		}
		
		::selection {
			background: $accent;
			background: fade-out($accent, 0.2);
			color: set-color-for-bg($accent, #fff, #000);
		}

		blockquote {
			border-color: darken($bg, 10);
			border-left-color: $accent;
			background-color: darken($bg, 2);
		}


		// BOOTSTRAP ELEMENTS

		.alert-default {
			@include alert-variant(darken($bg, 3), $border, $color);
			a { color: $accent; }
		}

		.panel {
			border-color: $border;
			background-color: lighten($bg, 3);
		}

		.well {
			border-color: $border;
			background-color: darken($bg, 3);
		}


		// BACKGROUND VARIANTS
		
		.bg-light {
			color: $bg-light-color;
			.color-fade { color: $bg-light-color-fade; }
		}
		.bg-dark {
			color: $bg-dark-color;
			.color-fade { color: $bg-dark-color-fade; }
		}


		// ELEMENT COLORS
		
		.mixt-stat,
		.mixt-headline span.color-auto:after,
		.mixt-timeline .timeline-block:before { border-color: $border; }

		.mixt-row-separator.no-fill svg { fill: $bg; }

		.mixt-map { color: $bg-light-color; }


		// PLUGIN COLORS

		// LightSlider
		@if $lightslider {
			.lSSlideOuter .lSPager.lSpg > li {
				a { background-color: $color-fade; }
				
				&:hover a,
				&.active a {
					background-color: $accent;
				}
			}
		}

		// Visual Composer
		@if $vcomposer {
			.wpb_content_element {
				.wpb_tour_tabs_wrapper .wpb_tabs_nav a,
				.wpb_accordion_header a {
					&:hover { color: $accent; }
				}
			}

			.vc_separator.theme-bd .vc_sep_holder .vc_sep_line { border-color: $border; }

			.mixt-grid-item.scale-and-rotate .gitem-title-cont {
				color: $color;
				background-color: lighten($bg, 5);
			}

			.vc_tta:not(.vc_tta-o-no-fill) {
				&.vc_tta-style-classic,
				&.vc_tta-style-modern {
					.vc_tta-panel-body { color: $bg-light-color; }
				}
			}
		}

		// WooCommerce
		@if $woocommerce {
			.woocommerce {
				.price .amount,
				.total .amount,
				.woo-cart .amount,
				.nav li .amount { color: $accent; }

				.nav li del .amount,
				#reviews #comments ol.commentlist li .meta { color: $color-fade; }

				.widget_price_filter .ui-slider .ui-slider-range,
				.badge-cont .badge.sale-badge { background-color: $accent; }

				.woocommerce-tabs {
					ul.tabs li {
						a { color: $color-fade !important; }
						&.active {
							border-bottom-color: $bg !important;
							a { color: $color !important; }
						}
					}
					ul.tabs li.active,
					.wc-tab {
						color: $color !important;
						background-color: $bg !important;
					}
				}

				table.shop_table {
					&, th, td { border-color: $border !important; }
				}
				.cart-collaterals .cart_totals tr {
					td, th { border-color: $border; }
				}
			}

			form .form-row {
				&.woocommerce-validated,
				&.woocommerce-invalid {
					.select2-choice,
					input.input-text,
					select {
						border-color: $input-border;
					}
				}
			}

			.woocommerce-checkout #payment { border-color: $border; }
		}
	}

	// Styling for elements outside #main-wrap-inner
	.body-theme-#{$name} {

		@if $select2 {
			.mixt & { @include select2-theme-color($input-bg, $color, $input-border); }
		}

		@if $lightgallery {
			.lg-outer .lg-thumb-item {
				&.active,
				&:hover {
					border-color: $accent;
				}
			}
			.lg-progress-bar .lg-progress {
				background-color: $accent;
			}
		}
	}
}

// Generate site themes
@each $name, $theme in $site-themes {
	@include site-theme($name, $theme);
}