
// Site-Wide Theme Colors

@if ( lumin($theme-bg) > 0.5 ) {
	$site-border: $theme-border;
	$site-border-alpha: $theme-border-alpha;
} @else {
	$site-border: $theme-bg-dark-border;
	$site-border-alpha: $theme-bg-dark-border-alpha;
}


body {
	background-color: $theme-bg;
}

// COLOR HELPER CLASSES

.theme-color { color: $theme-color; }
.theme-color-fade { color: $theme-color-fade; }
.theme-color-inv { color: $theme-color-inv; }
.theme-color-inv-fade { color: $theme-color-inv-fade; }

.theme-bg-light-color { color: $theme-bg-light-color; }
.theme-bg-light-color-fade { color: $theme-bg-light-color-fade; }
.theme-bg-dark-color { color: $theme-bg-dark-color; }
.theme-bg-dark-color-fade { color: $theme-bg-dark-color-fade; }

.accent-color { color: $theme-accent; }
.accent-bg {
	color: set-color-for-bg($theme-accent);
	background-color: $theme-accent;
}

.theme-bd { border-color: $site-border; }
.theme-accent-bd { border-color: $theme-accent; }

.color-fade { opacity: 0.8; }

// TEXT COLORS
	body,
	#content-wrap { @extend .theme-color; }

	.head-media {
		.container,
		#breadcrumbs > li + li:before { @extend .theme-color; }

		&.bg-dark {
			.container,
			.media-inner a,
			.header-scroll,
			#breadcrumbs > li + li:before { @extend .theme-bg-dark-color; }
		}
	}

	.post-related .related-title { @extend .theme-bg-dark-color; }

	.link-list li a { @extend .theme-color-fade; }

	.page-header,
	.page-footer {
		.post-meta {
			a,
			> span { @extend .theme-color-fade; }
		}
	}

	a,
	.post-meta a:hover,
	#breadcrumbs a:hover { @extend .accent-color; }

	.link-list li {
		a:hover,
		a:active,
		&.active > a { @extend .accent-color; }
	}

// BORDER COLORS
	body,
	#content-wrap,
	.sidebar ul {
		border-color: $site-border;
	}

// BACKGROUND COLORS
	.accent-bg:hover,
	.hover-accent-bg:hover,
	.tag-list a:hover,
	.tagcloud a:hover {
		background-color: $theme-accent;
	}

// OTHER COLORS
	::selection {
		background: $theme-accent;
		background: fade-out($theme-accent, 0.2);
		color: set-color-for-bg($theme-accent, #fff, #000);
		text-shadow: none;
	}

	#location-bar {
		border-color: $site-border;
		background-color: darken($theme-bg, 5);
	}

	blockquote {
		border-color: darken($theme-bg, 10);
		border-left-color: $theme-accent;
		background-color: darken($theme-bg, 2);

		cite { color: $theme-color-fade; }
	}

// ELEMENT COLORS
	.mixt-stat.type-box,
	.mixt-headline span.color-auto:after,
	.mixt-timeline .timeline-block:before { border-color: $site-border; }

	.mixt-row-separator.no-fill svg { fill: $theme-bg; }

// PLUGIN COLORS
	.vc_separator.theme-bd .vc_sep_holder .vc_sep_line { border-color: $theme-border; }

	.lSSlideOuter .lSPager.lSpg > li {
		&:hover a,
		&.active a {
			background-color: $theme-accent;
		}
	}

	.mixt .wpb_content_element {
		.wpb_tour_tabs_wrapper .wpb_tabs_nav a,
		.wpb_accordion_header a {
			&:hover { color: $theme-accent; }
		}
	}

.bg-light {
	color: $theme-bg-light-color;
	.color-fade { color: $theme-bg-light-color-fade; }
}
.bg-dark {
	color: $theme-bg-dark-color;
	.color-fade { color: $theme-bg-dark-color-fade; }
}
