
// Site-Wide Theme Colors

@mixin site-theme($name, $theme) {
	$accent: map-get($theme, 'accent');

	$bg: map-get($theme, 'bg');
	$bg-hover: map-get($theme, 'bg-hover');

	$color: map-get($theme, 'color');
	$color-fade: map-get($theme, 'color-fade');
	$color-inv: map-get($theme, 'color-inv');
	$color-inv-fade: map-get($theme, 'color-inv-fade');

	$border: map-get($theme, 'border');
	$border-alpha: map-get($theme, 'border-alpha');
	$border-inv: map-get($theme, 'border-inv');
	$border-inv-alpha: map-get($theme, 'border-inv-alpha');

	@if ( lightness(map-get($theme, 'color')) > lightness(map-get($theme, 'color-inv')) ) {
		$bg-light-color: map-get($theme, 'color-inv');
		$bg-light-color-fade: map-get($theme, 'color-inv-fade');
		$bg-dark-color: map-get($theme, 'color');
		$bg-dark-color-fade: map-get($theme, 'color-fade');
	} @else {
		$bg-light-color: map-get($theme, 'color');
		$bg-light-color-fade: map-get($theme, 'color-fade');
		$bg-dark-color: map-get($theme, 'color-inv');
		$bg-dark-color-fade: map-get($theme, 'color-inv-fade');
	}

	@if ( lumin($bg) > 0.5 ) {
		$theme-dark: false;
	} @else {
		$theme-dark: true;
	}

	.theme-#{$name} {
		&,
		#main-wrap {
			background-color: $bg;
		}

		// COLOR HELPER CLASSES
		
		.theme-bg { background-color: $bg; }

		.theme-color { color: $color; }
		.theme-color-fade { color: $color-fade; }
		.theme-color-inv { color: $color-inv; }
		.theme-color-inv-fade { color: $color-inv-fade; }

		.theme-bg-light-color { color: $bg-light-color; }
		.theme-bg-light-color-fade { color: $bg-light-color-fade; }
		.theme-bg-dark-color { color: $bg-dark-color; }
		.theme-bg-dark-color-fade { color: $bg-dark-color-fade; }

		.accent-color { color: $accent; }
		.accent-bg {
			color: set-color-for-bg($accent);
			background-color: $accent;
		}

		.theme-bd { border-color: $border; }
		.theme-accent-bd { border-color: $accent; }

		.color-fade { opacity: 0.8; }


		// THEME SECTION COLORS
		
		.theme-section-main {
			color: $color;
			background-color: $bg;
			border-color: $border;
		}

		.theme-section-alt {
			@if ( map-has-key($theme, 'bg-alt') ) {
				$bg-alt: map-get($theme, 'bg-alt');
				$color-alt: contrast-color($bg-alt, $color, $color-inv);
			} @else {
				$bg-alt: darken($bg, 3);
				$color-alt: $color;
			}
			$color-alt: theme-color($theme, 'color-alt', $color-alt);
			$border-alt: theme-color($theme, 'border-alt', darken($bg-alt, 5));

			color: $color-alt;
			border-color: $border-alt;
			background-color: $bg-alt;
		}

		.theme-section-accent {
			@extend .accent-bg;
			border-color: darken($accent, 10);
		}

		.theme-section-inv {
			$bg-inv: theme-color($theme, 'bg-inv', lighten(invert($bg), 10));

			color: $color-inv;
			border-color: $border-inv;
			background-color: $bg-inv;
		}


		// TEXT COLORS

		a,
		.post-meta a:hover,
		#breadcrumbs a:hover,
		.pager a:hover,
		.pager li > span,
		.hover-accent-color:hover { color: $accent; }

		&,
		body,
		#content-wrap { color: $color; }

		.head-media {
			&.bg-light {
				.container,
				.media-inner a,
				.header-scroll,
				#breadcrumbs > li + li:before { color: $bg-light-color; }
			}
			&.bg-dark {
				.container,
				.media-inner a,
				.header-scroll,
				#breadcrumbs > li + li:before { color: $bg-dark-color; }
			}
		}

		.post-related .related-title { color: $bg-dark-color; }

		.post-meta {
			a,
			> span { color: $color-fade; }
		}

		.link-list li a { color: $color-fade; }

		.link-list li {
			a:hover,
			a:active,
			&.active > a { color: $accent; }
		}


		// BORDER COLORS
		
		&,
		#content-wrap,
		.sidebar ul {
			border-color: $border;
		}

		.comment-list li.bypostauthor { border-left-color: $accent; }


		// BACKGROUND COLORS
		
		.accent-bg:hover,
		.hover-accent-bg:hover,
		.tag-list a:hover,
		.tagcloud a:hover {
			background-color: $accent;
		}

		.article .post-info .post-date { background-color: darken($bg, 5); }


		// INPUTS
		
		$input-bg: darken($bg, 3);

		%theme-input-color {
			color: $color;
			border-color: $border;
			background-color: $input-bg;

			@include placeholder($color-fade);

			&:focus {
				border-color: lighten($border, 2);
				background-color: lighten($bg, 2);
			}
		}

		@if $theme-dark { select { @extend %select-arrow-light; } }

		@if $select2 {
			.mixt & { @include select2-theme-color($input-bg, $color, $border); }
			@if $theme-dark { .mixt & .select2-container .select2-arrow b:after { @extend %select-arrow-light; } }
		}


		// OTHER COLORS
		
		::selection {
			background: $accent;
			background: fade-out($accent, 0.2);
			color: set-color-for-bg($accent, #fff, #000);
			text-shadow: none;
		}

		.sidebar .child-page-nav {
			li {
				a:hover,
				&.current_page_item a { color: $accent; }
			}
			.current_page_item {
				&,
				&:before { background-color: darken($bg, 3); }
			}
		}

		blockquote {
			border-color: darken($bg, 10);
			border-left-color: $accent;
			background-color: darken($bg, 2);

			cite { color: $color-fade; }
		}


		// BOOTSTRAP ELEMENTS

		.alert-default {
			@include alert-variant(darken($bg, 3), $border, $color);
			a { color: $accent; }
		}

		.panel {
			border-color: $border;
			background-color: lighten($bg, 3);
		}

		.well {
			border-color: $border;
			background-color: darken($bg, 3);
		}

		.table {
			caption { color: $color-fade; }
			&.table-bordered,
			th, td { border-color: $border !important; }
			&.table-striped > tbody > tr:nth-of-type(odd) { background-color: darken($bg, 3); }
		}


		// BACKGROUND VARIANTS
		
		.bg-light {
			color: $bg-light-color;
			.color-fade { color: $bg-light-color-fade; }
		}
		.bg-dark {
			color: $bg-dark-color;
			.color-fade { color: $bg-dark-color-fade; }
		}


		// ELEMENT COLORS
		
		.mixt-stat.type-box,
		.mixt-headline span.color-auto:after,
		.mixt-timeline .timeline-block:before { border-color: $border; }

		.mixt-row-separator.no-fill svg { fill: $bg; }

		.mixt-map { color: $bg-light-color; }


		// PLUGIN COLORS

		// LightSlider
		@if $lightslider {
			.lSSlideOuter .lSPager.lSpg > li {
				&:hover a,
				&.active a {
					background-color: $accent;
				}
			}
		}

		// LightGallery
		@if $lightgallery {
			.lg-outer .lg-thumb-item {
				&.active,
				&:hover {
					border-color: $accent;
				}
			}
			.lg-progress-bar .lg-progress {
				background-color: $accent;
			}
		}

		// Visual Composer
		@if $vcomposer {
			.wpb_content_element {
				.wpb_tour_tabs_wrapper .wpb_tabs_nav a,
				.wpb_accordion_header a {
					&:hover { color: $accent; }
				}
			}
			.vc_separator.theme-bd .vc_sep_holder .vc_sep_line { border-color: $border; }
			.mixt-grid-item .gitem-title-cont {
				color: $color;
				background-color: lighten($bg, 5);
			}
			.vc_tta:not(.vc_tta-o-no-fill) {
				&.vc_tta-style-classic,
				&.vc_tta-style-modern {
					.vc_tta-panel-body { color: $bg-light-color; }
				}
			}
		}

		// WooCommerce
		@if $woocommerce {
			.woocommerce,
			&.woocommerce {
				.price .amount,
				.total .amount,
				.woo-cart .amount,
				.nav li .amount { color: $accent; }

				.nav li del .amount { color: $color-fade; }

				.widget_price_filter .ui-slider .ui-slider-range { background-color: $accent; }

				.badge-cont .badge.sale-badge { background-color: $accent; }

				.woocommerce-tabs {
					ul.tabs li {
						a { color: $color-fade !important; }
						&.active {
							border-bottom-color: $bg !important;
							a { color: $color !important; }
						}
					}
					ul.tabs li.active,
					.wc-tab {
						color: $color !important;
						background-color: $bg !important;
					}
				}

				#reviews #comments ol.commentlist li .meta { color: $color-fade; }

				.cart-collaterals .cart_totals tr {
					td, th { border-color: $border; }
				}

				p.demo_store {
					color: set-color-for-bg($accent);
					background-color: $accent;
				}
			}

			form .form-row {
				&.woocommerce-validated,
				&.woocommerce-invalid {
					.select2-choice,
					input.input-text,
					select {
						border-color: $border;
					}
				}
			}
		}
	}
}

// Generate navbar themes
@each $name, $theme in $themes {
	@include site-theme($name, $theme);
}