
$themes: ();
@import 'lava';
@import 'eco';
@import 'aqua';

// ACTIVE THEME
$active-theme: 'lava';

@function theme-color($color, $theme: $active-theme) {
	$theme-map: map-get($themes, $theme);
	@if not map-has-key($theme-map, $color) {
		// @warn "Key #{$color} not found for the '#{$theme}' theme!";
		@return '';
	}
	@return map-get($theme-map, $color);
}