
$themes: ();
$site-themes: ();
$nav-themes: ();

// =====================================================
// When adding or removing themes, also update the
// respective array in the 'mixt_get_themes' function in 'core/assets.php',
// or use the default theme filters in your child theme
// =====================================================

@import 'lava';
@import 'eco';
@import 'aqua';
@import 'edge';
@import 'reno';

// Join universal theme maps with specific ones
$site-themes: map-merge($themes, $site-themes);
$nav-themes: map-merge($themes, $nav-themes);


// COLOR VARIANTS

%basic-color-text-variants {
	@each $sel, $color in $basic-colors {
		&.#{$sel} {
			color: $color;
		}
	}
	@each $theme, $colors in $site-themes {
		.theme-#{$theme} &.accent {
			color: map-get($colors, 'accent');
		}
	}
}

%basic-color-bg-variants {
	@mixin bg-variant($color) {
		color: set-color-for-bg($color);
		border-color: darken($color, 10);
		background-color: $color;
		@include text-shadow-for-bg($color);
	}
	@each $sel, $color in $basic-colors {
		&.#{$sel} {
			@include bg-variant($color);
		}
	}
	@each $theme, $colors in $site-themes {
		.theme-#{$theme} &.accent {
			@include bg-variant(map-get($colors, 'accent'));
		}
	}
}

%basic-color-border-variants {
	@each $sel, $color in $basic-colors {
		&.#{$sel} { border-color: $color; }
	}
	@each $theme, $colors in $site-themes {
		.theme-#{$theme} &.accent {
			border-color: map-get($colors, 'accent');
		}
	}
}