
@import 'navbar-base';

// Navbar Bordered Menu Items

.navbar.bordered {
	.nav {
		> li {
			margin-left: -1px;
			border-style: solid;
			border-width: 0 1px 0 1px;

			transition: border-color 0.2s;
		}

		> .menu-social-icons {
			margin-left: 0;
			border-left-width: 0;
			border-right-width: 0;
		}

		> .divider { opacity: 1; background-color: transparent !important; }
	}

	.dropdown > .sub-menu {
		left: -1px;
	}
	.dropdown > .sub-menu.drop-left,
	.dropdown:last-child > .sub-menu {
		left: auto; right: -1px;
	}
}


// Navbar Vetical Layout

@import 'navbar-vertical';


// Primary Navbar

@import 'navbar-primary';


// Secondary Navbar

.second-nav {
	min-height: $sec-nav-item-height;
	z-index: 10000;

	.left-content, .right-content {
		border-color: inherit;
	}

	// Left Side
	.left-content {
		float: left;

		.dropdown:last-child > .sub-menu {
			left: 0; right: auto;
		}
	}

	// Right Side
	.right-content {
		float: right;
		text-align: right;

		.nav {
			float: right;
		}
	}

	// Navigation
	.nav {
		&,
		&.social-links {
			> li {
				float: left;

				> a {
					padding: 0 10px;
					line-height: $sec-nav-item-height - 1px;

					i { padding: 0; }
				}
			}
		}

		li > a { font-size: 12px; }

		.menu-icon { font-size: 14px; }

		.drop-arrow { font-size: 8px; }

		.sub-menu li > a { padding: 8px; }

		.divider,
		.btn-cont {
			height: ($sec-nav-item-height - 6px);
			margin-top: 3px;
			margin-bottom: 3px;
		}
		.btn-cont {
			margin-left: 3px;
			margin-right: 3px;

			.btn { padding: 0 10px; }
		}

		.mega-menu > .sub-menu > li > a {
			height: auto;
			max-height: 38px;
			padding-top: 12px !important;
			padding-bottom: 12px !important;
		}
	}

	.no-menu-msg {
		line-height: $sec-nav-item-height;
	}

	&.bordered .left-content .dropdown:last-child > .sub-menu {
		left: -1px; right: auto;
	}

	// Custom Code / Text
	.content-code { display: table; }
	.code-inner {
		font-size: 13px;
		display: table-cell;
		vertical-align: middle;

		a, i, strong, em { vertical-align: baseline; }

		.icon { margin: auto 5px; }
	}

	.nav > li > a,
	.content-code {
		height: $sec-nav-item-height;
	}

	// Handle left and right side "overlap"
	&.items-overlap {

		.container { padding: 0; }

		.left-content, .right-content {
			width: 100%;
			font-size: 0;
			text-align: center;

			> .content-code,
			> .navbar-inner,
			> .nav {
				float: none;
				display: inline-block;
			}

			.nav > li {
				float: none;
				display: inline-block;
				vertical-align: top;
			}

			.divider { display: none !important; }
		}

		.right-content { border-top: 1px solid #000; border-color: inherit; }
	}
}