
$menu-hover-bg: rgba(0,0,0,0.05);

.nav > li > a { transition: background 0.2s, color 0.2s; }

.navbar {
	width: 100%;
	margin-bottom: 0;
	border-radius: 0;
	border-width: 0;
	border-style: solid;
	border-bottom-width: 1px;
	border-color: $site-border;
	border-color: $site-border-alpha;
	background-repeat: repeat;
	background-position: center center;
	@include bg-color-alpha($theme-bg, 0.95);

	.container { border-color: inherit; }
	.navbar-inner { padding: 0; }
	.navbar-collapse.in { overflow-y: visible; }

	.navbar-header,
	.navbar-nav { margin: 0; }

	ul { @extend %reset-list; }

	// NAV MENU

	.nav {
		> li > a {
			height: 50px;
			padding: 0 15px;
			line-height: 50px;

			.menu-label { vertical-align: middle; }
		}

		// Active State
		> .active > a {
			color: $theme-accent;
			position: relative;
			border-color: transparent;
			background-color: transparent;
		}

		&,
		&.active-top {
			> .active > a:before {
				position: absolute;
				left: 0; bottom: -1px;
				width: 100%;
				height: 3px;
				content: '';
				background-color: $theme-accent;
			}
		}
		&.active-top > .active > a:before {
			top: -1px; bottom: auto;
		}

		&.active-left,
		&.active-right {
			> .active > a:before {
				top: 0;
				bottom: 0;
				width: 3px;
				height: auto;
			}
		}
		&.active-right > .active > a:before {
			left: auto; right: 0;
		}
		&.no-active > .active > a:before { display: none; }

		// Disabled State
		.disabled {
			> a {
				opacity: 0.6;
				cursor: default;
				background-color: transparent !important;
			}
			.sub-menu { display: none !important; }
		}
	}

	// Hover State
	.nav > li > a:hover,
	.nav > li:hover > a,
	.nav > li.hover > a,
	.navbar-toggle:hover {
		background-color: $menu-hover-bg;
	}

	// Border Colors
	.nav > li,
	.nav > li > a,
	.navbar-toggle {
		border-color: $theme-border;
		border-color: $theme-border-alpha;
	}

	&.no-hover-bg {
		.nav > li > a:hover,
		.nav > li:hover > a,
		.nav > li.hover > a,
		.navbar-toggle:hover { background-color: transparent !important; }
	}

	// Menu Icons
	.menu-icon {
		font-size: 16px;
		vertical-align: middle;
		margin-right: 8px;
		line-height: 1.2;

		&:last-child { margin-right: 0; }

		&:after:empty { display: none; }
	}

	// Menu Button
	.menu-btn {
		.btn-cont {
			display: inline-block;
			vertical-align: middle;
		}
		.btn {
			height: 100%;
			padding: 5px 15px;

			i, span { vertical-align: middle; }
		}
	}

	// Text Color
	.nav > li > a,
	.text-cont,
	.text-cont a:hover,
	.text-cont a.no-color { color: $theme-color; }

	.nav > li > a:hover,
	.text-cont a { color: $theme-accent; }

	// DROPDOWN MENUS

	.nav > li > a,
	.sub-menu > li > a {
		font-weight: inherit;
	}

	// Standard Dropdown Menus
	.nav > li > .sub-menu {
		margin-top: 10px;
	}

	// Submenus
	.sub-menu {
		display: block;
		padding: 0;
		border-radius: 0;
		background-clip: content-box;
		visibility: hidden; opacity: 0;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		transition: visibility 0.2s, opacity 0.2s, margin 0.2s;
		transition-delay: 0.15s;
		@include bg-color-alpha($theme-menu-bg, 0.95);

		li > a {
			max-height: 37px;
			text-overflow: ellipsis;
			overflow: hidden;
			transition: background 0.3s, color 0.3s;

			&:hover,
			&:focus { background-color: $menu-hover-bg; }
		}

		li > a,
		li .menu-item > a,
		.mega-menu-column li > a {
			clear: both;
			padding: 10px;
			font-size: 13px;
			font-weight: bold;
			line-height: 16px;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		li > a,
		input { color: $theme-menu-color; }

		&,
		> li,
		> li > a {
			border-color: $theme-menu-border;
			border-color: $theme-menu-border-alpha;
		}

		li > a:hover,
		.active > a,
		.active > a:hover {
			color: $theme-accent;
		}

		li.disabled {
			opacity: 0.8;

			.sub-menu { display: none !important; }
		}

		li:last-child > a,
		.mega-menu-column li:last-child > a {
			border-bottom-width: 0;
		}

		.menu-item:hover,
		.menu-item.hover {
			z-index: 2;

			> .sub-menu {
				left: 100%;
				visibility: visible;
				opacity: 1;

				&.drop-left {
					left: auto; right: 100%;
				}
			}
		}
	}

	.menu-item:hover,
	.menu-item.hover {
		> .sub-menu {
			margin-top: 0;
			visibility: visible;
			opacity: 1;
			transition-delay: 0.3s;
		}
	}

	// Mega Menus
	.mega-menu {

		> .sub-menu {
			width: auto;
			display: table;

			> li {
				min-width: 160px;
				display: table-cell;
				vertical-align: top;
				border-width: 0;
				border-style: solid;
				border-right-width: 1px;

				> a {
					height: 44px;
					max-height: 44px;
					padding-top: 13px;
				}

				&:nth-child(4n),
				&:nth-child(n-4):last-child {
					border-right-width: 0;
				}
			}

			&.multi-row {
				display: block;
				min-width: 680px;

				> li {
					width: 25%;
					float: left;
					display: block;
					border-top-width: 1px;

					&:nth-child(-n+4) {
						border-top-width: 0;
					}
				}
			}
		}

		.mega-menu-column {
			> a { background-color: $menu-hover-bg; }

			> .sub-menu {
				visibility: inherit;
				opacity: 1;
				transition: visibility 0s;
				background-color: transparent;
			}

			&:last-child > a {
				border-bottom-width: 1px;
			}
		}
	}

	.mega-menu:hover > .sub-menu,
	.mega-menu.hover > .sub-menu {
		display: table !important;

		&.multi-row {
			display: block !important;
		}
	}

	// Submenu Dropping On The Left
	.dropdown > .sub-menu.drop-left,
	.dropdown:last-child > .sub-menu {
		left: auto; right: 0;
	}

	// Level 2+ Submenus
	.drop-submenu {
		position: relative;
		z-index: 1;

		.sub-menu {
			position: absolute;
			top: -1px; left: 0;
			min-width: 120px;
			border-width: 1px;
			border-style: solid;
			visibility: hidden;
			opacity: 0;
			z-index: -1;

			&.drop-left {
				left: auto; right: 0;
			}
		}

		> .sub-menu {
			transition: visibility 0.3s, opacity 0.3s, left 0.1s ease 0.3s, right 0.1s ease 0.3s, top 0.1s ease 0.3s;
		}

		&:hover > .sub-menu,
		&.hover > .sub-menu {
			transition: visibility 0.2s, opacity 0.2s, left 0.2s, right 0.2s, top 0.2s;
			transition-delay: 0.15s;
		}
	}

	// Submenu Drop Arrows
	.drop-arrow {
		font-size: 10px;
		margin-left: 5px;
		vertical-align: middle;
	}

	.drop-submenu {
		&.arrow-right {
			> a { padding-right: 30px !important; }
		}

		&.arrow-left {
			> a { padding-left: 30px !important; }

			.drop-arrow { right: auto; left: 10px; }
			// Replace chevron right with chevron left
			.drop-arrow:before { content: '\f053'; }
		}

		.drop-arrow {
			position: absolute;
			top: 50%; right: 10px;
			margin: -5px 0 0;
		}
	}

	// OTHER ELEMENTS

	.navbar-toggle .icon-bar {
		background-color: $theme-color;
	}

	// Divider
	.divider {
		width: 1px;
		opacity: 0.5;
		margin: 0 10px;
		border-width: 0 !important;
		background-color: $theme-border;
		background-color: $theme-border-alpha;
	}

	// Nav Search Form
	.nav-search {
		.sub-menu { width: 300px; }

		.search-form {
			input, button {
				border-width: 0;
				border-radius: 0;
				margin-left: 0;
				background: transparent;
				box-shadow: none !important;
				text-shadow: none !important;
			}

			button {
				color: $theme-menu-color;
				border-left-width: 1px;
				border-color: $theme-menu-border;
				border-color: $theme-menu-border-alpha;
			}

			::placeholder { color: $theme-menu-color-fade; }
		}
	}

	// Message displayed when no menu is assigned to a location
	.no-menu-msg {
		float: right;
		margin: 0;
		font-weight: bold;
	}

	// DARK BACKGROUND

	&.bg-dark {

		// Text Colors
		.nav > li > a,
		.text-cont,
		.text-cont a:hover,
		.text-cont a.no-color {
			color: $theme-bg-dark-color;
		}

		.navbar-toggle .icon-bar {
			background-color: $theme-bg-dark-color;
		}

		// Hover & Active State
		.nav > li:hover > a,
		.nav > li.hover > a,
		.nav > li > a:hover,
		.nav > .active > a,
		.text-cont a {
			color: $theme-accent;
		}

		// Border Colors
		.nav > li,
		.nav > li > a,
		.navbar-toggle {
			border-color: $theme-bg-dark-border;
			border-color: $theme-bg-dark-border-alpha;
		}

		// Divider
		.divider {
			background-color: $theme-bg-dark-border;
			background-color: $theme-bg-dark-border-alpha;
		}
	}

	// NAV DESKTOP STYLING

	@include media('screen', 'mars') {
		.no-label > a {
			> .menu-label { display: none; }
			> .menu-icon { margin-right: 0; }
		}
		.mega-menu-column.no-label > a { display: none; }
	}

	// MAIN NAV MOBILE STYLING

	@include media('screen', '<mars') {

		&.navbar-mixt {
			.navbar-inner {
				background-color: $theme-menu-bg;
			}

			.navbar-inner .text-cont,
			.navbar-inner .text-cont a:hover,
			.navbar-inner .text-cont a.no-color,
			.nav > li > a {
				color: $theme-menu-color;
			}

			// Hover State
			.nav > li > a:hover,
			.nav > li:hover > a,
			.nav > li.hover > a {
				background-color: $menu-hover-bg;
			}

			.nav > li:hover > a,
			.nav > li.hover > a,
			.nav > li > a:hover,
			.nav > li.active > a,
			.navbar-inner .text-cont a { color: $theme-accent; }

			// Border Colors
			.navbar-inner,
			.nav > li,
			.nav > li > a {
				border-color: $theme-menu-border;
				border-color: $theme-menu-border-alpha;
			}

			// Menu Expanded State
			.nav li.expand,
			.nav li.expand .sub-menu a:hover {
				background-color: $theme-menu-expand;
			}
		}
	};
}

.navbar:not(.navbar-mixt) {
	.mega-menu-column > a .drop-arrow { display: none !important; }
}

// Used by jquery to check which media queries are active
#navbar-check {
	width: 0; height: 0;
	display: none;
}