
// Hover Effects

%img-effect:not(:hover),
%img-effect-hover { filter: none; }

%img-effect,
%img-effect-hover {
	transition: transform 0.8s ease-out;
}

%img-effect,
%img-effect-hover:hover {
	transform: scale(1.02) rotate(0.1deg);

	// &:hover {
	// 	&.blur { filter: blur(4px); }
	// 	&.fade { filter: opacity(75%); }
	// }

	// .saturate {-webkit-filter: saturate(3);}
	// .grayscale {-webkit-filter: grayscale(100%);}
	// .contrast {-webkit-filter: contrast(160%);}
	// .brightness {-webkit-filter: brightness(0.25);}
	// .blur {-webkit-filter: blur(3px);}
	// .invert {-webkit-filter: invert(100%);}
	// .sepia {-webkit-filter: sepia(100%);}
	// .huerotate {-webkit-filter: hue-rotate(180deg);}
	// .opacity {-webkit-filter: opacity(50%);}
}