
.gallery {
	.gallery-caption {
		position: absolute;
		left: 0; right: 0;
		bottom: -40px;
		color: #fff;
		font-size: $font-size-s;
		line-height: 1.2;
		margin: 0;
		padding: $padding-s;
		opacity: 0;
		text-align: center;
		border-radius: 0 0 $bd-radius $bd-radius;
		background-color: rgba(0,0,0,0.4);
		text-shadow: 0 1px 1px rgba(0,0,0,0.6);
		transition: bottom 0.3s, opacity 0.3s;
	}

	.gallery-item {
		position: relative;
		overflow: hidden;

		&:hover .gallery-caption {
			bottom: 0;
			opacity: 1;
		}
	}
}

ul.gallery { @extend %reset-list; }


// Lightbox Gallery

.lightbox-trigger {
	position: relative;
	cursor: pointer;

	&,
	img { width: 100%; }

	&:after {
		content: ' ';
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background-color: transparent;
	}

	&:after,
	.inner { transition: background-color 0.3s ease 0.2s; }

	.inner {
		position: absolute;
		top: 5px; left: 5px;
		width: 42px; height: 42px;
		color: #fff;
		border-radius: $bd-radius;
		background-color: rgba(0,0,0,0.4);
		text-shadow: 0 1px 3px rgba(0,0,0,0.4);
		z-index: 9;
	}
	i {
		height: 32px; line-height: 42px;
		text-align: center; font-size: 16px;
	}

	.count {
		opacity: 0;
		margin-left: 10px;
		font-size: $font-size-m; white-space: nowrap;
		text-align: left; font-weight: bold;
		transition: opacity 0.3s ease 0.2s;
	}

	&:hover {
		&:after { background-color: rgba(0,0,0,0.4); }
		.inner { background-color: transparent; }
		.count { opacity: 1; }
	}

	+ .gallery { display: none; }
}


// Slider / Carousel Gallery

.gallery-slider {
	margin: 0;
	
	img { min-width: 100%; }
}

.carousel-slider {
	&.boxed {
		li {
			padding: 0 0 0 1px;
			border-color: inherit;

			a {
				padding: 10px;
				display: block;
				border-width: 1px;
				border-style: solid;
				border-color: inherit;
				border-radius: $bd-radius;
			}
		}
	}

	&.vertical {
		&.boxed li { padding: 1px 0 0 0; }
	}
}

.gallery-slider,
.carousel-slider {
	margin: 0;

	@extend %reset-list;

	li {
		position: relative;

		&,
		> a { text-align: center; }

		a {
			height: 100%;

			img {
				width: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	&:not(.lightSlider) li {
		float: left;

		.js &:not(:first-child) { display: none; }
	}
}


// Standard Gallery

.standard-gallery {
	$item-spacing: 4px;

	@include clearfix;

	margin: (-$item-spacing * 2) (-$item-spacing) ($margin-m) (-$item-spacing);

	.gallery-item {
		float: left;
		width: 100%;
		text-align: center;
		padding: ($item-spacing * 2) ($item-spacing) 0 ($item-spacing);

		img {
			width: 100% !important;
			height: auto;
			border-radius: $bd-radius;
		}
	}

	.gallery-caption {
		left: $item-spacing;
		right: $item-spacing;
	}

	dd { margin: 0; }

	&.gallery-columns-2 .gallery-item { width: 50%; }
	&.gallery-columns-3 .gallery-item { width: 33.333%; }
	&.gallery-columns-4 .gallery-item { width: 25%; }
	&.gallery-columns-5 .gallery-item { width: 20%; }
	&.gallery-columns-6 .gallery-item { width: 16.666%; }
	&.gallery-columns-7 .gallery-item { width: 14.285%; }
	&.gallery-columns-8 .gallery-item { width: 12.5%; }
	&.gallery-columns-9 .gallery-item { width: 11.111%; }

	@include media('screen', '<mars') {
		&.gallery-columns-7 .gallery-item,
		&.gallery-columns-8 .gallery-item,
		&.gallery-columns-9 .gallery-item { width: 33.33%; }
	}

	@include media('screen', '<mercury') {
		&.gallery-columns-3 .gallery-item,
		&.gallery-columns-4 .gallery-item,
		&.gallery-columns-5 .gallery-item,
		&.gallery-columns-6 .gallery-item,
		&.gallery-columns-7 .gallery-item,
		&.gallery-columns-8 .gallery-item,
		&.gallery-columns-9 .gallery-item { width: 50%; }
	}
}