
/* --------------------------
 13. UI
-------------------------- */


// Image Styles
@import 'image';

// Row Separators
@import 'row-separators';

// Gallery & Carousel
@import 'gallery';

// Icon Styles
@import 'icon';

// Hover Effects
@import 'effects';

// Widgets
@import 'widgets';


// Animations

.mixt-animate {
	opacity: 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;

	&:not(.anim-start) {
		opacity: 0;
		animation-name: none;
	}
}


// Search Widget

.search-form {
	.search-submit {
		margin-left: -1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		z-index: 2;
	}
}


// Link Lists

.link-list,
.social-links {
	@extend %reset-list;
	margin-bottom: 0;

	li {
		display: inline-block;

		&,
		a { text-align: center; }

		a:not(.btn) {
			display: block;
			padding: 5px 10px;
		}
	}
}

.link-list li a { transition: color 0.25s; }


// Social Links

.social-links {
	li > a i {
		width: 16px;
		font-size: 16px;
	}

	&.plain,
	&.nav {
		li > a {
			padding: 4px 10px;
			i { vertical-align: middle; }
		}
	}

	&.buttons {
		$spacing: 6px;

		margin-top: -$spacing;
		
		li {
			margin-top: $spacing;
			margin-right: $spacing;
		}
	}

	&.btn-group {
		padding: 0;

		&.text-center {
			display: block;

			li { float: none; }
		}
	}

	&.hover-bg li a:hover {
		color: #fff !important;
		border-color: transparent;
		text-shadow: 0 1px 1px rgba(0,0,0,0.1);
		box-shadow: none !important;
	}
}


// Hover Content

.hover-content {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: inline-block;
	cursor: pointer;
	z-index: 1;

	> img { perspective: 1px; }

	.on-hover {
		position: absolute;
		top: 0; left: 0; bottom: 0;
		width: 100%; height: 100%;
		border: 1px solid transparent;
		border-radius: inherit;
		@extend .flex-middle;

		.inner {
			padding: 10px;
			text-align: center;
			z-index: 1;
		}

		// Color Variants
		@each $key, $color in $basic-colors {
			&.#{$key} {
				@include mixt-bg-variant(fade-out($color, 0.1), true, true);
			}
		}
		// Accent Colors
		@each $theme, $colors in $site-themes {
			.theme-#{$theme} &.accent {
				@include mixt-bg-variant(fade-out(map-get($colors, 'accent'), 0.1), true, true);
			}
		}

		// Adjust animation duration
		&.fadeIn,
		&.fadeOut { animation-duration: 0.5s; }
	}

	&:not(.hovered) .on-hover { opacity: 0; }

	// Animate inner content
	&.anim-content {
		.on-hover .inner {
			opacity: 0;
			transform: scale(0.94);
			transition: transform 0.15s ease 0.25s, opacity 0.15s ease 0.2s;
		}

		&.hovered .on-hover .inner {
			opacity: 1;
			transform: scale(1);
		}
	}
}


// Icon Header

.icon-header {
	text-align: center;

	> i {
		display: block;
		line-height: 2;
		font-size: 32px;
	}
}


// Testimonial

.mixt-testimonial {
	font-size: $font-size-m;
	font-weight: bold;
	text-align: left;
}


// Blockquotes

blockquote {
	padding: 15px;
	font-size: $font-size;
	border-style: solid;
	border-radius: $bd-radius;
	border-width: 1px 1px 1px $quote-border-width;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

blockquote cite,
blockquote + cite,
.post-quote cite {
	display: block;
	margin-top: 6px;
	font-style: normal;
	font-size: $font-size-s;
	opacity: 0.8;
}


// Images and Captions

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	max-width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	border-radius: $bd-radius;

	&.aligncenter { margin-bottom: 10px; }

	img {
		display: block;
		margin: 0 !important;
	}

	.wp-caption-text {
		font-size: $font-size-xs;
		text-align: center;
		margin: $margin-s 0 0;
	}
}


// Tags

.tag-list a,
.tagcloud a {
	float: left;
	padding: 4px 8px;
	margin: 0 5px 5px 0;
	color: #fff !important;
	font-size: $font-size-xs !important;
	line-height: 18px;
	border-radius: $bd-radius;
	background-color: #555;
	transition: color 0.2s, background 0.2s;
}

.tagcloud {
	width: 100%;
	overflow: auto;
}

.tag-list {
	display: inline;
	font-size: 0;

	strong {
		float: left;
		line-height: 28px;
		margin-right: 10px;
		font-size: $font-size-s;
	}
}


// Miscellaneous

.wp-smiley,
.emoji { font-size: 16px; }

.mixt-heading {
	width: 100%;
	overflow: hidden;
	margin: 0 0 $margin-m;
}

.big-text {
	width: 100%;
	white-space: nowrap;

	&.wrap-text { white-space: initial; }

	&:not(.mixt-animate) {
		opacity: 1;
		transition: opacity 0.4s;
	}
}
.js .big-text:not(.init):not(.mixt-animate) { opacity: 0; }

a.main-link {
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
	z-index: 0;
}

iframe {
	border-width: 0;
}