
// Image Styles
@import 'image';

// Row Separators
@import 'row-separators';

// Gallery & Carousel
@import 'gallery';

// Icon Styles
@import 'icon';

// Hover Effects
@import 'effects';

// Widgets
@import 'widgets';


// Search Widget

.search-form {
	.search-submit {
		margin-left: -1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}


// Link Lists

.link-list {
	@extend %reset-list;
	margin-bottom: 0;

	li {
		display: inline-block;

		&,
		a { text-align: center; }

		a {
			display: block;
			padding: 5px 10px;
			transition: color 0.25s;
		}
	}
}


// Social Links

.social-links {
	@extend %reset-list;
	margin-bottom: 0;

	li {
		display: inline-block;

		> a i {
			width: 16px;
			font-size: 16px;
			padding-top: 2px;
		}
	}

	&.plain,
	&.nav {
		li > a {
			padding: 4px 10px;
			i { vertical-align: middle; }
		}
	}

	&.buttons {
		$spacing: 6px;

		margin-top: -$spacing;
		li {
			margin-top: $spacing;
			margin-right: $spacing;
		}
	}

	&.btn-group {
		padding: 0;

		&.text-center {
			display: block;

			li { float: none; }
		}
	}

	&.hover-bg li a:hover {
		color: #fff !important;
		border-color: transparent;
		text-shadow: 0 1px 1px rgba(0,0,0,0.1);
		box-shadow: none !important;
	}
}


// Hover Content

.hover-content {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: inline-block;
	cursor: pointer;
	z-index: 1;

	> img { perspective: 1px; }

	.on-hover {
		position: absolute;
		top: 0; left: 0; bottom: 0;
		width: 100%; height: 100%;
		border: 1px solid transparent;
		border-radius: inherit;
		@extend .flex-middle;

		.inner {
			padding: 10px;
			text-align: center;
		}

		// Color Variants
		@each $key, $color in $basic-colors {
			@include mixt-bg-variant('&.#{$key}', fade-out($color, 0.25), true, true);
		}
		// Accent Colors
		@each $theme, $colors in $site-themes {
			@include mixt-bg-variant('.theme-#{$theme} &.accent', fade-out(map-get($colors, 'accent'), 0.25), true, true);
		}
	}

	&:not(.hovered) {
		.on-hover {
			opacity: 0;
			transition: opacity 0.4s;
			transition-delay: 0.35s;
		}
		&:hover .on-hover { opacity: 1; }
	}
}


// Icon Header

.icon-header {
	text-align: center;

	> i {
		display: block;
		line-height: 2;
		font-size: 32px;
	}
}


// Testimonial

.mixt-testimonial {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}


// Blockquotes

blockquote {
	padding: 15px;
	font-size: $font-size;
	border-style: solid;
	border-radius: $bd-radius;
	border-width: 1px 1px 1px 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);

	cite {
		display: block;
		margin-top: 6px;
		font-size: $font-size-s;
	}
}


// Images and Captions

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	max-width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	border-radius: $bd-radius;

	&.aligncenter { margin-bottom: 10px; }

	img {
		display: block;
		margin: 0 !important;
	}

	.wp-caption-text {
		font-size: $font-size-xs;
		text-align: center;
		margin: $margin-s 0 0;
	}
}


// Tags

.tag-list a,
.tagcloud a {
	float: left;
	padding: 4px 8px;
	margin: 0 5px 5px 0;
	color: #fff !important;
	font-size: $font-size-s !important;
	border-radius: $bd-radius;
	background-color: #555;
	transition: color 0.2s, background 0.2s;
}

.tagcloud {
	width: 100%;
	overflow: auto;
}

.tag-list {
	display: inline;
	font-size: 0;

	strong {
		float: left;
		line-height: 28px;
		margin-right: 10px;
		font-size: $font-size-s;
	}
}


// Miscellaneous

.wp-smiley,
.emoji { font-size: 16px; }

.mixt-heading {
	width: 100%;
	overflow: hidden;
	margin: 0 0 $margin-m;
}