
// Widget Styles

.widget-area {

	// Widget Titles
	h3 {
		font-size: 15px;
		margin: 0 0 15px;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	// Nav Menus
	.nav li {
		> ul,
		.menu-item-has-children > ul {
			border-top-width: 1px;
			border-top-style: solid;
		}

		a {
			display: block;
			padding: $padding-s 0;

			&:hover { background: none !important; }
		}

		ul.children {
			padding-left: $padding-m;

			li > a { display: block; }
		}

		.post-date {
			display: block;
			font-size: $font-size-xs;
			margin-top: -$padding-s;
			padding-bottom: $padding-s;
		}

		.post-count {
			float: right;
		}

		li:last-child { border-bottom: 0; }
	}

	.nav li,
	#recentcomments li {
		margin-bottom: 0;
		border-width: 0;
		border-style: solid;
		border-color: inherit;
		border-bottom-width: 1px;
	}

	#recentcomments li { padding: $padding-s 0 !important; }


	// Widgets

	.widget {
		> select,
		.textwidget form > select {
			width: 100%;
		}

		select { max-width: 100%; }

		h3 + .nav {
			margin-top: -$margin-s;
		}
	}

	.widget_nav_menu {
		.divider, .nav-search, li.btn { display: none; }
	}
}

.widget_nav_menu ul.sub-menu li,
.widget_pages ul.children li { padding-left: 15px; }

// Text Widget
.widget_text {
	p {
		br { line-height: 30px; }
	}
}

// RSS Widget
.widget_rss {
	ul { @extend .media-list; }

	.rss-date,
	.rssSummary,
	cite {
		display: block;
		margin-bottom: $margin-s;
	}

	.rss-date,
	cite { opacity: 0.8; }
}

// Calendar Widget
table#wp-calendar {
	th,
	td { text-align: center; }
}