
// COLORS

$bg-main: #FFF;
$bg-light: #eee;
$bg-dark: #555;

$bd-light: #d7d7d7;
$bd-darker: #d0d0d0;

$text-fade: #777;


// Common Elements

%button {
	display: inline-block;
	padding: 4px 15px;
	line-height: 20px;
	color: #555;
	font-weight: bold;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #f4f4f4;
	text-decoration: none !important;
	@extend %transition;
}

%button-default {
	color: #555;
	font-size: 13px;
	font-weight: 700;
	text-shadow: 0 1px 1px #FFF;

	background-image: none !important;
	background-color: #F5F5F5 !important;
	border-color: $bd-light !important;
	box-shadow: inset 0 1px 0 #FAFAFA, 0 1px 1px rgba(0,0,0,0.1);
	@extend %transition;
}

%button-blue {
	color: #FFF;
	text-shadow: 0 1px 1px #006ED0;

	background-image: none !important;
	background-color: $blue !important;
	border-color: #3C89B2 !important;
	box-shadow: inset 0 1px 6px #77B5ED, 0 1px 0 #497AC7;
	@extend %transition;
}

%button-red {
	color: #FF7171 !important;
	border-color: #ffa1a1 !important;
	background-color: transparent !important;
}

// INPUTS

%input {
	border-color: $bd-darker;
	background-color: #fafafa;
	box-shadow: inset 0 1px 3px #efefef;
	@extend %transition;

	&:hover {
		background-color: #FFF;
		box-shadow: inset 0 1px 0 #f4f4f4;
	}

	&:focus {
		border-color: #ccc;
		background-color: #FFF;
		box-shadow: 0 0 5px 1px #eee !important;
	}
}

.mixt-admin-wrap,
.redux-container,
.redux-main {

	// Buttons
	
	.button,
	.button-secondary {
		@extend %button-default;

		&.button-white { background-color: #fff !important; }

		&:focus,
		&:hover {
			background-color: #F9F9F9 !important;
			box-shadow: inset 0 1px 0 #FAFAFA, 0 1px 0 $bd-light !important;
		}

		&:active {
			box-shadow: none !important;
		}

		i { line-height: inherit; }
	}

	.button-primary,
	.button.button-primary {
		@extend %button-blue;

		&:focus,
		&:hover {
			background-color: #61ABEC !important;
			box-shadow: inset 0 1px 8px #77B5ED, 0 1px 0 #497AC7 !important;
		}

		&:active {
			box-shadow: inset 0 1px 8px #77B5ED !important;
		}
	}

	.button.red {
		@extend %button;
		@extend %button-red;
	}

	a.deletion {
		@extend %button;
		@extend %button-red;
		font-size: 12px;
	}

	// Inputs

	input, textarea, pre.ace_editor {
		@extend %input;

		border-radius: 3px;
	}

	pre.ace_editor {
		border-width: 1px;
		border-style: solid;
	}

	// Misc

	.red-text { color: red !important; }
}

// Slider


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
	touch-action: none;	
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-state-tap .noUi-origin {
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 12px;
}
.noUi-horizontal .noUi-handle {
	width: 24px;
	height: 24px;
	left: -13px;
	top: -7px;
}
.noUi-vertical {
	width: 16px;
}
.noUi-vertical .noUi-handle {
	width: 24px;
	height: 24px;
	left: -7px;
	top: -13px;
}

/* Styling;
 */
.mixt {
	.noUi-background {
		background: $bg-light;
	}
	.noUi-connect {
		background-color: $bg-light !important;
		background-image: none !important;
		-webkit-transition: background 450ms;
		transition: background 450ms;
	}
	.noUi-origin {
		border-radius: $bd-radius - 1px;
		background-color: #fff;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	}
	.noUi-target {
		border-radius: $bd-radius;
		border: 1px solid $bd-light;
		box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
	}
}

/* Handles and cursors;
 */
.noUi-draggable {
	cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: n-resize;
}
.noUi-handle {
	border: 1px solid #D9D9D9;
	border-radius: 50%;
	background: #FFF;
	cursor: default;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);

	&:after,
	&:before { display: none; }
}

/* Disabled state;
 */
[disabled] .noUi-target {
	opacity: 0.6;
}
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled].noUi-origin,
[disabled] .noUi-handle {
	cursor: not-allowed;
}

.noUi-tooltip {
	display: block;
	position: absolute;
	top: -21px;
	color: #fff;
	opacity: 0.75;
	padding: 2px 4px;
	font-size: 11px;
	text-align: center;
	border-radius: 3px;
	background: #555;
}