
$btn-height: 34px;

.btn {
	transition: color 0.2s, border 0.1s, background 0.2s, box-shadow 0.2s;

	i:first-child:last-child { margin: 0; }
}

.input-group-btn .btn { height: $btn-height; }

// Button Colors

// Solid
@mixin button-color($selector, $color) {
	.btn-#{$selector} {
		background-color: $color;
		border-color: darken($color, 5);

		&,
		&:hover,
		&:focus,
		&:active {
			@include text-shadow-for-bg($color);
			color: set-color-for-bg($color);
		}
		&:hover,
		&.active {
			@if ( lumin($color) >= 0.3 ) {
				background-color: darken($color, 5);
			} @else {
				background-color: lighten($color, 5);
			}
		}
		&:active,
		&.active {
			border-color: darken($color, 15);
			box-shadow: inset 0 1px 16px darken($color, 15);
		}
	}
	.btn-hover-#{$selector} {
		&:hover,
		&:focus,
		&:active {
			@include text-shadow-for-bg($color);
			color: set-color-for-bg($color) !important;
			background-color: $color !important;
			border-color: darken($color, 5) !important;
		}
		&:active,
		&.active {
			border-color: darken($color, 15) !important;
			box-shadow: inset 0 1px 16px darken($color, 15) !important;
		}
	}
}
@each $selector, $color in $button-colors {
	@include button-color($selector, $color);
}
@include button-color('shine', rgba(255,255,255,0.6));
@include button-color('shadow', rgba(0,0,0,0.6));
.btn-primary { @extend .btn-accent; }
.btn-success { @extend .btn-green; }

// Outline
@mixin button-outline-color($selector, $color) {
	.btn-outline-#{$selector} {
		background-color: transparent;
		border-width: 1px;
		border-style: solid;
		border-color: $color;

		&,
		&:hover,
		&:focus,
		&:active {
			color: $color;
		}
		&:hover,
		&.active {
			@if ( lumin($color) >= 0.3 ) {
				background-color: rgba(darken($color, 5), 0.05);
			} @else {
				background-color: rgba(lighten($color, 5), 0.05);
			}
		}
		&:active,
		&.active {
			box-shadow: inset 0 1px 16px rgba(0,0,0,0.05);
		}
	}
}
@each $selector, $color in $button-colors {
	@include button-outline-color($selector, $color);
}


// Button Styles

	// Embossed
	.btn-emboss {
		&:not(:active) { border-bottom-width: 2px; }
	}

	// Inset
	.btn-inset {
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	}