
@import 'button-anims';

%button-base {
	@extend %bs-button-base; // Bootstrap base styling

	@include button-transition;
}

%button-icons {
	i {
		font-size: 16px !important;
		line-height: inherit !important;
	}

	.mixt-icon {
		padding: 0;
		line-height: 1;
		overflow: visible !important;

		&, i {
			width: 16px;
			height: 16px;
		}
	}

	i,
	.mixt-icon {
		vertical-align: middle;
	}

	&.btn-sm,
	&.btn-xs {
		i { font-size: 14px !important; }
		.mixt-icon { &, i { width: 14px; height: 14px; } }
	}

	&.icon-l {
		> i, .mixt-icon { margin: 0 $padding-base-horizontal 0 0; }
	}
	&.icon-r {
		> i, .mixt-icon { margin: 0 0 0 $padding-base-horizontal; }
	}
}

.btn,
.button {
	@extend %button-base;
	@extend %button-icons;
}


// Justified button group double border fix
.btn-group-justified > .btn + .btn,
.btn-group-justified > .btn-group + .btn-group > .btn { border-left-width: 0; }


// Color Variants
@mixin button-color($selector, $color) {
	$color-lighter: lighten($color, 5);
	$color-darker: darken($color, 5);
	$color-darker-2: darken($color, 10);
	$border-color: darken($color, 7);

	// Solid Color
	.btn-#{$selector} {
		@include text-shadow-for-bg($color);
		border-color: $border-color;
		background-color: $color;

		&:hover,
		&:focus {
			@if ( lumin($color) >= 0.3 ) {
				background-color: $color-darker;
			} @else {
				background-color: $color-lighter;
			}
		}
	}

	.btn-hover-#{$selector} {
		&:hover,
		&:focus {
			@include text-shadow-for-bg($color);
			border-color: $border-color;
			background-color: $color !important;
		}
	}

	.btn-#{$selector},
	.btn-hover-#{$selector}:hover {
		&:active,
		&.active {
			border-color: $color-darker-2;
			box-shadow: inset 0 1px 12px $color-darker-2;
		}
	}

	.btn-#{$selector},
	a.btn-#{$selector},
	.btn-#{$selector}:hover,
	.btn-#{$selector}:focus,
	.btn-hover-#{$selector}:hover,
	a.btn-hover-#{$selector}:hover,
	.btn-hover-#{$selector}:focus { color: set-color-for-bg($color); }

	// Outline
	.btn-outline-#{$selector}:hover {
		@if ( lumin($color) >= 0.3 ) {
			background-color: rgba($color-darker, 0.05);
		} @else {
			background-color: rgba($color-lighter, 0.05);
		}
	}

	.btn-outline-#{$selector},
	.btn-hover-outline-#{$selector}:hover {
		border: 1px solid $color;
		background-color: transparent;
		text-shadow: none !important;

		&:active,
		&.active {
			box-shadow: inset 0 1px 16px rgba(0,0,0,0.05);
		}
	}
	.btn-hover-outline-#{$selector}:hover { background-color: transparent !important; }

	.btn-outline-#{$selector},
	a.btn-outline-#{$selector},
	.btn-outline-#{$selector}:hover,
	.btn-outline-#{$selector}:focus,
	.btn-hover-outline-#{$selector}:hover,
	a.btn-hover-outline-#{$selector}:hover,
	.btn-hover-outline-#{$selector}:hover:focus { color: $color; }

	// Animations
	@include button-anims-color($selector, $color);
}

.mixt {
	@each $selector, $color in $button-colors {
		@include button-color($selector, $color);
	}
	@include button-color('shine', rgba(255,255,255,0.6));
	@include button-color('shade', rgba(0,0,0,0.6));

	.btn-default { @extend .btn-grey; }
	.btn-success { @extend .btn-green; }
}
@each $name, $theme in $site-themes {
	.theme-#{$name} {
		@include button-color('minimal', darken(map-get($theme, 'bg'), 2));
		@include button-color('accent', map-get($theme, 'accent'));
		.btn-primary { @extend .btn-accent; }
		.btn-hover-primary { @extend .btn-hover-accent; }
		.btn-outline-primary { @extend .btn-outline-accent; }
		.btn-hover-outline-primary { @extend .btn-hover-outline-accent; }
	}
}


// Button Styles

	// Pill (round)
	.btn-round {
		border-radius: floor(($padding-base-vertical * 2 + $font-size-base * $line-height-base) / 2);
		&.btn-xl { border-radius: floor(($padding-xl-vertical * 2 + $font-size-large * $line-height-large) / 2); }
		&.btn-lg { border-radius: floor(($padding-large-vertical * 2 + $font-size-large * $line-height-large) / 2); }
		&.btn-sm { border-radius: floor(($padding-small-vertical * 2 + $font-size-small * $line-height-small) / 2); }
		&.btn-xs { border-radius: floor(($padding-xs-vertical * 2 + $font-size-small * $line-height-small) / 2); }
	}
	// Embossed
	.btn-emboss:not(:active) { box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2); }