
.blog-grid,
.blog-masonry {
	.posts-container {

		.article {
			float: left;

			.entry-body:empty { margin-top: $post-inner-pad; }

			&.no-title {
				.entry-body:not(:first-child):not(:empty) {
					margin-top: 0;
					padding: $post-inner-pad;
				}
			}
		}

		.post-feat {
			width: auto;
			margin: -1px -1px 0 -1px;
			overflow: hidden;

			.gallery .gallery-item { margin: 0 !important; }

			iframe { max-height: 320px; }
		}

		.post-info + .post-feat { margin-top: 0; }

		.page-title,
		.page-header .entry-meta,
		.entry-body,
		.post-item-cont {
			padding-left: $post-inner-pad;
			padding-right: $post-inner-pad;
		}
	}

	.post-feat,
	.post-feat img,
	.post-feat .gallery-caption {
		border-radius: 0;
		-webkit-perspective: none;
	}
}


/* Grid and Masonry Post Styling */

.blog-grid .posts-container .article,
.blog-masonry .post-wrapper {
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);

	> :last-child:not(:empty) { padding-bottom: $post-inner-pad; }
}

.fullwidth .blog-grid .posts-container:first-child { padding-top: 0; }
.fullwidth .blog-grid .posts-container:last-child { padding-bottom: 0; }


/* Blog Columns */

.blog-2-col .posts-container .article { width: 50%; }
.blog-3-col .posts-container .article { width: 33.33333%; }
.blog-4-col .posts-container .article { width: 25%; }
.blog-5-col .posts-container .article { width: 20%; }
.blog-6-col .posts-container .article { width: 16.66666%; }

@include media('screen', '<earth') {
	.blog-6-col,
	.blog-5-col,
	.blog-4-col,
	.blog-3-col {
		.posts-container .article {
			width: 50%;
		}
	}
}

@include media('screen', '<venus') {
	.blog-2-col .posts-container .article { width: 100% !important; }

	.blog-grid.blog-2-col .posts-container { margin-right: -2px !important; }
}

@include media('screen', '<mercury') {
	.blog-6-col,
	.blog-5-col,
	.blog-4-col,
	.blog-3-col {
		.posts-container .article {
			width: 100% !important;
		}
	}

	.blog-grid .posts-container { margin-right: -2px !important; }
}

.fullwidth {
	@include media('screen', '(max-width: 1400px)') {
		.blog-6-col,
		.blog-5-col {
			.posts-container .article {
				width: 25%;
			}
		}
		.blog-grid {
			&.blog-6-col,
			&.blog-5-col {
				.posts-container { margin-right: -5px; }
			}
		}
	}

	@include media('screen', '<earth') {
		.blog-6-col,
		.blog-5-col,
		.blog-4-col {
			.posts-container .article {
				width: 33.33333%;
			}
		}
		.blog-grid {
			&.blog-6-col,
			&.blog-5-col,
			&.blog-4-col {
				.posts-container { margin-right: -4px; }
			}
		}
	}

	@include media('screen', '<venus') {
		.blog-6-col,
		.blog-5-col,
		.blog-4-col,
		.blog-3-col {
			.posts-container .article {
				width: 50%;
			}
		}
		.blog-grid {
			&.blog-6-col,
			&.blog-5-col,
			&.blog-4-col,
			&.blog-3-col {
				.posts-container { margin-right: -3px; }
			}
		}
	}
}


/* Animated Posts On Load */

.js .posts-container .article.animated {
	opacity: 1;
	transform: translate3d(0,0,0);

	&.init {
		opacity: 0;
		transform: translate3d(0,20px,0);
	}

	transition: opacity 0.4s, transform 0.4s;
}
