
// Grid Blog Styling

.blog-grid {
	.posts-container {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		padding-right: 0;

		.article {
			width: 100%;
			padding: 0;
			margin: -1px 0 0 -1px;
			border-width: 1px;
			border-style: solid;
			border-color: inherit;
		}
	}

	.post-feat {
		img,
		> a,
		.lSSlideOuter { height: 100%; }

		.no-objectfit & img { width: auto; height: auto; }
	}

	&.blog-2-col .posts-container { margin-right: -3px; }
	&.blog-3-col .posts-container { margin-right: -4px; }
	&.blog-4-col .posts-container { margin-right: -5px; }
	&.blog-5-col .posts-container { margin-right: -6px; }
	&.blog-6-col .posts-container { margin-right: -7px; }

	.post-rollover {
		.hover-content,
		.post-feat-rollover > a { display: block; }
	}
}