
// Masonry Blog Styling

.blog-masonry .posts-container {
	margin-top: -$masonry-gutter;
	margin-left: -$masonry-gutter;
	margin-right: -$masonry-gutter;

	.article {
		margin: 0;
		padding: $masonry-gutter;
		overflow: hidden;

		.post-wrapper {
			width: 100%;
			border: 1px solid;
			border-color: inherit;
			margin: -1px 0 0 -1px;
		}

		.post-info { margin-left: 1px; }
	}
}