
.blog-standard {
	.posts-container {
		
		.article {
			border-bottom-width: 1px;
			border-bottom-style: solid;

			&:after {
				content: " ";
				display: table;
				clear: both;
			}
		}

		&:last-child > .article:last-child {
			padding-bottom: 0;
			border-bottom-width: 0;
		}


		// Featured Media

		.post-feat {

			&.feat-format { display: inline-block; }

			&.feat-mixt-large {
				max-width: $feat-large-w;
				max-height: $feat-large-h;

				img { width: auto; }
			}

			&.feat-mixt-medium {
				max-width: $feat-medium-w;
				max-height: $feat-medium-h;

				&.feat-format {
					width: $feat-medium-w;
					height: $feat-medium-h;
					line-height: $feat-medium-h - 4px;
				}

				&.post-video > div,
				&.post-video > iframe {
					min-width: $feat-medium-w;
				}

				@include media('screen', '<mercury') {
					max-width: none;
					max-height: none;
				}
			}

			&.feat-mixt-small {
				max-width: $feat-small-w;
				max-height: $feat-small-h;

				&.feat-format {
					width: $feat-small-w;
					height: $feat-small-h;
					line-height: $feat-small-h - 4px;
				}
			}

			&.feat-mixt-medium,
			&.feat-mixt-small {
				float: left;
				margin-right: $margin-m;
				margin-bottom: $margin-s;
			}

			&.post-link,
			&.post-aside,
			&.post-status,
			&.post-quote { max-height: none !important; }
		}

		.page-title,
		.post-meta { min-width: 140px; }

		.page-title {
			&:first-child { margin-top: 0; }

			a { display: inline-block; }
		}

		.entry-body:empty { margin-top: 0; }
	}

	.ajax-page {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-color: inherit;
	}
}

.no-sidebar .blog-standard .posts-container .post-feat.feat-mixt-large {
	max-width: 100%;
	max-height: none;

	> a,
	img { width: 100%; }
}

/* Fix IE image width auto bug */
.ie .blog-standard .post-feat.feat-mixt-large img { width: 100%; }