
.comments-area {
	ol, ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li { margin: 0; }
	}

	.children,
	.comment-list,
	.comment-list li,
	.comment-cont,
	.comment-nav { border-color: inherit; }

	.comment-list {
		.pingback {
			padding: $padding-s 0;

			.edit-link { margin-left: $margin-xs; }
		}

		.bypostauthor {
			> .comment-cont {
				border-left-width: 2px;
				border-left-style: solid;
			}
			
			article,
			#respond { padding-left: $padding-m; }
		}

		+ .no-comments { margin-top: $margin-m; }
	}

	.no-comments {
		font-size: $font-size-m;
		font-weight: bold;
	}
}

.comment {
	.children {
		padding-left: 0;
		margin-left: $margin-m;
		border-width: 0 0 1px 1px;
		border-style: solid;

		li {
			article,
			#respond {
				padding-left: $padding-m;
			}
		}
		.bypostauthor > .comment-cont { margin-left: -1px; }

		.children:last-child,
		li:last-child > .comment-cont:last-child { border-bottom-width: 0; }
	}

	&.depth-1 > .children { margin-left: 0; }

	.edit-link { margin-left: 5px; }
	.comment-reply-link { font-size: $font-size-m; }

	#respond { margin-bottom: $margin-m; }
}

.comment-cont,
.comment-list .pingback,
#comment-nav-bottom {
	margin-top: -1px;
	padding: $padding-m 0;
	border-style: solid;
	border-width: 1px 0 1px 0;
}


/* Comment Header */

.comment-header {
	.comment-avatar {
		float: left;
		margin-right: $margin-s;

		img { border-radius: $bd-radius; }
	}
	.comment-author {
		font-weight: bold;
		font-style: normal;
	}
	.comment-meta { font-size: $font-size-s; }
}

.comment-content,
.comment-reply { margin-top: $margin-s; }
.comment-content p:last-child { margin-bottom: 0; }


/* Comment Navigation */

.comment-nav {
	.pager { margin: 15px 0; }
	&.classic-paging .pager { margin-top: 5px; }
}
#comment-nav-bottom { padding: 0; }


/* Comment Reply Form */

#respond {
	#reply-title {
		margin: $margin-m 0;
		font-size: $font-size-l;

		small:not(:only-child) > a { margin-left: 5px; }
	}
	#cancel-comment-reply-link { font-size: $font-size-s; }
	
	.logged-in-as,
	.comment-notes,
	.form-allowed-tags,
	.allowed-tags { font-size: $font-size-s; }

	.required { color: $red; }

	.form-submit { margin: 0; }
}


/* Tweak spacing for first elements after headline */

.headline + .comment-list {
	> .pingback:first-child,
	> .comment:first-child > .comment-cont:first-child { border-top-width: 0; padding-top: 0; }
}