
// Post Featured Media Styling

.post-feat {
	width: 100%;
	position: relative;
	text-align: center;

	.flexbox & {
		display: flex;
		flex-shrink: 1;
		align-items: center;
	}

	> a {
		width: 100%;
		display: block;
	}

	&,
	> .hover-content { min-height: 100px; }

	// Featured Types

	img,
	.lSSlideOuter {
		width: 100%;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	&.post-video:not(.post-image) {
		background: #000;
		border: 1px solid transparent;
	}

	&.post-video,
	&.post-audio {
		> div,
		> iframe {
			display: block;
			margin: 0 auto;
		}
	}

	&.post-aside,
	&.post-link a,
	&.post-status {
		padding: $padding-m;
		border: 1px solid rgba(0,0,0,0.1);
	}

	&.post-aside,
	&.post-quote,
	&.post-link,
	&.post-status {
		min-height: 40px;
		text-align: initial;
	}

	&.post-quote blockquote {
		width: 100%;

		&:last-child { margin: 0; }
	}

	&.post-link a {
		min-height: 40px;

		.title {
			margin-top: 0;
			font-size: $font-size;
		}

		small { opacity: 0.8; }
	}

	&.post-gallery {
		.gallery-item { margin: 0 !important; }
		.gallery-caption { display: none; }
	}

	&.feat-format {
		position: relative;
		display: block;
		text-align: center;
		border-style: dashed;
		border-width: 1px;
		border-color: inherit;
		background-color: rgba(0,0,0,0.03);

		i {
			position: absolute;
			top: 50%; left: 50%;
			width: 32px; height: 32px;
			margin-top: -16px;
			margin-left: -16px;
			font-size: 32px;
			line-height: 1;
			text-align: center;
		}
	}

	// Format Styling
	&.post-aside { @extend .panel; }
	&.post-status { background-color: rgba(0,0,0,0.02); }

	// Background Images
	@if $post-aside-img {
		&.post-aside {
			background-repeat: repeat;
			background-image: url($post-aside-img);
		}
	}
	@if $post-link-img {
		&.post-link a {
			background-repeat: repeat;
			background-image: url($post-link-img);
		}
	}
	@if $post-quote-img {
		&.post-quote blockquote {
			background-repeat: repeat;
			background-image: url($post-quote-img);
		}
	}
	@if $post-status-img {
		&.post-status {
			background-repeat: repeat;
			background-image: url($post-status-img);
		}
	}


	img,
	&.post-aside,
	&.post-image,
	&.post-video,
	&.post-audio,
	&.post-gallery,
	&.post-quote blockquote,
	&.post-status,
	&.post-link a,
	&.feat-format {
		border-radius: $bd-radius;
	}

	&.post-image,
	&.post-video,
	&.post-gallery {
		overflow: hidden;
		-webkit-perspective: 1px; // Chrome border-radius bug fix
	}
}


// Rollover

.post-rollover {
	$spacing: 8px;

	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
	border-radius: inherit;
	z-index: 1;

	.hover-content {
		width: 100%;
	}

	.post-title,
	.post-excerpt {
		width: 100%;
		display: block;
		padding-top: $spacing;
		padding-bottom: $spacing;
	}

	.post-title {
		font-size: $font-size-l;
		font-weight: bold;

		+ .post-excerpt { padding-top: 0; }
	}
	.post-excerpt { font-size: $font-size-s; }

	.btn {
		margin-top: $spacing;
		margin-bottom: $spacing;
		font-size: 16px;
		padding: 10px 12px;
		line-height: 1;
		margin-left: $spacing;
		margin-right: $spacing;
	}
}


// Pages Only

.page-content .post-feat {
	text-align: center;

	img {
		width: auto;
		min-width: 0;
		margin: 0 auto;
	}
}