
.post-feat {
	width: 100%;
	position: relative;

	.flexbox & {
		display: flex;
		flex-shrink: 1;
		align-items: center;
		justify-content: center;

		&.post-link,
		&.post-quote { align-items: flex-start; }

		&.post-link,
		&.post-aside,
		&.post-status,
		&.post-quote { flex-direction: column; }

		// Fix IE flexbox content overflowing container bug
		> a,
		.text-wrap { max-width: 100%; }
	}

	&,
	> .hover-content { min-height: 100px; }

	// Featured Types

	img,
	.lSSlideOuter {
		width: 100%;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		margin: 0;
	}

	&.post-video:not(.post-image) {
		background: #000;
		border: 1px solid transparent;
	}

	&.post-video,
	&.post-audio {
		> div,
		> iframe {
			display: block;
			margin: 0 auto;
		}
	}

	&.post-audio {
		&.audio-hosted {
			min-height: 40px;
			padding: $padding-s;
			background-color: #222;
		}
	}

	&.post-aside,
	&.post-link,
	&.post-status,
	&.post-quote {
		min-height: 40px;
		text-align: initial;
		padding: $padding-m;
		border: 1px solid rgba(0,0,0,0.1);
		// Space for the format icon
		padding-right: $post-format-bg-icon-size + 20px;
	}

	&.feat-format { border: 1px solid rgba(0,0,0,0.1); }

	&.post-link {
		min-height: 40px;

		.title { margin-top: 0; }

		small { opacity: 0.8; }
	}

	&.post-gallery .gallery { margin-bottom: 0; }

	&.feat-format {
		position: relative;
		display: block;
		text-align: center;

		i {
			top: 50%; left: 50%;
			width: $post-format-icon-size;
			height: $post-format-icon-size;
			font-size: $post-format-icon-size;
			margin-top: $post-format-icon-size / -2;
			margin-left: $post-format-icon-size / -2;
		}
	}

	&.feat-format i,
	.format-bg-icon {
		position: absolute;
		line-height: 1;
		text-align: center;
	}

	.format-bg-icon {
		opacity: 0.8;
		right: 10px; bottom: 10px;
		font-size: $post-format-bg-icon-size;
	}

	img,
	&.post-aside,
	&.post-image,
	&.post-video,
	&.post-audio,
	&.post-gallery,
	&.post-quote,
	&.post-status,
	&.post-link,
	&.feat-format {
		border-radius: $bd-radius;
	}

	&.post-image,
	&.post-video,
	&.post-gallery {
		overflow: hidden;
		-webkit-perspective: 1px; // Chrome border-radius bug fix
	}

	&:not(.post-gallery) {
		.main-link {
			border-radius: inherit;
			transition: background-color 0.4s;

			&:hover { background-color: rgba(255,255,255,0.15); }

			&:active,
			&:focus {
				background-color: transparent;
				box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
			}
		}
	}
}


/* Rollover */

.post-rollover {
	$spacing: 5px;

	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
	border-radius: inherit;
	z-index: 1;

	.hover-content {
		width: 100%;
	}

	.post-title,
	.post-excerpt {
		width: 100%;
		display: block;
		padding-top: $spacing;
		padding-bottom: $spacing;
	}

	.post-title {
		font-size: $font-size-l;
		font-weight: bold;

		+ .post-excerpt { padding-top: 0; }
	}
	.post-excerpt { font-size: $font-size-s; }

	.rollover-item {
		$icon-size: 16px;
		$icon-size-plain: 22px;
		$icon-pad: 12px;

		position: relative;
		display: inline-block;
		min-width: $icon-size + $icon-pad * 2;
		height: $icon-size + $icon-pad * 2;
		margin: $spacing;
		padding: $icon-pad;
		text-align: center;
		line-height: 1;

		i { font-size: $icon-size; }

		&.plain {
			color: inherit;

			i { font-size: $icon-size-plain; }
		}

		&.btn-round {
			border-radius: 50%;

			i {
				width: 16px;
				height: 16px;
				display: block;
			}
		}
	}
}


/* Featured Media For Pages Only */

.page-content .post-feat {
	text-align: center;

	img {
		width: auto;
		min-width: 0;
		margin: 0 auto;
	}
}