
// Pagination Styling

.paging-navigation {
	width: 100%;
	clear: both;
	@extend %clearfix;
}

.pager {
	margin: $margin-l 0;

	i { vertical-align: middle; margin-right: 10px; }
	.next i { margin-left: 10px; margin-right: 0; }

	&, li, li a, li span { border-color: inherit; }

	li {
		margin-bottom: 0 !important;

		> a,
		> span {
			height: 34px;
			font-size: $font-size;
			border-radius: $bd-radius;
			background-color: transparent;
		}

		> a {
			transition: color 0.2s, background 0.2s;

			&:hover { background-color: rgba(0,0,0,0.03); }
		}

		> span {
			cursor: default;
		}
	}

	a:not(:hover) { color: inherit !important; }
}

.numbered-paging {
	.pager { text-align: center; }
	li { display: inline-block; margin: 2px !important; }

	@include media('screen', 'mars') {
		li { margin: 0 0 0 -1px !important; }
		li a, li span { border-radius: 0; }
		li:first-child {
			a, span { border-radius: $bd-radius 0 0 $bd-radius; }
		}
		li:last-child {
			a, span { border-radius: 0 $bd-radius $bd-radius 0; }
		}
	}
}

.classic-paging .pager { text-align: left; }

.post-navigation {
	margin: 0 !important;
	border-top-width: 1px;
	border-top-style: solid;
}

.classic-paging,
.post-navigation {
	.pager {
		margin: ($margin-m - $margin-s) 0 $margin-m;
		li a {
			height: auto;
			min-height: 34px;
			margin-top: $margin-s;
		}
	}
}

.ajax-page {
	width: 100%;
	display: block;
	clear: both;

	a {
		display: inline-block;
		padding: $padding-m 0;
		font-size: $font-size-m;
		font-weight: bold;
	}
}