
@if $portfolio {

	// Archive / Catalog
	.portfolio-wrap {
		border-color: inherit;

		// Portfolio sorting
		.portfolio-sorter {
			width: 100%;
			font-size: $font-size-m;
			text-align: center;

			li:not(:last-child) {
				&:after { content: '/'; }

				a { display: inline-block; }
			}

			li.active > a {
				border-bottom-width: 2px;
				border-bottom-style: solid;
				border-bottom-color: inherit;
			}

			.fullwidth & { padding: 0 $padding-m; }
		}
	}

	.blog-grid .post-rollover {
		.hover-content,
		.post-feat-rollover > a { display: block; }
	}

	// Project Page
	.article.portfolio {
		&.has-info .page-header { position: static; }
		
		> .row { border-color: inherit; }
	}

	// Media
	@include media('screen', 'mars') {
		.portfolio.has-columns {
			.entry-body { margin-top: 0; }
		}
	}
	
}