
@if $portfolio {

	.portfolio-wrap {
		border-color: inherit;

		// Portfolio sorting
		
		.portfolio-sorter {
			width: 100%;
			font-size: $font-size-m;
			text-align: center;

			li:not(:last-child) {
				&:after { content: '/'; }

				a { display: inline-block; }
			}

			li.active > a {
				border-bottom-width: 2px;
				border-bottom-style: solid;
				border-bottom-color: inherit;
			}

			.fullwidth & { padding: 0 $padding-m; }
		}
	}
	
}