
// Post Info Styling

.article .post-info {
	width: 100%;
	display: table;
	border-radius: $bd-radius;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-color: inherit;

	> a {
		display: table-cell;
		text-align: center;
		padding: 5px;
		border-width: 0;
		border-style: solid;
		border-left-width: 1px;
		border-color: inherit;
		vertical-align: middle;
		font-size: $font-size-l;

		&:first-child { border-left-width: 0; }
	}

	.post-format i { font-size: 16px; line-height: 1.6; }

	.post-date strong { margin-right: 6px; }
}

.single-post,
.blog-standard,
.single-portfolio {

	.has-info .post-feat { margin-top: $margin-m; }

	@include media('screen', 'mars') {
		.has-info {
			position: relative;
			padding-left: 100px;
			min-height: 155px;

			.post-feat { margin-top: 0; }
		}

		.post-info {
			position: absolute;
			top: 0; left: 0;
			width: 80px;
			display: block;
			overflow: hidden;

			> a {
				display: block;
				padding-top: 10px;
				padding-bottom: 10px;
				border-top-width: 1px;
				border-left-width: 0 !important;
				border-right-width: 0 !important;
				font-size: $font-size;

				&:first-child { border-top-width: 0; }
			}

			.post-format i { font-size: 23px; }

			.post-date {
				line-height: 1;

				strong {
					display: block;
					margin-right: 0;
					margin-bottom: 5px;
					font-size: 20px;
				}
			}
		}
	}
}

.blog-grid,
.blog-masonry {
	.posts-container .article .post-info {
		border-width: 0;
		border-radius: 0;

		.post-date { border-bottom-width: 1px; }
	}
}