
@import 'featured';

@import 'post-info';

@import 'post-meta';

@import 'post-related';

@import 'pagination';

@import 'comments';


.article {
	&,
	.page-header,
	.entry-body,
	.post-wrapper { border-color: inherit; }

	.page-title,
	.entry-body,
	footer.entry-meta,
	.post-item-cont { margin: $margin-m 0 0; }

	embed,
	iframe,
	object {
		width: 100%;
		margin: 0 0 $margin-m;
	}

	blockquote {
		overflow: hidden;

		&:last-child { margin-bottom: 0; }
	}

	.post-label {
		padding: 2px 4px;
		display: inline-block;
		margin-right: $margin-s;
		font-size: $font-size-xs;
		font-weight: bold;
		vertical-align: middle;
		text-transform: uppercase;
		border-width: 1px;
		border-style: solid;
		border-radius: $bd-radius;
	}

	// Header

	.page-title {
		word-wrap: break-word;

		a {
			max-width: 100%;

			&:not(:hover) { color: inherit; }
		}

		i { font-size: 80%; }

		.post-label { margin-bottom: 3px; }
	}

	// Content

	.entry-body:first-child { margin-top: 0; }

	.post-content {
		p, ul, ol {
			margin-bottom: $margin-m;

			&:last-child { margin-bottom: 0; }
		}

		ol li,
		ul li {
			> ol,
			> ul { margin-top: $margin-xs; }
		}

		h1, .h1,
		h2, .h2,
		h3, .h3,
		h4, .h4,
		h5, .h5,
		h6, .h6 {
			margin-top: $margin-m;
			margin-bottom: $margin-m;

			&:last-child { margin-bottom: 0; }
		}
	}

	&.no-title {
		.page-title { display: none; }
		.entry-body {
			&:first-child { margin-top: $margin-m; }
			&:empty { margin-top: 0; }
		}
	}
	&.no-content {
		.page-title { margin-bottom: $margin-m; }
		.entry-body { display: none; }
	}

	#post-split-nav .pager { margin-bottom: 0; }

	// Single Post

	&.single-content {
		&.has-info .page-header { position: static; }

		.page-title:first-child { margin-top: 0; }
		
		> .row { border-color: inherit; }
	}

	// Sticky / Featured

	&.sticky,
	&.sticky-post {
		.page-title {
			padding-bottom: $padding-s;
			border-bottom: 3px solid $black;
		}
	}
}

// Media
@include media('screen', 'mars') {
	.single-content.has-columns {
		&.override-cols {
			.page-header,
			.entry-body { width: 100%; }
		}
		&:not(.override-cols) {
			.entry-body { margin-top: 0; }
		}
	}
}


// FORMAT STYLING

.format-aside,
.format-link {
	.post-meta {
		.byline, .cat {
			&, + .meta-sep { display: none; }
		}
	}
}

.format-link,
.format-quote,
.format-status {
	.post-meta {
		&, + .meta-sep { display: none; }
	}
}

.format-chat {
	.chat-row:not(:last-child) { margin-bottom: $margin-s; }

	.chat-author {
		float: left;
		margin-right: $margin-s;
	}

	.chat-author-1 .chat-author { color: $blue; }
	.chat-author-2 .chat-author { color: $green; }
	.chat-author-3 .chat-author { color: $orange; }
	.chat-author-4 .chat-author { color: $red; }
	.chat-author-5 .chat-author { color: $mulled-wine; }
	.chat-author-6 .chat-author { color: $purple; }
	.chat-author-7 .chat-author { color: $turquoise; }
	.chat-author-8 .chat-author { color: $juicy-pink; }
}


// BLOG STYLING

@import 'blog-grid';
@import 'blog-masonry';
@import 'blog-standard';
@import 'blog-common';


// PORTFOLIO STYLING

@import 'portfolio';


// FEATURED HOVER EFFECT

//.posts-container,
.post-related {
	.post-feat > a > img {
		@extend %img-effect-hover;
	}
}


// POST TAGS

.entry-footer {
	.tag-list {
		display: block;
		@extend %clearfix;
	}
	.tag-list + .tag-list { margin-top: $margin-s; }
}


// SOCIAL SHARING

.post-share .btn { padding: 10px 6px; }


// ABOUT THE AUTHOR

.about-the-author {
	.author-avatar {
		float: left;
		margin: 0 $margin-m $margin-s 0;

		img { border-radius: $bd-radius; }
	}

	.author-bio {
		min-height: 64px;

		p:last-child { margin-bottom: 0; }
	}

	.author-links {
		a {
			margin-top: $margin-s;
		}
	}
}


// MISCELLANEOUS

.post-extra { border-color: inherit; }

.post-password-form {
	label { margin: 0; }

	input[type="password"] {
		@extend %input-base;
		@extend %form-control;

		display: inline-block;
		width: auto;
	}
	input[type="submit"] {
		@extend %button-base;
		@extend .btn-default;
	}

	input { vertical-align: middle; }
}
