
@import 'featured';

@import 'post-info';

@import 'post-meta';

@import 'post-related';

@import 'pagination';

@import 'comments';


.article {
	&,
	.page-header,
	.entry-body,
	.post-wrapper { border-color: inherit; }

	.page-title,
	.entry-body,
	footer.entry-meta { margin: $margin-m 0 0; }

	.entry-body {
		&:first-child { margin-top: 0; }

		p:last-child { margin-bottom: 0; }
	}

	embed, iframe, object { width: 100%; }

	blockquote {
		overflow: hidden;

		&:last-child { margin-bottom: 0; }
	}

	&.no-title {
		.page-title { display: none; }
		.entry-body {
			&:first-child { margin-top: $margin-m; }
			&:empty { margin-top: 0; }
		}
	}
	&.no-content {
		.page-title { margin-bottom: $margin-m; }
		.entry-body { display: none; }
	}

	#post-split-nav .pager { margin-bottom: 0; }
}

.page-header {
	margin: 0;
	border-bottom: 0;
	padding-bottom: 0;
}

h2.page-title {
	font-size: $font-size-l - 1px;

	a:not(:hover) { color: inherit; }
}
.page-title i { font-size: 80%; }


// FORMAT STYLING

.format-aside,
.format-link {
	.post-meta {
		.byline, .cat {
			&, + .meta-sep { display: none; }
		}
	}
}

.format-quote,
.format-status {
	.post-meta {
		&, + .meta-sep { display: none; }
	}
}

.format-link:not(.no-feat) .page-title { display: none; }


// BLOG STYLING

@import 'blog-grid';
@import 'blog-masonry';
@import 'blog-standard';
@import 'blog-common';


// PORTFOLIO STYLING

@import 'portfolio';


// FEATURED HOVER EFFECT

//.posts-container,
.post-related {
	.post-feat > a > img {
		@extend %img-effect-hover;
	}
}


// GALLERY STYLING

.gallery {
	@extend %reset-list;
	margin-bottom: 1.5em;

	a img {
		border: none;
		height: auto;
		max-width: 90%;
	}

	dd { margin: 0; }

	.gallery-caption {}
}


// POST EXTRA ELEMENTS

.post-extra {
	border-color: inherit;
	@extend %clearfix;
}


// SOCIAL SHARING

.post-share .btn { padding: 10px 6px; }


// ABOUT THE AUTHOR

.about-the-author {
	.author-avatar {
		float: left;
		margin: 0 $margin-m $margin-s 0;

		img { border-radius: $bd-radius; }
	}

	.author-bio p:last-child { margin-bottom: 0; }

	.author-links {
		a {
			margin-top: $margin-s;
		}
	}
}


// MISCELLANEOUS

.gallery-slider { margin: 0; }

.post-password-form {
	label { margin: 0; }

	input[type="password"] {
		@extend %input-base;
		@extend %form-control;

		display: inline-block;
		width: auto;
	}
	input[type="submit"] {
		@extend %button-base;
		@extend .btn-default;
	}

	input { vertical-align: middle; }
}
