
html,
body { margin: 0 !important; }

body {
	min-width: 320px;
	line-height: 1.618;
	overflow-x: hidden;
	word-wrap: break-word;
	font-size: $font-size;
	font-family: $font-family-base;
}


// Lists

ol, ul { padding-left: 30px; }


// Anchors

a {
	transition: color 0.2s;

	&,
	&:hover,
	&:focus { text-decoration: none; }
}


// Focus Styles

a:focus,
.navbar .dropdown-toggle:focus {
	outline: thin dashed;
}

// Hover Styles

a:hover,
a:active,
.no-outline a { outline: none !important; }


// Local Font

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}/roboto/Roboto-Regular-webfont.eot');
    src: url('#{$font-path}/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('#{$font-path}/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('#{$font-path}/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}/roboto/Roboto-Medium-webfont.eot');
    src: url('#{$font-path}/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('#{$font-path}/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
         url('#{$font-path}/roboto/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Screen Reader Text
.screen-reader-text { @extend .sr-only; }

// Clearing
.clear { clear: both; }

// Make Sure Embeds And Iframes Fit Their Containers
embed, iframe, object { max-width: 100%; }

// Miscellaneous
p:empty { display: none; }
