
/* --------------------------
 8. Base
-------------------------- */


html {
	height: 100%;
	font-size: $font-size;
}

body {
	min-width: 300px;
	min-height: 100%;
	word-wrap: break-word;
	line-height: $line-height-base;
	overflow-x: hidden;

	// Media query breakpoint values, for use in JS
	&:before {
		display: none;
		content: 'mercury';
	}
	@each $bp-name, $bp-value in $breakpoints {
		@include media('screen', $bp-name) { &:before { content: '#{$bp-name}'; } }
	}

	&.non-responsive {
		min-width: 1180px;
		overflow-x: auto;

		&:before { content: 'earth' !important; }
	}
}

html,
body { margin: 0 !important; }


// Main Content

#content,
.sidebar {
	border-width: 0;
	border-style: solid;
}

#content,
.sidebar,
.posts-container,
.page-nav,
#content-wrap > .row { border-color: inherit; }


// Lists

ol, ul {
	padding-left: 30px;

	li:not(:last-child) { margin-bottom: $margin-xs; }

	&.no-style { @extend %reset-list; }
}


// Anchors

a {
	transition: color 0.2s;

	&,
	&:hover,
	&:focus { text-decoration: none; }

	&.no-color,
	&:hover,
	&:focus { color: inherit; }
}


// Focus Styles

a:focus,
.navbar .dropdown-toggle:focus {
	outline: thin dashed;
}

// Hover Styles

a:hover,
a:active,
.no-outline a { outline: none !important; }

// Screen Reader Text

.screen-reader-text { @extend .sr-only; }

// Clearing

.clear { clear: both; }

// Make Sure Embeds And Iframes Fit Their Containers

embed, iframe, object { max-width: 100%; }

// Miscellaneous

p:empty { display: none; }

.form-control, .dropdown-menu { font-size: inherit; }

#main-wrap-inner ::selection { text-shadow: none !important; }

#wpadminbar #wp-admin-bar-mixt-options .ab-icon:before { top: 3px; }