
// COLORS

$white: #fff;
$off-white: #f6f6f6;
$grey: #EFEFEF;
$black: #333;

$blue: #5991CE;
$sky: #5AA1E3;
$turquoise: #00C1CF;
$peacoc: #4CADC9;
$vista-blue: #75D69C;
$violet: #8D6DC4;
$purple: #B97EBB;

$green: #7CAD24;
$grace: #AED13B;

$pink: #FE6C61;
$juicy-pink: #F4524D;
$mulled-wine: #50485B;

$chino: #CEC2AB;
$orange: #FF911E;
$sandy-brown: #F79468;

$red: #D81616;


// =====================================================
// When adding or removing colors from the maps below,
// also update the assets array in core/assets.php
// =====================================================

$basic-colors: (
	'white': $white,
	'grey': $grey,
	'black': $black,
	'orange': $orange,
	'red': $red,
	'green': $green,
	'blue': $blue,
);

$button-colors: (
	'white': $white,
	'grey': $grey,
	'black': $black,
	'red': $red,
	'orange': $orange,
	'green': $green,
	'blue': $blue,
	'violet': #9B27BF,
);

$vc-colors: (
	'white': #FFFFFF,
	'off-white': #f0f0f0,
	'grey': #EBEBEB,
	'black': #2A2A2A,

	'blue': #5472D2,
	'sky': #5AA1E3,
	'turquoise': #00C1CF,
	'peacoc': #4CADC9,
	'vista-blue': #75D69C,
	'violet': #8D6DC4,
	'purple': #B97EBB,

	'green': #6DAB3C,
	'grace': #AED13B,

	'pink': #FE6C61,
	'juicy-pink': #F4524D,
	'mulled-wine': #50485B,

	'chino': #CEC2AB,
	'orange': #F7BE68,
	'sandy-brown': #F79468,

	'red': #D81616,
);