
// Wrappers

#main-wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
}

#content-wrap {
	color: $theme-color;
	border-color: $theme-border;
	
	> .row { border-color: inherit; }
}

.admin-bar #main-wrap { padding-top: 32px; }
.admin-bar.admin-bar-slim #main-wrap { padding-top: 28px !important; }
@media screen and (max-width: 782px) { .admin-bar #main-wrap { padding-top: 46px; } }


// Main Content

#content,
.sidebar {
	border-width: 0;
	border-style: solid;
}

#content,
.sidebar,
.posts-container,
.page-nav { border-color: inherit; }


// Fullwidth Layout

.fullwidth {
	#content-wrap,
	#content-wrap .container { width: 100%; }

	.blog-grid { padding: 0 !important; }
}


// Boxed Layout

.boxed {
	
}


// Tags

.tag-list a,
.tagcloud a {
	float: left;
	padding: 4px 8px;
	margin: 0 5px 5px 0;
	color: #fff !important;
	font-size: $font-size-s !important;
	border-radius: $bd-radius;
	background-color: #555;
	transition: color 0.2s, background 0.2s;

	&:hover {
		background-color: $theme-accent;
	}
}
.tagcloud {
	width: 100%;
	overflow: auto;
}
.tag-list {
	display: inline;
	font-size: 0;

	strong {
		float: left;
		line-height: 28px;
		margin-right: 10px;
		font-size: $font-size-s;
	}
}


// Widgets

.widget {
	select { max-width: 100%; }
}
.widget_nav_menu ul.sub-menu li,
.widget_pages ul.children li { padding-left: 15px; }


// Portfolio

.portfolio-sorter {
	width: 100%;
	padding: 20px;
	background-color: #fff;

	button {
		width: 25%;
	}
}

.gallery-caption,
.bypostauthor {
	display: inherit;
}

// TODO ???
.grid-container {
	width: 100%;

	article {
		min-width: 200px;
		min-height: 100px;
		width: 25%; float: left;
		padding: 0; margin: 0;
		position: relative;
		overflow: hidden;
		background-color: #f6f6f6;

		&.sticky { width: 50%; }

		&:hover .post-content { bottom: 0; }

		.main-anchor {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
		}

		.post-image img {
			min-width: 100%;
			max-width: 100%;
			min-height: 100%;
		}

		.post-content {
			position: absolute;
			left: 0; right: 0; bottom: -100%;
			padding: 15px 15px 0;
			background-color: rgba(0,0,0,0.7);
			transition: bottom 0.4s ease 0.3s;
		}

		.post-title {
			font-size: 16px;
			margin: 0 0 15px;
		}

		.post-date {
			font-size: 14px;
			color: #999;
			margin: 0 0 15px;
		}
	}
}

footer.entry-meta { clear: both; }


// Alignment

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


// Images and Captions

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;

	&.aligncenter {
		margin-bottom: 10px;
	}

	img[class*="wp-image-"] {
		display: block;
	}

	.wp-caption-text {
		text-align: center;
		margin-top: 10px;
	}
}


// Responsive

// Tablet & Desktop
@include media('screen', 'mars') {
	#content-wrap {
		&.has-sidebar {
			#content {
				float: left;
				width: 70%;
				border-right-width: 1px;
			}
			.sidebar {
				width: 30%;
				margin-left: -1px;
				border-left-width: 1px;
			}
		}

		&.sidebar-left {
			#content {
				float: right;
				border-left-width: 1px;
				border-right-width: 0;
			}
			.sidebar {
				margin-left: 0;
				border-left-width: 0;
				box-shadow: 1px 0 0 $theme-border;

			}
		}
	}
}

// Mobile
@include media('screen', '<mars') {
	.sidebar {
		margin-top: -1px;
		border-top-width: 1px;
	}

}
