
// Wrappers

#main-wrap {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
}

.admin-bar #main-wrap { padding-top: 32px; }
.admin-bar.admin-bar-slim #main-wrap { padding-top: 28px !important; }
@media screen and (max-width: 782px) { .admin-bar #main-wrap { padding-top: 46px; } }


// Main Content

#content,
.sidebar {
	border-width: 0;
	border-style: solid;
}

#content,
.sidebar,
.posts-container,
.page-nav,
#content-wrap > .row { border-color: inherit; }


// Boxed Layout

.boxed {
	#main-wrap,
	#main-nav {
		padding-left: 0;
		padding-right: 0;

		@media (min-width: $screen-sm-min) { width: $container-sm; }
		@media (min-width: $screen-md-min) { width: $container-md; }
		@media (min-width: $screen-lg-min) { width: $container-lg; }
		@media (min-width: $screen-md-min + $gutter-lg) and (max-width: $screen-lg-min) { width: $container-md + $gutter-lg; }
		@media (min-width: $screen-lg-min + $gutter-lg) { width: $container-lg + $gutter-lg; }
	}
	#main-wrap { overflow: hidden; }

	&.fixed-nav #main-nav {
		left: auto;
		right: auto;
	}
}


// Fullwidth Content Layout

.fullwidth {
	#content-wrap,
	#content-wrap .container { width: 100%; }

	.blog-grid { padding: 0 !important; }
}


// Tags

.tag-list a,
.tagcloud a {
	float: left;
	padding: 4px 8px;
	margin: 0 5px 5px 0;
	color: #fff !important;
	font-size: $font-size-s !important;
	border-radius: $bd-radius;
	background-color: #555;
	transition: color 0.2s, background 0.2s;
}
.tagcloud {
	width: 100%;
	overflow: auto;
}
.tag-list {
	display: inline;
	font-size: 0;

	strong {
		float: left;
		line-height: 28px;
		margin-right: 10px;
		font-size: $font-size-s;
	}
}


// Widgets

.widget {
	select { max-width: 100%; }
}
.widget_nav_menu ul.sub-menu li,
.widget_pages ul.children li { padding-left: 15px; }


// Alignment

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


// Images and Captions

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;

	&.aligncenter {
		margin-bottom: 10px;
	}

	img[class*="wp-image-"] {
		display: block;
	}

	.wp-caption-text {
		text-align: center;
		margin-top: 10px;
	}
}


// Responsive

// Tablet & Desktop
@include media('screen', 'mars') {
	#content-wrap {
		&.has-sidebar {
			#content {
				float: left;
				width: 70%;
				border-right-width: 1px;
			}
			.sidebar {
				float: left;
				width: 30%;
				margin-left: -1px;
				border-left-width: 1px;
			}
		}

		&.sidebar-left {
			#content {
				float: right;
				border-left-width: 1px;
				border-right-width: 0;
			}
			.sidebar {
				margin-left: 1px;
				margin-right: -1px;
				border-left-width: 0;
				border-right-width: 1px;

			}
		}
	}
}

@include media('screen', 'venus') {
	#content-wrap {
		&.has-sidebar {
			#content { width: 75%; }
			.sidebar { width: 25%; }
		}
	}
}


// Mobile
@include media('screen', '<mars') {
	.sidebar {
		margin-top: -1px;
		border-top-width: 1px;
	}

}
