
#colophon {
	$top-bg: #3a3a3a;
	$btm-bg: #444;
	$border: #333;
	$spacing: 20px;

	.footer-row {
		padding: $spacing 0;
		border-top: 1px solid $border;
		color: set-color-for-bg($top-bg, $light: lighten($top-bg, 50), $dark: darken($top-bg, 50));
		@include text-shadow-for-bg($top-bg);
	}

	.widget-row {
		background-color: $top-bg;
	}

	.copyright-row {
		background-color: $btm-bg;
	}

	.widget-area {
		div,
		.nav { border-color: #222; }

		ul { border-color: inherit; }
	}

	.widget { margin-bottom: $spacing; }

	.widget-title {
		margin-top: 0;
		color: set-color-for-bg($top-bg);
	}

	.widget-area:last-of-type .widget:last-child { margin-bottom: 0; }

	@include media('screen', 'mars') {
		.widget:last-child,
		.wpb_content_element,
		.mixt-element { margin-bottom: 0; }
	}
}

// Back To Top Button
#back-to-top {
	position: fixed;
	bottom: 15px; right: 15px;
	opacity: 0.85;

	@include media('screen', '<mercury') {
		display: none !important;
	}
}