
// Back To Top Button

#back-to-top {
	position: fixed;
	bottom: 15px; right: 15px;
	opacity: 0.85;
	display: none;
	z-index: 1;
}

// Footer

#colophon {

	.footer-row {
		padding: $gutter-lg 0 0;
		border-style: solid;
		border-width: 1px 0 0 0;
	}

	.widget-title { margin-top: 0; }

	.widget-row {
		border-bottom-width: 1px;

		.container,
		#footer-widgets { border-color: inherit; }

		+ .copyright-row { border-top-width: 0; }
	}

	.copyright-row {
		$spacing: $padding-m / 2;

		padding: $spacing 0;
		position: relative;
		z-index: 2; // Above back to top button

		.container,
		.inner,
		.left-content,
		.right-content { border-color: inherit; }

		.inner {
			width: 100%;
			height: auto;
		}

		.left-content,
		.right-content {
			padding-top: $spacing;
			padding-bottom: $spacing;
		}

		@include media('screen', 'mercury') {
			.inner { display: table; }
			
			.left-content,
			.right-content {
				text-align: left;
				display: table-cell;
				vertical-align: middle;
			}

			.left-content { padding-right: $padding-s; }

			.right-content { text-align: right; }

			.flexbox & {
				.inner {
					display: flex;
					flex-flow: row wrap;
					align-items: center;
				}

				.left-content { flex-grow: 1; }
				
				.left-content,
				.right-content { display: inherit; }
			}
		}
	}

	.widget-row,
	.copyright-row {
		background-size: auto;
		background-repeat: repeat;
	}
}

// Info Bar

#info-bar-wrap {
	position: relative;
	z-index: 2;

	.info-bar {
		padding: $padding-s 0;
		border-top-width: 1px;
		border-top-style: solid;

		&.sticky {
			position: fixed;
			left: 0; right: 0;
			bottom: 0;
			z-index: 2;
		}
	}
}

// Media

@include media('screen', '<mars') {
	#colophon .widget-row.hidden-xs + .copyright-row { border-top-width: 1px; }

	.info-bar.sticky { position: static; }
	#back-to-top { margin-bottom: 0 !important; }
}