
// HEADER MEDIA

.head-media {
	$spacing: 25px;
	$spacing-sm: 15px;

	width: 100%;
	height: auto;
	min-height: 90px;
	margin: 0;
	overflow: hidden;
	position: relative;
	z-index: 0;
	transition: height 0.3s;

	&:after {
		content: ' '; z-index: 2;
		position: absolute; left: 0; bottom: -1px; height: 1px; width: 100%;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 0 -1px 8px rgba(0, 0, 0, 0.15);
	}

	.media-container {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		z-index: 1;

		&.has-parallax { transition: transform 0.05s ease-out; }
	}

	&.media-image {
		.media-container.pattern {
			background-size: auto;
			background-repeat: repeat;
		}
	}

	&.media-video {
		background-color: #fff;

		&.bg-dark { background-color: #000; }

		iframe,
		video.media-container {
			position: absolute;
			top: 0; left: 0;
			height: auto !important;
			min-width: 100%;
			min-height: 100%;
		}
	}

	&.media-slider > div { z-index: 1; }

	.container {
		height: 100%;
		min-height: 40px;
		position: relative;
		display: table;
		table-layout: fixed;
		vertical-align: middle;
		padding-bottom: $spacing;
		transition: opacity 0.05s ease-out, transform 0.05s ease-out;
		z-index: 2;

		&.fullwidth {
			width: 100% !important;
			padding: 0 !important;
			margin: 0 auto !important;
		}

		&.cover .media-inner {
			padding: 0 !important;
			
			> * { margin-top: 0; }
		}
	}

	.media-inner {
		width: 100%;
		display: table-cell;
		position: relative;
		vertical-align: middle;
		padding: ($spacing * 2 - $spacing-sm) 0 $spacing 0;
		z-index: 2;

		> * {
			margin-top: $spacing-sm;
			margin-bottom: 0;
		}

		&.align-center {
			.page-title,
			#breadcrumbs { text-align: center; }
			.post-meta,
			.header-scroll { margin-left: auto; margin-right: auto; }
		}
		&.align-right {
			.page-title,
			#breadcrumbs { text-align: right; }
			.post-meta,
			.header-scroll { margin-left: auto; margin-right: 0; }
		}
	}

	.post-meta > span {
		color: inherit;
		margin-right: $margin-s;
	}

	.page-title {
		font-size: $font-size-xxl;
		margin-top: $margin-l;
	}

	.header-scroll {
		$size: 32px;
		position: absolute;
		bottom: 15px; left: 50%;
		margin-left: $size / -2;
		width: $size; height: $size;
		cursor: pointer; font-size: 22px;
		text-align: center; line-height: 1;
		z-index: 9;

		@extend %anim-goDown;
	}

	&.fullscreen { height: 100vh; }

	&.bg-dark:after { box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 -1px 8px rgba(0, 0, 0, 0.4); }

	// No Slider Plugin Message
	&.no-slider p {
		width: 100%;
		text-align: center;
		font-size: $font-size-l;
	}

	@include media('screen', '<mars') {
		.container { padding-bottom: $spacing-sm; }
		.media-inner {
			padding: $spacing-sm 0;
		}
	}
}

.nav-transparent {
	.head-media .container { padding-top: $nav-primary-height; }
	&.nav-below .head-media .container { padding-top: 0; padding-bottom: $nav-primary-height; }
}


// LOCATION BAR & BREADCRUMBS

#location-bar {
	width: 100%;
	border-style: solid;
	border-width: 0 0 1px 0;

	.container { height: auto; }

	$padding: 15px;
	$spacing: 10px;

	.inner {
		display: table;
		width: 100%;
		height: auto;
		min-height: 100%;
		padding: $padding - $spacing 0 $padding;
		position: relative;
	}

	.page-title {
		h1 {
			margin: 0;
			font-size: 16px;
		}

		p {
			font-size: $font-size-s;
			margin: 5px 0 0;
		}
	}

	.page-title,
	#breadcrumbs {
		margin: 0;
		padding: 0;
	}

	.left-content,
	.right-content {
		padding-top: $spacing;
		text-align: center;

		&:empty { display: none; }
	}

	@include media('screen', '(min-width: 480px)') {
		.left-content,
		.right-content {
			text-align: left;
			display: table-cell;
			vertical-align: middle;
		}
		.right-content {
			padding-left: $spacing;
			text-align: right;
		}
	}
}

#breadcrumbs {
	border-radius: 0;
	margin-bottom: 0;
	background: none;

	@extend %reset-list;

	li {
		cursor: default;
		font-size: $font-size-s;
		white-space: wrap-word;
	}

	a {
		color: inherit;
		display: inline-block;
	}

	> li + li:before {
		width: 16px;
		content: "/";
		opacity: 0.6;
		padding: 0 5px;
		font-size: 16px;
		display: inline-block;
		vertical-align: -1px;
	}

	.bc-prefix {
		padding-right: 5px;

		& + li:before { display: none; }
	}
}