
// ALIGNMENT

.alignleft {
	display: inline;
	float: left;
	margin-right: $margin-m;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $margin-m;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.flex-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}


// TYPOGRAPHY

.text-size-xs { font-size: $font-size-xs; }
.text-size-s { font-size: $font-size-s; }
.text-size-m { font-size: $font-size-m; }
.text-size-l { font-size: $font-size-l; }
.text-size-xl { font-size: $font-size-xl; }
.text-size-xxl { font-size: $font-size-xxl; }


// COLORS

@each $name, $color in $basic-colors {
	.text-color-#{$name} { color: $color !important; }
	.border-color-#{$name} { border-color: $color !important; }
}


// BORDERS

	// Border Positions
	.border-top, .border-bottom, .border-top-bottom,
	.border-left, .border-right, .border-sides { border-width: 0; }
	.border-top, .border-top-bottom { border-top-width: 1px; }
	.border-bottom, .border-top-bottom { border-bottom-width: 1px; }
	.border-left, .border-sides { border-left-width: 1px; }
	.border-right, .border-sides { border-right-width: 1px; }

	// Border Styles
	.border-solid { border-style: solid; }
	.border-dashed { border-style: dashed; }
	.border-dotted { border-style: dotted; }
	.border-double { border-style: double; }

	// Border Radius
	.border-rad { border-radius: $bd-radius; }
	.border-rad-s { border-radius: $bd-radius-s; }
	.border-rad-l { border-radius: $bd_radius-l; }
	.border-circle { border-radius: 50%; }

	%bd-radius-top { border-radius: $bd-radius $bd-radius 0 0; }
	%bd-radius-bottom { border-radius: 0 0 $bd-radius $bd-radius; }

	.no-border { border: 0 !important; }
	.no-border-rad { border-radius: 0 !important; }


// SPACING

$spacing-margin-sizes: (
	's': $margin-s,
	'm': $margin-m,
	'l': $margin-l,
	'none': 0,
);
@each $size, $margin in $spacing-margin-sizes {
	.margin-#{$size}, .margin-top-#{$size} { margin-top: $margin; }
	.margin-#{$size}, .margin-left-#{$size} { margin-left: $margin; }
	.margin-#{$size}, .margin-right-#{$size} { margin-right: $margin; }
	.margin-#{$size}, .margin-bottom-#{$size} { margin-bottom: $margin; }

	@if ( $size != 'none' ) {
		.margin-sep-#{$size} {
			margin-top: -$margin;
			> * { margin-top: $margin; margin-right: $margin; }
		}
	}
}

.no-margin { margin: 0 !important; }

.padding-horizontal {
	padding-left: $gutter-lg;
	padding-right: $gutter-lg;
}
.padding-vertical {
	padding-top: $row-spacing-lg;
	padding-bottom: $row-spacing-lg;
}


// LISTS

%reset-list {
	padding: 0;
	list-style: none;

	li:not(:last-child) { margin: 0; }
}


// MISCELLANEOUS

%clearfix {
	@include clearfix;
}

@mixin justify-items {
	width: 100%;
	display: table;
	table-layout: fixed;
	border-collapse: separate;

	> * {
		width: 1%;
		display: table-cell;
	}
}

.iframe-fluid {
	height: 0;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */

	iframe {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		border: none;
	}
}

.text-shadow-inset { text-shadow: 0 1px 1px rgba(255,255,255,0.1); }
.text-shadow-outset { text-shadow: 0 1px 1px rgba(0,0,0,0.1); }

.bg-fixed { background-attachment: fixed; }