
/* --------------------------
 # Layout
-------------------------- */


/* Wrappers */

#main-wrap {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
}

#content-wrap {
	min-width: 300px;
}


/* Boxed Layout */

.boxed {
	#main-wrap,
	#main-nav {
		padding-left: 0;
		padding-right: 0;

		@media (min-width: $screen-sm-min) { width: $container-sm; }
		@media (min-width: $screen-md-min) { width: $container-md; }
		@media (min-width: $screen-lg-min) { width: $container-lg; }
		@media (min-width: $screen-md-min + $gutter-lg) and (max-width: $screen-lg-min) { width: $container-md + $gutter-lg; }
		@media (min-width: $screen-lg-min + $gutter-lg) { width: $container-lg + $gutter-lg; }
	}

	#main-wrap { box-shadow: 0 0 3px 1px rgba(0,0,0,0.1); }
	#main-wrap-inner { overflow: hidden; }

	&.fixed-nav #main-nav,
	.info-bar.fixed {
		left: auto;
		right: auto;
	}
}


/* Fullwidth Content Layout */

.fullwidth {
	.container { max-width: none !important; }

	#content-wrap,
	#content-wrap .container { width: 100% !important; }

	.blog-grid { padding: 0 !important; }
}


/* Tablet & Desktop */

@include media('screen', 'mars') {
	$content-width: 100%;
	@if ( unit($sidebar-width-sm) == '%' ) {
		$content-width: 100% - $sidebar-width-sm;
	} @else {
		$content-width: calc(100% - #{$sidebar-width-sm});
	}

	#content-wrap.has-sidebar {
		#content {
			float: left;
			width: $content-width;
			border-right-width: 1px;
		}
		.sidebar {
			float: left;
			width: $sidebar-width-sm;
			margin-left: -1px;
			border-left-width: 1px;
		}

		&.sidebar-left {
			#content {
				float: right;
				border-left-width: 1px;
				border-right-width: 0;
			}
			.sidebar {
				margin-left: 1px;
				margin-right: -1px;
				border-left-width: 0;
				border-right-width: 1px;

			}
		}
	}
}

@include media('screen', 'venus') {
	$content-width: 100%;
	@if ( unit($sidebar-width) == '%' ) {
		$content-width: 100% - $sidebar-width;
	} @else {
		$content-width: calc(100% - #{$sidebar-width});
	}

	#content-wrap.has-sidebar {
		#content { width: $content-width; }
		.sidebar { width: $sidebar-width; }
	}
}


/* Mobile */

@include media('screen', '<mars') {
	.sidebar {
		margin-top: -1px;
		border-top-width: 1px;
	}

}
