
// Wrappers

#main-wrap {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
}

// Admin Bar Offset
.admin-bar {
	#main-wrap { padding-top: 32px; }
	#main-nav-wrap.nav-vertical { top: 32px; }

	&.admin-bar-slim {
		#main-wrap { padding-top: 28px !important; }
		#main-nav-wrap.nav-vertical { top: 28px; }
	}
}
@media screen and (max-width: 782px) {
	.admin-bar {
		#main-wrap { padding-top: 46px; }
		#main-nav-wrap.nav-vertical { top: 46px; }
	}
}


// Boxed Layout

.boxed {
	#main-wrap,
	#main-nav {
		padding-left: 0;
		padding-right: 0;

		@media (min-width: $screen-sm-min) { width: $container-sm; }
		@media (min-width: $screen-md-min) { width: $container-md; }
		@media (min-width: $screen-lg-min) { width: $container-lg; }
		@media (min-width: $screen-md-min + $gutter-lg) and (max-width: $screen-lg-min) { width: $container-md + $gutter-lg; }
		@media (min-width: $screen-lg-min + $gutter-lg) { width: $container-lg + $gutter-lg; }
	}
	#main-wrap { overflow: hidden; }

	&.fixed-nav #main-nav {
		left: auto;
		right: auto;
	}
}


// Fullwidth Content Layout

.fullwidth {
	#content-wrap,
	#content-wrap .container { width: 100%; }

	.blog-grid { padding: 0 !important; }
}


// Tablet & Desktop

@include media('screen', 'mars') {
	#content-wrap {
		&.has-sidebar {
			#content {
				float: left;
				width: 70%;
				border-right-width: 1px;
			}
			.sidebar {
				float: left;
				width: 30%;
				margin-left: -1px;
				border-left-width: 1px;
			}
		}

		&.sidebar-left {
			#content {
				float: right;
				border-left-width: 1px;
				border-right-width: 0;
			}
			.sidebar {
				margin-left: 1px;
				margin-right: -1px;
				border-left-width: 0;
				border-right-width: 1px;

			}
		}
	}
}

@include media('screen', 'venus') {
	#content-wrap {
		&.has-sidebar {
			#content { width: 75%; }
			.sidebar { width: 25%; }
		}
	}
}


// Mobile

@include media('screen', '<mars') {
	#main-nav-wrap { top: 0 !important; }

	.sidebar {
		margin-top: -1px;
		border-top-width: 1px;
	}

}
