
// Sidebar Styles

.sidebar {

	// Child Page Nav Menu
	.child-page-nav {

		li {
			border-top-width: 1px;
			margin-top: -1px !important;
		}

		.current_page_item {
			border-width: 1px;
			padding-left: 15px;
			padding-right: 15px;

			a {
				cursor: default;
				color: inherit !important;
			}
		}
	}

	.child-page-nav li a { color: inherit; }

	#wp-calendar {
		th,
		td { padding-left: 0 !important; padding-right: 0 !important; }
	}

	@include media('screen', 'mars') {
		.child-page-nav {
			.current_page_item {
				margin-left: -$gutter-lg;
				padding-left: $gutter-lg;

				border-left-width: 0;

				@include square-arrow('left', 12px, $border: inherit);
			}

			.sidebar-left & {
				.current_page_item {
					margin-left: 0;
					margin-right: -$gutter-lg;
					padding-left: 15px;
					padding-right: $gutter-lg;

					border-left-width: 1px;
					border-right-width: 0;

					@include square-arrow('right', 12px, $border: inherit);

					&:before { left: auto; }
				}
			}
		}
	}
}