
/* --------------------------
 9. Spacing
-------------------------- */


// Custom Gutter Columns & Rows

@mixin make-custom-grid-columns($i: 1, $list: '.col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}', $gutter: $grid-gutter-width) {
	padding-left: $grid-gutter-width / 2 - $gutter / 2;
	padding-right: $grid-gutter-width / 2 - $gutter / 2;

	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
	}
	#{$list} {
	    padding-left:  ($gutter / 2);
	    padding-right: ($gutter / 2);
	}
}
.row-grid-sm {
	@include make-custom-grid-columns($gutter: $row-grid-sm-gutter);
}
.row-spacing-sm {
	&,
	&.wpb_row,
	.wpb_content_element,
	.wpb_wrapper .mixt-element { margin-bottom: $row-grid-sm-gutter; }
}


// Main Content

#content,
.sidebar-padder {
	padding-left: $gutter-lg / 2;
	padding-right: $gutter-lg / 2;
}

.page-padding,
.sidebar-padder,
.blog-grid .posts-container:first-child,
.blog-grid .portfolio-sorter + .posts-container,
.blog-masonry .posts-container:first-child,
.blog-masonry .portfolio-sorter + .posts-container,
.portfolio-wrap.portfolio-sortable:first-child { padding-top: $gutter-lg; }


// Page Header Spacing

.article {
	margin: $gutter-lg 0 0;
	padding: 0 0 $row-spacing-lg;
}
.article .first-row { margin-top: -$gutter-lg; }


// Pre-Footer Spacing

#content > .article .entry-body > :last-child { margin-bottom: 0; }
.posts-container:last-child { padding-bottom: $gutter-lg; }


// Fullwidth Layout

.fullwidth {
	.blog-grid .paging-navigation { padding: 0 $gutter-lg; }
}


// Rows & Containers

.widget,
.post-extra,
.gutter-btm,
.wpb_row,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin,
.wpb_button,
.wpb_wrapper .mixt-element { margin-bottom: $row-spacing-lg; }


@include media('screen', 'mars') {
	#content-wrap {
		&.has-sidebar {
			#content { padding-right: $gutter-lg; }
			.sidebar-padder { padding-left: $gutter-lg; }
		}

		&.sidebar-left {
			#content {
				padding-left: $gutter-lg;
				padding-right: $gutter-lg / 2;
			}
			.sidebar-padder {
				padding-left: $gutter-lg / 2;
				padding-right: $gutter-lg;
			}
		}
	}
}


// Small Gutters

@include media('screen', '<mars') {
	#content,
	.sidebar-padder,
	.container,
	.container-fluid,
	.vc_column_container {
		padding-left: $gutter-sm / 2;
		padding-right: $gutter-sm / 2;
	}

	.article {
		margin: $gutter-sm 0 0;
		padding: 0 0 $row-spacing-sm;
	}
	.article .first-row { margin-top: -$gutter-sm; }

	.page-padding,
	.sidebar-padder,
	.blog-grid .posts-container:first-child,
	.blog-grid .portfolio-sorter + .posts-container,
	.blog-masonry .posts-container:first-child,
	.blog-masonry .portfolio-sorter + .posts-container,
	.portfolio-wrap.portfolio-sortable:first-child { padding-top: $gutter-sm; }

	.posts-container:last-child { padding-bottom: $gutter-sm; }

	.row {
		margin-left: $gutter-sm / -2;
		margin-right: $gutter-sm / -2;
	}

	.row-grid-sm {
		padding-left: ($gutter-sm / 2) - ($row-grid-sm-gutter / 2);
		padding-right: ($gutter-sm / 2) - ($row-grid-sm-gutter / 2);
	}
	.form-cols.row {
		padding-left: ($gutter-sm / 2) - ($form-gutter / 2);
		padding-right: ($gutter-sm / 2) - ($form-gutter / 2);
	}

	.widget,
	.post-extra,
	.gutter-btm,
	.wpb_row,
	.wpb_content_element,
	ul.wpb_thumbnails-fluid > li,
	.last_toggle_el_margin,
	.wpb_button,
	.wpb_wrapper .mixt-element,
	.wpb_column:not(:last-child) > .wpb_wrapper > :last-child,
	.wpb_column:not(:last-child) > .vc_column-inner > .wpb_wrapper > :last-child {
		margin-bottom: $row-spacing-sm;
	}

	.row-spacing-sm {
		&,
		&.wpb_row,
		.wpb_content_element,
		.wpb_wrapper .mixt-element,
		.wpb_column:not(:last-child) > .wpb_wrapper > *:last-child { margin-bottom: $row-grid-sm-gutter; }
	}
}
