// =====================================================
// Some of these variables are also defined in an array
// inside 'modules/dcss/dynamic-css.php', make sure to
// update them as well if you change anything. You may
// filter them in a child theme with 'mixt_dcss_defaults'
// =====================================================

// GLOBAL VARIABLES

$img-path:  '../assets/img';
$font-path: '../assets/fonts';


// NAVBARS

$nav-item-height: 42px;
$nav-sub-item-height: 36px;
$nav-sub-pad-h: 10px;
$nav-sub-pad-v: 12px;
$menu-hover-bg: rgba(0,0,0,0.03);
$nav-icon-size: 16px;
$nav-icon-spacing: 8px;

// Primary Navbar

// Padding. Defined in PHP as 'nav-padding'
$nav-primary-pad: 20px;
// Padding when fixed. Defined in PHP as 'nav-fixed-padding'
$nav-primary-fixed-pad: 0;
// Item height. This will be the base height of the navbar. Defined in PHP as 'nav-item-height'
$nav-primary-item-height: 50px;
// Total height
$nav-primary-height: $nav-primary-item-height + $nav-primary-pad * 2 + 1px;
// Total height when fixed
$nav-primary-fixed-height: $nav-primary-item-height + $nav-primary-fixed-pad * 2;
// Opacity
$nav-primary-opacity: 0.95;
// Submenu opacity
$nav-primary-menu-opacity: 1;
// Submenu item height
$nav-primary-sub-item-height: 36px;
// Submenu item horizontal padding
$nav-primary-sub-pad-h: 12px;
// Submenu item vertical padding
$nav-primary-sub-pad-v: 14px;
// Menu item spacing
$nav-primary-spacing: 14px;
// Minimum width for the fixed (sticky) mode
$nav-primary-fixed-breakpoint: 601px;
// Main navbar mobile (mini) breakpoint - the width below which the navbar switches to mobile mode
// $grid-float-breakpoint: 768px;

// Primary Navbar (Vertical)

// Width
$nav-vertical-width: 320px;
// Width on small screens
$nav-vertical-width-sm: 20%;
// Item height
$nav-vertical-item-height: 42px;
// Max content width. Set to '100%' to enable fullwidth
$nav-vertical-content-max-width: 1200px;

// Secondary Navbar

// Item height
$sec-nav-item-height: 38px;
// Submenu item height
$sec-nav-sub-item-height: 32px;

// Navbar line height correction
$nav-line-height-correction: -2px;


// POSTS

// Spacing for post elements
$post-inner-pad: 15px;
// Format icon size
$post-format-icon-size: 36px;
// Featured background format icon size
$post-format-bg-icon-size: 24px;
// Masonry gutter width
$masonry-gutter: 10px;
// Featured Sizes
// Make sure these are updated as well if image sizes are changed in functions.php
$blog-large-w: 960px;
$blog-large-h: 460px;
$blog-medium-w: 320px;
$blog-medium-h: 200px;
$blog-small-w: 120px;
$blog-small-h: 120px;


// SIDEBAR

// Width
$sidebar-width: 25%;
// Width on small screens
$sidebar-width-sm: 30%;


// TYPOGRAPHY

$font-family-base: sans-serif;

$line-height-base: 1.618;
$headings-line-height: 1.2;

$font-size: 14px;
$font-size-base: $font-size;

$font-size-xs:  $font-size - 2px;
$font-size-s:   $font-size - 1px;
$font-size-m:   $font-size + 1px;
$font-size-l:   $font-size + 3px;
$font-size-xl:  $font-size + 6px;
$font-size-xxl: $font-size + 8px;

// Rem based font sizes
$rem-font-sizes: true;

@if $rem-font-sizes {
	$font-size-xs:  0.85rem;
	$font-size-s:   0.925rem;
	$font-size-m:   1.1rem;
	$font-size-l:   1.25rem;
	$font-size-xl:  1.35rem;
	$font-size-xxl: 1.55rem;
}

// Heading font sizes
$font-size-h1: $font-size-xxl;
$font-size-h2: $font-size-xl;
$font-size-h3: $font-size-l;
$font-size-h4: $font-size-m;
$font-size-h5: $font-size-s;
$font-size-h6: $font-size-xs;


// SPACING, MARGINS & PADDINGS

// Column spacing
$main-gutter: 40px;
$gutter-lg: $main-gutter;
// Column spacing on small screens
$main-gutter-sm: 30px;
$gutter-sm: $main-gutter-sm;
// Column spacing for compact grids
$row-grid-sm-gutter: 20px;
// Column spacing for forms
$form-gutter: 15px;

// Row spacing
$row-spacing-lg: 40px;
// Row spacing on small screens
$row-spacing-sm: 30px;

$margin-xs: 5px;
$margin-s:  10px;
$margin-m:  20px;
$margin-l:  30px;

$padding-xs: 5px;
$padding-s:  10px;
$padding-m:  20px;
$padding-l:  30px;


// MISCELLANEOUS

$bd-radius-s: 2px;
$bd-radius:   2px;
$bd-radius-l: 3px;

$rounded-radius: $bd-radius-l;

$quote-border-width: 3px;

// Right-To-Left language support
$rtl: false;

// Include various Internet Explorer tweaks and hacks
$ie-support: true;

// Responsive features (set to false to display site in desktop-only mode)
$responsive: true;

@if ( $responsive == false ) {
	$screen-xs: 1px;
	$screen-sm: 2px;
	$screen-md: 3px;
	$screen-lg: 4px;
	$grid-float-breakpoint: 1px !default;
}


// PLUGIN CONFIG

$portfolio:    true;
$featherlight: true;
$lightgallery: true;
$lightslider:  true;
$vcomposer:    true;
$woocommerce:  true;
$select2:      $woocommerce;
$wpcf:         false;