
// Global Variables

$img-path:  '../assets/img';
$font-path: '../assets/fonts';


// Navbars

$nav-item-height: 42px;
$nav-sub-item-height: 36px;
$menu-hover-bg: rgba(0,0,0,0.03);

$nav-primary-height: 91px;
$nav-primary-pad: 20px;
$nav-primary-item-height: 50px;
$nav-primary-sub-item-height: 36px;
$nav-primary-opacity: 0.95;
$nav-primary-menu-opacity: 0.95;

$nav-vertical-width: 320px;
$nav-vertical-width-sm: 20%;
$nav-vertical-item-height: 42px;
$nav-vertical-content-max-width: 1200px;

$sec-nav-item-height: 32px;
$sec-nav-sub-item-height: 32px;

// Main navbar mobile (mini) breakpoint
// This is the width below which the navbar switches to mobile mode
// $grid-float-breakpoint: 768px;


// Sidebar

$sidebar-width: 25%;
$sidebar-width-sm: 30%;


// Typography

$font-family-base: 'Roboto', 'Verdana', sans-serif;

$line-height-base: 1.618;

$font-size-xs:  11px;
$font-size-s:   12px;
$font-size:     13px;
$font-size-m:   14px;
$font-size-l:   16px;
$font-size-xl:  20px;
$font-size-xxl: 26px;

$font-size-base: $font-size;

$font-size-h1: 20px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-h6: 10px;


// Spacing, Margins & Paddings

$main-gutter: 40px;
$main-gutter-sm: 30px;
$gutter-lg: $main-gutter;
$row-spacing-lg: 40px;
$gutter-sm: $main-gutter-sm;
$row-spacing-sm: 30px;
$row-grid-sm-gutter: 20px;

$post-inner-pad: 15px;
$form-gutter: 15px;

$margin-xs: 5px;
$margin-s:  10px;
$margin-m:  20px;
$margin-l:  30px;

$padding-xs: 5px;
$padding-s:  10px;
$padding-m:  20px;
$padding-l:  30px;


// Post Featured Images

$post-aside-img: '#{$img-path}/textures/ag-square.png';
$post-link-img: '#{$img-path}/textures/transparent-square-tiles.png';
$post-quote-img: false;
$post-status-img: false;


// Miscellaneous

$bd-radius-s: 1px;
$bd-radius:   2px;
$bd-radius-l: 3px;

$rounded-radius: $bd-radius-l;

$rtl: false;

$ie-hacks: true;


// Plugin Config

$portfolio:    true;
$lightgallery: true;
$lightslider:  true;
$vcomposer:    true;
$woocommerce:  true;
$select2:      $woocommerce;
$wpcf:         false;