
// GLOBAL VARIABLES

$img-path:  '../assets/img';
$font-path: '../assets/fonts';


// NAVBAR

$nav-primary-height: 91px;
$nav-primary-pad: 20px;
$nav-primary-item-height: 50px;
$nav-primary-sub-item-height: 36px;

$nav-vertical-width: 320px;
$nav-vertical-width-sm: 20%;
$nav-vertical-item-height: 42px;

$sec-nav-item-height: 32px;


// TYPOGRAPHY

$font-family-base: 'Roboto', 'Verdana', sans-serif;

$line-height-base: 1.618;

$font-size-xs:  11px;
$font-size-s:   12px;
$font-size:     13px;
$font-size-m:   14px;
$font-size-l:   16px;
$font-size-xl:  20px;
$font-size-xxl: 26px;

$font-size-base: $font-size;

$font-size-h1: 20px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-h6: 10px;


// SPACING, MARGINS & PADDINGS

$main-gutter:    40px;
$main-gutter-sm: 30px;

$form-gutter: 15px;

$margin-xs: 5px;
$margin-s:  10px;
$margin-m:  20px;
$margin-l:  30px;

$padding-xs: 5px;
$padding-s:  10px;
$padding-m:  20px;
$padding-l:  30px;

$post-inner-pad: 15px;


// MISCELLANEOUS

$bd-radius-s: 1px;
$bd-radius:   2px;
$bd-radius-l: 3px;

$rounded-radius: $bd-radius-l;


// PLUGIN CONFIG

$portfolio:    true;
$lightgallery: true;
$lightslider:  true;
$vcomposer:    true;
$woocommerce:  true;
$select2:      $woocommerce;
$wpcf:         false;