
/* --------------------------
 20. Elements
-------------------------- */


// Carousel
@import 'carousel';

// Flip Card
@import 'flipcard';

// Headline
@import 'headline';

// Icon Box
@import 'iconbox';

// Icon List
@import 'iconlist';

// Google Map
@import 'map';

// Pricing Table
@import 'pricing';

// Profile
@import 'profile';

// Review
@import 'review';

// Stat
@import 'stat';

// Timeline
@import 'timeline';

// Form
.mixt-form {
	.submit-box {
		&:last-child { margin-bottom: 0; }

		.btn { width: 100%; }
	}

	.alert-box .alert { margin-bottom: 0; }
}


// VC Integration

.vc_mixt_form,
.vc_mixt_pricing,
.vc_mixt_iconlist,
.vc_mixt_timeline_block {
	.vc_controls-out-tl { top: 0 !important; }
}

.vc_mixt_form .vc_mixt_field {
	@extend %clearfix;
}

// Accent Colors
@each $theme, $colors in $site-themes {
	$accent: map-get($colors, 'accent');

	.theme-#{$theme} {
		.vc_progress-bar-color-accent {
			.vc_label { color: set-color-for-bg($accent); }
			.vc_bar { background-color: $accent; }
		}
	}
}