
// Flip Card

.mixt-flipcard {
	cursor: pointer;
	perspective: 1000px;

	// Where the magic happens
	&:hover,
	&:focus,
	&.hover {
		user-select: none;
		-webkit-touch-callout: none;
		.inner {
			transform: rotateX(180deg);
		}
	}

	.inner {
		position: relative;
		transition: transform 0.4s ease-out 0.1s;
		transform-style: preserve-3d;

		> div {
			height: auto;
			padding: $padding-m;
			text-align: center;
			@extend .flex-middle;
			flex-direction: column;
			border-width: 1px;
			border-style: solid;
			border-radius: $bd-radius;
			box-shadow: 0 1px 3px rgba(0,0,0,0.1);
			backface-visibility: hidden;

			> :last-child { margin-bottom: 0; }
		}
	}

	.front {
		position: relative;
		transform: rotateX(0deg);
		z-index: 2;
	}
	.back {
		position: absolute;
		top: 0; left: 0;
		transform: rotateX(180deg);
	}

	&.flipY {
		&:hover,
		&:focus,
		&.hover {
			.inner { transform: rotateY(180deg); }
		}
		.front { transform: rotateY(0deg); }
		.back { transform: rotateY(180deg); }
	}

	.inner, .front, .back { width: 100%; }

	&.no-border .inner > div { border: 0; }

	// Color Variations

	@mixin flipcard-color($sel, $color) {
		.inner > .#{$sel} {
			color: set-color-for-bg($color);
			background-color: $color;
			border-color: darken($color, 10);
		}
	}
	@each $sel, $color in $basic-colors {
		@include flipcard-color($sel, $color);
	}
}