
// Flip Card

.mixt-flipcard {
	$spacing: $padding-m;

	cursor: pointer;
	perspective: 1000px;

	// Where the magic happens
	&:hover,
	&:focus,
	&.hover {
		user-select: none;
		-webkit-touch-callout: none;
		> .inner {
			transform: rotateX(180deg);
		}
	}

	> .inner {
		position: relative;
		transition: transform 0.4s ease-out 0.1s;
		transform-style: preserve-3d;

		> div {
			width: 100%;
			height: auto;
			padding: $spacing;
			text-align: center;
			@extend .flex-middle;
			flex-direction: column;
			border-width: 1px;
			border-style: solid;
			border-radius: $bd-radius;
			box-shadow: 0 1px 3px rgba(0,0,0,0.1);
			backface-visibility: hidden;

			> :last-child { margin-bottom: 0; }

			// Clearfix
			&:before,
			&:after {
				content: " ";
				display: table;
			}
			&:after { clear: both; }
		}

		.mixt-element,
		.wpb_content_element { margin-bottom: $spacing; }
	}

	.front {
		position: relative;
		transform: rotateX(0deg);
		z-index: 2;
	}
	.back {
		position: absolute;
		top: 0; left: 0;
		transform: rotateX(180deg);
		z-index: 1;
	}

	&.flipY {
		&:hover,
		&:focus,
		&.hover {
			> .inner { transform: rotateY(180deg); }
		}
		.front { transform: rotateY(0deg); }
		.back { transform: rotateY(180deg); }
	}

	> .inner, .front, .back { width: 100%; }

	&.no-border > .inner > div { border: 0; }

	// Color Variations

	@mixin flipcard-color($sel, $color) {
		#{$sel} {
			color: set-color-for-bg($color);
			background-color: $color;
			border-color: darken($color, 10);
		}
	}
	// Basic Colors
	@each $sel, $color in $basic-colors {
		@include flipcard-color('> .inner > .#{$sel}', $color);
	}
	// Accent Colors
	@each $theme, $colors in $themes {
		@include flipcard-color('.theme-#{$theme} & > .inner > .accent', map-get($colors, 'accent'));
	}
}

// Fix IE10-11 not supporting preserve-3d & text not wrapping bug
@if $ie-hacks {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.mixt-flipcard {
			&:hover,
			&:focus,
			&.hover {
				> .inner { transform: none; }
				.front { transform: rotateX(180deg); }
				.back { transform: rotateX(0deg); }
			}

			> .inner {
				transform: none !important;

				> div { align-items: inherit; }
			}

			.front,
			.back { transition: transform 0.4s ease-out 0.1s; }

			.front { transform: rotateX(0deg); }
			.back { transform: rotateX(180deg); }

			&.flipY {
				&:hover,
				&:focus,
				&.hover {
					> .inner { transform: none; }
					.front { transform: rotateY(180deg); }
					.back { transform: rotateY(0deg); }
				}
				.front { transform: rotateY(0deg); }
				.back { transform: rotateY(180deg); }
			}
		}
	}
}