
// Pricing Table

.mixt-pricing {
	padding: 5px;
	margin: 0 !important;

	&.highlight {
		padding-top: 0;
		padding-bottom: 0;

		.mixt-pricing-inner li { padding: 12px 10px; }
	}

	.mixt-pricing-inner {
		$bg: #f8f8f8;
		$color: #555;

		color: $color;
		margin: 0;
		background-color: $bg;
		border-radius: $bd-radius-l;
		border: 1px solid darken($bg, 10);

		@extend %reset-list;

		li {
			padding: 10px;
			text-align: center;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: inherit;

			:last-child { margin-bottom: 0; }

			&:nth-child(odd):not(.header):not(.footer) { background-color: rgba(0,0,0,0.02); }
		}
		.header {
			$bd-radius: $bd-radius-l - 1px;
			border-radius: $bd-radius $bd-radius 0 0;
			border-color: transparent;
			position: relative;

			&:after {
				content: ' ';
				width: 100%; height: 1px;
				position: absolute; left: 0; bottom: -1px;
				box-shadow: 0 -1px 3px rgba(0,0,0,0.06);
				background-color: rgba(0,0,0,0.1);
			}
		}
		.plan-name {
			margin: 5px 0;
			font-size: $font-size-l;
		}
		.plan-desc {
			padding-bottom: 5px; margin-bottom: 5px;
			border-bottom: 1px solid rgba(0,0,0,0.15);
		}
		.plan-desc,
		.plan-time { opacity: 0.75; }
		.price {
			line-height: 1.1;
			font-size: 54px;
			white-space: nowrap;

			.symbol {
				font-size: 50%;
				padding: 0 3px;
				vertical-align: middle;
			}

			.price-decimal {
				font-size: 40%;
				vertical-align: top;
				padding-left: 3px;

				+ .symbol { margin-left: -20px; }
			}
		}
		.plan-time {
			display: block;
			font-size: 30%;
		}

		.footer {
			border-width: 0;
			@extend %bd-radius-bottom;
		}
		.header,
		.footer { background-color: rgba(255,255,255,0.4); }
	}

	// Dark Scheme
	&.dark .mixt-pricing-inner {
		$bg: #444;
		$color: #fff;
		
		background-color: $bg;

		li { color: $color; }

		.header,
		.footer { background-color: rgba(0,0,0,0.1); }
	}

	// Color Variants
	@mixin pricing-table-variant($sel, $color) {
		#{$sel} .mixt-pricing-inner .header {
			color: set-color-for-bg($color);
			background-color: $color;
			box-shadow: 0 0 0 1px darken($color, 10);
			@include text-shadow-for-bg($color);
		}
	}
	// Basic Colors
	@each $sel, $color in $basic-colors {
		@include pricing-table-variant('&.#{$sel}', $color);
	}
	// Accent Colors
	@each $theme, $colors in $themes {
		@include pricing-table-variant('.theme-#{$theme} &.accent', map-get($colors, 'accent'));
	}
}

.pricing-row {
	&,
	> .wpb_wrapper,
	> .wpb_column > .wpb_wrapper {
		width: 100%;
		clear: both;
		display: table;
		table-layout: fixed;
	}

	.mixt-pricing {
		display: table-cell;
		vertical-align: middle;
	}
}

@include media('screen', '<mars') {
	.pricing-row {
		&,
		> .wpb_wrapper,
		.mixt-pricing { display: block !important; }

		.mixt-pricing.highlight { padding: 5px 0; }
	}
}

.mixt-pricing.no-border {
	.mixt-pricing-inner { border-width: 0; }
	.header { box-shadow: none !important; }
}

// Visual Composer Integration

.vc_editor .pricing-row {
	.vc_element.vc_mixt_pricing {
		display: table-cell;
		vertical-align: middle;

		> .mixt-pricing { display: block; }
	}
}
.pricing-row .wpb_wrapper.vc_element-container {
	width: 100%;
	display: table;
}