
// Profile

.mixt-profile {
	.header {
		.name {
			float: left;
			line-height: 1.4;
			font-size: $font-size-l;
			margin-top: $margin-s;

			small { font-size: $font-size-s; }
			&:not(:last-child) { padding-right: 10px; }
		}
		.profile-social {
			float: right;
			margin-top: $margin-s + 5px;
		}

		&:first-child { margin-top: - $margin-s; }
	}

	.desc {
		margin-top: $margin-s;
		margin-bottom: 0;
	}
}