
.mixt-profile {
	max-width: 100%;

	$spacing: $margin-s;
	
	.header {
		text-align: left;

		.name {
			float: left;
			line-height: 1.4;
			margin-top: $spacing;
			font-size: $font-size-l;

			small { font-size: $font-size-s; }
			&:not(:last-child) { padding-right: 10px; }
		}
		.profile-social {
			float: right;
			margin-top: $spacing + 5px;
		}

		&:first-child { margin-top: -$spacing; }
	}

	.content {
		text-align: left;
		margin-top: $spacing;

		.profile-social:not(:first-child) { margin-top: $spacing; }
	}
	.desc { margin-bottom: 0; }

	.profile-social i { width: 16px; }
}