
// Timeline

.mixt-timeline {
	$line-style: dashed;
	$line-width: 2px;
	$arrow-size: 18px;
	$anchor-size: 42px;
	$arrow-offset: $anchor-size / 2;

	float: left;
	width: 100%;
	position: relative;

	&:after {
		content: ' ';
		display: block;
		clear: both;
	}


	// BLOCK STYLING

	$block-padding: $anchor-size / 2 + $arrow-size + 5px;

	@mixin block-left {
		float: left;
		padding-left: 0;
		padding-right: $block-padding;

		&:before {
			left: auto;
			right: $line-width / -2;
		}

		.anchor {
			left: auto;
			right: $anchor-size / -2;
		}

		// Arrow
		.content.bubble {
			@include square-arrow(right, $arrow-size, $border: inherit, $origin: $arrow-offset);
			&:before {
				left: auto;
			}
		}
	}
	@mixin block-right {
		float: right;
		padding-left: $block-padding;
		padding-right: 0;

		&:before {
			right: auto;
			left: $line-width / -2;
		}

		.anchor {
			right: auto;
			left: $anchor-size / -2;
		}

		// Arrow
		.content.bubble {
			@include square-arrow(left, $arrow-size, $border: inherit, $origin: $arrow-offset);
			&:before {
				right: auto;
			}
		}
	}

	.timeline-block {
		width: 100%;
		position: relative;
		padding-bottom: 30px;

		// Line
		&:before {
			content: ' '; width: 1px;
			position: absolute; top: $anchor-size; bottom: 0;
			border-width: 0 $line-width 0 0;
			border-style: $line-style;
		}

		.anchor {
			position: absolute; top: 0;
			width: $anchor-size;
			height: $anchor-size;
			padding: 0;
			font-size: $anchor-size / 2;
			line-height: $anchor-size - 3px;
			text-align: center;
		}


		// BLOCK CONTENT

		.content {
			position: relative;
			min-height: $anchor-size;

			> :last-child { margin-bottom: 0; }
			> :not(:last-child) { margin-bottom: 15px; }

			h1, h2, h3, h4, h5, h6, p {
				&:first-child { margin-top: 0 !important; }
			}

			// Content Styles
			&.boxed,
			&.bubble {
				padding: 15px;
				border-width: 1px;
				border-style: solid;
				border-radius: $bd-radius;
			}
		}

		&:last-child {
			padding-bottom: 0;
			&:before { display: none; }
		}
	}

	&.timeline-left { padding-right: $anchor-size / 2; }
	&.timeline-right { padding-left: $anchor-size / 2; }
	&.timeline-double .timeline-block { width: 50%; clear: both; }

	&.timeline-left .timeline-block,
	&.timeline-double .align-left,
	&.timeline-double .align-auto:nth-child(odd) {
		@include block-left;
	}

	&.timeline-right .timeline-block,
	&.timeline-double .align-right,
	&.timeline-double .align-auto:nth-child(even),
	&.timeline-double .vc_element:nth-child(even) .align-auto {
		@include block-right;
	}

	// Color Variants
	.timeline-block .content {
		&.boxed,
		&.bubble,
		&.bubble:before {
			@extend %basic-color-bg-variants;
		}
	}

	@include media('screen', '<mars') {
		.timeline-block {
			width: 100% !important;
			padding-bottom: 20px;
		}

		&.single-left {
			padding-right: $anchor-size / 2;
			.timeline-block {
				&.align-right,
				&.align-auto:nth-child(even) { @include block-left; }
			}
		}

		&.single-right {
			padding-left: $anchor-size / 2;
			.timeline-block {
				&.align-left,
				&.align-auto:nth-child(odd) { @include block-right; }
			}
		}
	}
}


// Visual Composer Integration

.vc_mixt_timeline,
.vc_mixt_timeline_block {
	@extend %clearfix;
}